<apex:page standardController="teamspirit__AtkApply__c" showQuickActionVfHeader="false">
    <script type="text/javascript">
        var __sfdcSessionId = '{!GETSESSIONID()}';
    </script>
    <script src="../../soap/ajax/44.0/connection.js" type="text/javascript"></script>
    <script src="../../soap/ajax/44.0/apex.js" type="text/javascript"></script>
    <script type="text/javascript">
        var buttonName = "SVFteamspiritAtkApplycButton201801241423025815k0";        // 送付状印刷
        var opp = new sforce.SObject("teamspirit__AtkApply__c");
        opp.id ="{!teamspirit__AtkApply__c.Id}";
        var url = "https://wg1.lightning.force.com/apex/svfcloud__PreviewPage?id=" + opp.id + "&buttonFullName=" + buttonName;
        
        window.location.href = url;
    </script>
</apex:page>