<apex:page standardController="Lead"  extensions="Lead1"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" renderAs="{!renderAs}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="{!p_standardStylesheets}" title="リード編集画面" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "Lead";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style><script>
SkyEditor.RetrievingCustomLookupSettings('Component390','Rival_20151104_tab');
SkyEditor.RetrievingCustomLookupSettings('Component393','Rival_20151104_tab');
</script></head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.layout.min.js')}" />
<apex:includeScript value="/soap/ajax/35.0/connection.js"/>
<apex:stylesheet value="https://wg1.my.salesforce.com/resource/1424411738000/visualeditor" />
<script type="text/javascript">
SkyEditor.setProperty('Metadata.CustomObject.Lead', {!metadataJSON_Lead});
SkyEditor.setProperty('RecordTypes.Lead', {!RecordTypeRecordsJSON_Lead});
{!IF($ObjectType.Lead.fields.Products__c.accessible, "SkyEditor.setProperty('PicklistValues.Lead.Products__c'," + PicklistValuesJSON_Lead_Products_c + ");", "")};
{!IF($ObjectType.Lead.fields.Contact_Role__c.accessible, "SkyEditor.setProperty('PicklistValues.Lead.Contact_Role__c'," + PicklistValuesJSON_Lead_Contact_Role_c + ");", "")};

</script>
<script type="text/javascript" import="true">

</script>
<apex:includeScript value="{!URLFOR($Resource.appcom__ChangeSelectList, 'jquery.editable-select.1.3.2/jquery.editable-select.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.appcom__ChangeSelectList, 'main.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.appcom__ChangeSelectList, 'jquery.editable-select.1.3.2/jquery.editable-select.css')}"/>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:form id="sve_form1" styleClass="sve_form1"  >
<apex:outputPanel id="Component2_Wrapper" styleClass="">
<apex:pageBlock id="Component2" mode="detail" title="リード"  >
<apex:pageBlockButtons location="both"  >
<apex:commandButton action="{!doSave}" id="Component3" value="{!customSaveButtonLabel}"  style="width:100px;"   rendered="{!OR($ObjectType.Lead.createable,$ObjectType.Lead.updateable)}" />
<apex:commandButton action="{!cancel}" id="Component4" rendered="{!!sve_showDeleteCancel}" value="{!customCancelButtonLabel}"  style="width:66px;" /></apex:pageBlockButtons><apex:outputPanel id="Component5_Wrapper" styleClass="columns3"  >
<apex:pageBlockSection collapsible="false" columns="3" id="Component5" showHeader="true" title="リード情報" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component414"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component414}');}">
<apex:outputLabel escape="true" id="Component412" rendered="{!$ObjectType.Lead.fields.OwnerId.accessible}"  style="width:100px;" value="所有者名" onclick="SkyEditor.touchToolTip('{!$Component.Component412}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component413" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.OwnerId}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component384"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component384}');}">
<apex:outputLabel escape="true" id="Component382" rendered="{!$ObjectType.Lead.fields.AppointmentDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.AppointmentDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component382}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component383" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.AppointmentDay__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component171"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component171}');}">
<apex:outputLabel escape="true" id="Component169" rendered="{!$ObjectType.Lead.fields.lead_Timing1__c.accessible}" title="既契約の契約更新月"  style="width:100px;" value="{!$ObjectType.Lead.fields.lead_Timing1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component169}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component170" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.lead_Timing1__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component13_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component13_sectionItem}');}">
<apex:outputLabel escape="true" id="Component14" rendered="{!$ObjectType.Lead.fields.Company.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.Company.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component14}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component13" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.Company}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component16_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component16_sectionItem}');}">
<apex:outputLabel escape="true" id="Component17" rendered="{!$ObjectType.Lead.fields.lead_NGmemo__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lead_NGmemo__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component17}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component16" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:23px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.lead_NGmemo__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component239"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component239}');}">
<apex:outputLabel escape="true" id="Component237" rendered="{!$ObjectType.Lead.fields.lead_NextContactDay__c.accessible}" title="日付当日に、アラートメールが送信、"  style="width:100px;" value="{!$ObjectType.Lead.fields.lead_NextContactDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component237}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component238" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:106px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.lead_NextContactDay__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component211"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component211}');}">
<apex:outputLabel escape="true" id="Component209" rendered="{!$ObjectType.Lead.fields.lead_AccountKana__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lead_AccountKana__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component209}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component210" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.lead_AccountKana__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component718"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component718}');}">
<apex:outputLabel escape="true" id="Component716" rendered="{!$ObjectType.Lead.fields.WEBTitle__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.WEBTitle__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component716}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component717" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.WEBTitle__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component174"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component174}');}">
<apex:outputLabel escape="true" id="Component172" rendered="{!$ObjectType.Lead.fields.Lead_WEBsite_Quality__c.accessible}" title="対象顧客/販売単価/デザイン/SEOとの相性など"  style="width:100px;" value="{!$ObjectType.Lead.fields.Lead_WEBsite_Quality__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component172}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component173" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.Lead_WEBsite_Quality__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component124_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component124_sectionItem}');}">
<apex:outputLabel escape="true" id="Component125" rendered="{!$ObjectType.Lead.fields.lead_BusinessModel__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lead_BusinessModel__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component125}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component124" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.lead_BusinessModel__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component22_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component22_sectionItem}');}">
<apex:outputLabel escape="true" id="Component23" rendered="{!$ObjectType.Lead.fields.Website.accessible}"  style="width:100px;" value="Webサイト" onclick="SkyEditor.touchToolTip('{!$Component.Component23}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component22" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.Website}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component403"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component403}');}">
<apex:outputLabel escape="true" id="Component401" rendered="{!$ObjectType.Lead.fields.WebSiteType__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.WebSiteType__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component401}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component402" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.WebSiteType__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component351"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component351}');}">
<apex:outputLabel escape="true" id="Component349" rendered="{!$ObjectType.Lead.fields.lead_Industry__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lead_Industry__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component349}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component350" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.lead_Industry__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component387"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component387}');}">
<apex:outputLabel escape="true" id="Component385" rendered="{!$ObjectType.Lead.fields.lead_ServiceWEBSite2__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lead_ServiceWEBSite2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component385}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component386" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:35px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.lead_ServiceWEBSite2__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component97_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component97_sectionItem}');}">
<apex:outputLabel escape="true" id="Component98" rendered="{!$ObjectType.Lead.fields.lead_lead1__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lead_lead1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component98}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component97" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:194px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.lead_lead1__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component354"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component354}');}">
<apex:outputLabel escape="true" id="Component352" rendered="{!$ObjectType.Lead.fields.lead_Industrycategory__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lead_Industrycategory__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component352}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component353" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.lead_Industrycategory__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component757"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component757}');}">
<apex:outputLabel escape="true" id="Component755" rendered="{!$ObjectType.Lead.fields.SEOMeasureStatus__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.SEOMeasureStatus__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component755}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component756" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.SEOMeasureStatus__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component103_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component103_sectionItem}');}">
<apex:outputLabel escape="true" id="Component104" rendered="{!$ObjectType.Lead.fields.lead_lead2__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lead_lead2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component104}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component103" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:194px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.lead_lead2__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component278"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component278}');}">
<apex:outputLabel escape="true" id="Component276" rendered="{!$ObjectType.Lead.fields.tag__c.accessible}" title="自分のリードを検索する際に使用できます"  style="width:100px;" value="{!$ObjectType.Lead.fields.tag__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component276}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component277" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.tag__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component760"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component760}');}">
<apex:outputLabel escape="true" id="Component758" rendered="{!$ObjectType.Lead.fields.Products__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.Products__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component758}');"/>
<apex:outputPanel >
<table  border="0" cellpadding="0" cellspacing="0" class="wrapperTable" >
<tr>
<td  >
<apex:outputPanel id="Component759_wrapper"   >
<apex:outputPanel styleclass="fieldwrapper " style="display:none;" >
<apex:inputField id="Component759"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Products__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:inputHidden id="Component759_hidden" value="{!Component759_hidden}" /><script>
new SelectCheckboxes({"objectName":"Lead","fieldName":"Products__c","targetFieldId":"{!$Component.Component759}","layout":"lineDirection","defaultValue":"{!record.Products__c}","recordTypeFieldId":"Component333","defaultRecordType":"{!IF(ISNULL(record.RecordTypeId), defaultRecordTypeId_Lead, record.RecordTypeId)}","styles":{"label":{"color":"#000000","font-size":"1.0em","font-weight":"Normal"}},"backupId":"{!$Component.Component759_hidden}"}).create();
</script></apex:outputPanel></td></tr>
</table></apex:outputPanel></apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component269"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component269}');}">
<apex:outputLabel escape="true" id="Component267" rendered="{!$ObjectType.Lead.fields.Startcheck__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.Startcheck__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component267}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component268" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Startcheck__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component763"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component763}');}">
<apex:outputLabel escape="true" id="Component761" rendered="{!$ObjectType.Lead.fields.SEOBudgetPerMonth__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.SEOBudgetPerMonth__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component761}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component762" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.SEOBudgetPerMonth__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:outputPanel layout="block"  style="text-align:right;" >
<apex:outputPanel id="Component381_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component381" value="「取引の開始」を行う際に【チェック】を入れてください。"  style="color:#FF0000;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</apex:outputPanel><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component766"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component766}');}">
<apex:outputLabel escape="true" id="Component764" rendered="{!$ObjectType.Lead.fields.Capital__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.Capital__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component764}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component765" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Capital__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component772"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component772}');}">
<apex:outputLabel escape="true" id="Component770" rendered="{!$ObjectType.Lead.fields.lastTereapoDate__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lastTereapoDate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component770}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component771"    value="{!record.lastTereapoDate__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component727"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component727}');}">
<apex:outputLabel escape="true" id="Component725" rendered="{!$ObjectType.Lead.fields.lastTereapoMemo__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lastTereapoMemo__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component725}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component726"    value="{!record.lastTereapoMemo__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component769"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component769}');}">
<apex:outputLabel escape="true" id="Component767" rendered="{!$ObjectType.Lead.fields.lastConnectionDate__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lastConnectionDate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component767}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component768"    value="{!record.lastConnectionDate__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component749"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component749}');}">
<apex:outputLabel escape="true" id="Component747" rendered="{!$ObjectType.Lead.fields.lastConnectionMemo__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lastConnectionMemo__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component747}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component748"    value="{!record.lastConnectionMemo__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component5', {"isFirstSection":true,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component303_Wrapper" styleClass="columns3"  >
<apex:pageBlockSection collapsible="false" columns="3" id="Component303" showHeader="true" title="担当者情報" >
<apex:outputPanel id="Component632_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="true" columns="1" id="Component632" showHeader="false" title="Component632" >
<apex:outputPanel id="Component408_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="true" columns="2" id="Component408" showHeader="false" title="Component408" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component25_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component25_sectionItem}');}">
<apex:outputLabel escape="true" id="Component26" rendered="{!$ObjectType.Lead.fields.LastName.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.LastName.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component26}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component25" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.LastName}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component31_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component31_sectionItem}');}">
<apex:outputLabel escape="true" id="Component32" rendered="{!$ObjectType.Lead.fields.FirstName.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.FirstName.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component32}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component31" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.FirstName}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component19_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component19_sectionItem}');}">
<apex:outputLabel escape="true" id="Component20" rendered="{!$ObjectType.Lead.fields.lead_kana__c.accessible}"  style="width:100px;" value="姓名（フリガナ）" onclick="SkyEditor.touchToolTip('{!$Component.Component20}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component19" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.lead_kana__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:outputPanel layout="block"  style="text-align:right;" >
<apex:outputPanel id="Component329_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component329" value="担当者名が不明の場合→「ご担当者」に統一！"  style="color:#FF0000;font-size:12pt;font-weight:Normal;" />
</apex:outputPanel>
</apex:outputPanel></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component408', {"isFirstSection":false,"isMarginRemove":true});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component404_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="true" columns="1" id="Component404" showHeader="false" title="Component404" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component28_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component28_sectionItem}');}">
<apex:outputLabel escape="true" id="Component29" rendered="{!$ObjectType.Lead.fields.Phone.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.Phone.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component29}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component28" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.Phone}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.Lead.fields.Phone2__c.accessible,$ObjectType.Lead.fields.Phone2__c.inlineHelpText,null)}" id="Component291"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component291}');}">
<apex:outputLabel escape="true" id="Component289" rendered="{!$ObjectType.Lead.fields.Phone2__c.accessible}"  style="width:100px;" value="電話2" onclick="SkyEditor.touchToolTip('{!$Component.Component289}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component290" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Phone2__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.Lead.fields.MobilePhone__c.accessible,$ObjectType.Lead.fields.MobilePhone__c.inlineHelpText,null)}" id="Component298"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component298}');}">
<apex:outputLabel escape="true" id="Component296" rendered="{!$ObjectType.Lead.fields.MobilePhone__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.MobilePhone__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component296}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component297" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.MobilePhone__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component40_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component40_sectionItem}');}">
<apex:outputLabel escape="true" id="Component41" rendered="{!$ObjectType.Lead.fields.Email.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.Email.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component41}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component40" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.Email}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component404', {"isFirstSection":false,"isMarginRemove":true});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component632', {"isFirstSection":false,"isMarginRemove":true});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component405_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="true" columns="1" id="Component405" showHeader="false" title="Component405" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component46_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component46_sectionItem}');}">
<apex:outputLabel escape="true" id="Component47" rendered="{!$ObjectType.Lead.fields.lead_Division__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lead_Division__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component47}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component46" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.lead_Division__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component43_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component43_sectionItem}');}">
<apex:outputLabel escape="true" id="Component44" rendered="{!$ObjectType.Lead.fields.Title.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.Title.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component44}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component43" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Title}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component285"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component285}');}">
<apex:outputLabel escape="true" id="Component283" rendered="{!$ObjectType.Lead.fields.Contact_Role__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.Contact_Role__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component283}');"/>
<apex:outputPanel >
<table  border="0" cellpadding="0" cellspacing="0" class="wrapperTable" >
<tr>
<td  >
<apex:outputPanel id="Component284_wrapper"   >
<apex:outputPanel styleclass="fieldwrapper " style="display:none;" >
<apex:inputField id="Component284"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Contact_Role__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:inputHidden id="Component284_hidden" value="{!Component284_hidden}" /><script>
new SelectCheckboxes({"objectName":"Lead","fieldName":"Contact_Role__c","targetFieldId":"{!$Component.Component284}","layout":"pageDirection","defaultValue":"{!record.Contact_Role__c}","recordTypeFieldId":"Component333","defaultRecordType":"{!IF(ISNULL(record.RecordTypeId), defaultRecordTypeId_Lead, record.RecordTypeId)}","styles":{"label":{"color":"#000000","font-size":"1.0em","font-weight":"Normal"}},"backupId":"{!$Component.Component284_hidden}"}).create();
</script></apex:outputPanel></td></tr>
</table></apex:outputPanel></apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component405', {"isFirstSection":false,"isMarginRemove":true});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component406_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="true" columns="1" id="Component406" showHeader="false" title="Component406" >
<apex:outputPanel id="Component407_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component407" value="現在施策企業"  style="color:#000000;font-size:1.0em;font-weight:Bold;" />
</apex:outputPanel>
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component391"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component391}');}">
<apex:outputLabel escape="true" id="Component389" rendered="{!$ObjectType.Lead.fields.RivalCompany1__c.accessible}"  style="width:100px;" value="企業名①" onclick="SkyEditor.touchToolTip('{!$Component.Component389}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component390" onblur="skyeditor_onBlur(this, 'pink')" onclick="sve_openCustomLookupPage(event, '{!$Page.Rival_20151104_tab}', '{!$Component.Component390}',false);" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.RivalCompany1__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component394"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component394}');}">
<apex:outputLabel escape="true" id="Component392" rendered="{!$ObjectType.Lead.fields.RivalCompany2__c.accessible}"  style="width:100px;" value="企業名②" onclick="SkyEditor.touchToolTip('{!$Component.Component392}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component393" onblur="skyeditor_onBlur(this, 'pink')" onclick="sve_openCustomLookupPage(event, '{!$Page.Rival_20151104_tab}', '{!$Component.Component393}',false);" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.RivalCompany2__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component406', {"isFirstSection":false,"isMarginRemove":true});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component303', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component73_Wrapper" styleClass="columns3"  >
<apex:pageBlockSection collapsible="false" columns="3" id="Component73" showHeader="true" title="顧客情報" >
<apex:outputPanel id="Component399_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="false" columns="1" id="Component399" showHeader="false" title="Component399" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component81_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component81_sectionItem}');}">
<apex:outputLabel escape="true" id="Component82" rendered="{!$ObjectType.Lead.fields.PostalCode.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.PostalCode.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component82}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component81" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.PostalCode}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component84_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component84_sectionItem}');}">
<apex:outputLabel escape="true" id="Component85" rendered="{!$ObjectType.Lead.fields.State.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.State.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component85}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component84" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.State}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component87_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component87_sectionItem}');}">
<apex:outputLabel escape="true" id="Component88" rendered="{!$ObjectType.Lead.fields.City.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.City.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component88}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component87" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.City}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component90_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component90_sectionItem}');}">
<apex:outputLabel escape="true" id="Component91" rendered="{!$ObjectType.Lead.fields.Street.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.Street.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component91}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component90" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:228px;height:49px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Street}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component272"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component272}');}">
<apex:outputLabel escape="true" id="Component270" rendered="{!$ObjectType.Lead.fields.building__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.building__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component270}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component271" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:214px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.building__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component334"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component334}');}">
<apex:outputLabel escape="true" id="Component332" rendered="{!$ObjectType.Lead.fields.RecordTypeId.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.RecordTypeId.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component332}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:selectList id="Component333" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" size="1"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"  value="{!record.RecordTypeId}">
	<apex:selectOptions value="{!recordTypeSelector.options}" />
</apex:selectList>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component399', {"isFirstSection":false,"isMarginRemove":true});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component400_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="true" columns="1" id="Component400" showHeader="false" title="Component400" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component346"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component346}');}">
<apex:outputLabel escape="true" id="Component344" rendered="{!$ObjectType.Lead.fields.MailNGDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.MailNGDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component344}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component340"    value="{!record.MailNGDay__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component724"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component724}');}">
<apex:outputLabel escape="true" id="Component722" rendered="{!$ObjectType.Lead.fields.Memo__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.Memo__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component722}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component723" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:245px;height:96px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Memo__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component400', {"isFirstSection":false,"isMarginRemove":true});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component398_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="true" columns="1" id="Component398" showHeader="false" title="Component398" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component698"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component698}');}">
<apex:outputLabel escape="true" id="Component696" rendered="{!$ObjectType.Lead.fields.lead_AttackProduct__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.lead_AttackProduct__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component696}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component200"    value="{!record.lead_AttackProduct__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component695"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component695}');}">
<apex:outputLabel escape="true" id="Component693" rendered="{!$ObjectType.Lead.fields.lead_toiawase__c.accessible}"  style="width:100px;" value="WEB問合せ" onclick="SkyEditor.touchToolTip('{!$Component.Component693}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component691"    value="{!record.lead_toiawase__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component746"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component746}');}">
<apex:outputLabel escape="true" id="Component744" rendered="{!$ObjectType.Lead.fields.FunnelStage__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.FunnelStage__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component744}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component745" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.FunnelStage__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component398', {"isFirstSection":false,"isMarginRemove":true});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component316"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component316}');}">
<apex:outputLabel escape="true" id="Component314" rendered="{!$ObjectType.Lead.fields.SmartViscal__NameCardListName__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.SmartViscal__NameCardListName__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component314}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component308"    value="{!record.SmartViscal__NameCardListName__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component364"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component364}');}">
<apex:outputLabel escape="true" id="Component362" rendered="{!$ObjectType.Lead.fields.MarketoList__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.MarketoList__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component362}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component360"    value="{!record.MarketoList__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component721"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component721}');}">
<apex:outputLabel escape="true" id="Component719" rendered="{!$ObjectType.Lead.fields.NonStyle__c.accessible}"  style="width:100px;" value="無効化" onclick="SkyEditor.touchToolTip('{!$Component.Component719}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component720" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.NonStyle__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component373"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component373}');}">
<apex:outputLabel escape="true" id="Component371" rendered="{!$ObjectType.Lead.fields.MarketoListDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.Lead.fields.MarketoListDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component371}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component369"    value="{!record.MarketoListDay__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component73', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component198_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="true" columns="2" id="Component198" showHeader="false" title="ヒアリング情報" >
</apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component198', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel></apex:pageBlock>
</apex:outputPanel><apex:outputPanel id="Component773" layout="block"  >
<apex:outputPanel id="Component233_Wrapper" layout="inline">
<apex:variable var="currentAppComID" value="Component233" />
<apex:variable var="currentAppProperties" value="{!appComponentProperty[currentAppComID]}" />
<appcom:ChangeSelectList id="Component233" 
noneTextOn="true" 
noneText="--選択--" 
editableOn="true" 
settings="{!currentAppProperties['settings']}"
/>
</apex:outputPanel></apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>