<apex:page standardController="Lead"  extensions="LeadSearchMarketing"   cache="{!p_cache}"   contentType="{!p_contentType}"   docType="{!p_docType}"   expires="{!p_expires}"   language="{!p_language}"   rendered="{!p_rendered}"   setup="{!p_setup}"   showChat="{!p_showChat}"   showHeader="{!p_showHeader}"   sidebar="{!p_sidebar}"   standardStylesheets="{!p_standardStylesheets}"   wizard="{!p_wizard}" >
<head>
<script src="/soap/ajax/25.0/connection.js"></script>
<script src="/soap/ajax/25.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "Lead";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>
<!--[if IE 9 ]> 
<style>
.dataTableSet {margin-bottom:auto;}
</style><![endif]--> </head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.tablesorter.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/addons/pager/jquery.tablesorter.pager.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/tableSortPageingSetting.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.layout.min.js')}" />
<script type="text/javascript">
jQuery(document).ready(function(){
SkyEditor.searchConditionFromTo = getDateFieldsValue();
SkyEditor.searchConditionItem = getSearchItemsValue();
});
SkyEditor.defaultConditionObj = {"Component15":"","Component71":"","Component160":"","Component171":"","Component173":"","Component168":""};

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/skyeditor2_searchTemplate.css')}"/>
<apex:form id="sve_form1"   styleClass="sve_form1"   >
<div id="saveDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="saveDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><input type="text" id="conditionName" size="20" /></td></tr>
        <tr><td colspan="2" style="text-align:center;"><input type="button" id="conditionSave" value="{!Label.SaveConditionButtonSave}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<div id="readDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="readDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><select id="searchConditionList" /></td><td><input type="button" id="deleteCondition" value="{!Label.ReadConditionButtonDelete}" /></td></tr>
        <tr><td colspan="3"><input type="button" id="setCondition" value="{!Label.ReadConditionSetConditions}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<script type="text/javascript">
</script>
<apex:outputPanel id="Component51_Wrapper" styleClass="">
<apex:pageBlock id="Component51"   mode="detail"   title="検索"   >
<apex:pageBlockButtons location="bottom"   >
<apex:commandButton action="{!doSearch}"   id="Component44"   value="▶ リードを検索する"   style="width:150px;color:#009900;font-weight:Bold;" /><apex:commandButton id="Component45"   onclick="clearSearchConditionsForPagererender();return false;"   reRender="messagesPanel"   value="{!Label.canvasClearButton}"   style="width:66px;" /><script>
jQuery('.pbBottomButtons').css('margin-top',0);
</script><apex:outputText id="sve_saveAlertText"   value="{!customSaveWarningLabel}"   style="color:#CC0000;font-size:1.0em;font-weight:Normal;" /></apex:pageBlockButtons><apex:pageBlockSection collapsible="true"   columns="1"   id="Component46"   title="{!customSearchSectionTitle}"   >
<apex:facet name="header"   >
<apex:outputPanel >
<apex:outputText value="{!customSearchSectionTitle}"   /><input   class="btn"   id="saveBtn"   type="button"   value="{!customRegistCriteriaButtonLabel}"  /><input   class="btn"   id="readBtn"   type="button"   value="{!customLoadCriteriaButtonLabel}"  /></apex:outputPanel></apex:facet><apex:outputPanel id="Component47"   >
<fieldset  >
<table   cellpadding="0"   style="font-size:12px;"  >
<tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Lead.fields.Company.accessible}" >
<apex:outputLabel escape="true"   id="Component14"   style="color:#000000;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.Lead.fields.Company.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component14}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Lead.fields.Company.accessible}" >
		<apex:selectList id="Component15_operator" value="{!Component15_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Lead_Company}" />
		</apex:selectList>
		<apex:inputField id="Component15" value="{!Component15_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:194px;height:14px;color:#000000;font-size:1.0em;"  />
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component15}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Lead.fields.OwnerId.createable}" >
<apex:outputLabel escape="true"   id="Component70"   style="color:#000000;font-size:1.0em;font-weight:Bold;" value="営業担当" onclick="SkyEditor.touchToolTip('{!$Component.Component70}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Lead.fields.OwnerId.createable}" >
		<apex:selectList id="Component71_operator" value="{!Component71_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Lead_OwnerId}" />
		</apex:selectList>
		<apex:inputField id="Component71" value="{!Component71_val.OwnerId}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="color:#000000;font-size:1.0em;"  />
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component71}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Lead.fields.tag__c.accessible}" >
<apex:outputLabel escape="true"   id="Component159"   style="color:#000000;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.Lead.fields.tag__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component159}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Lead.fields.tag__c.accessible}" >
		<apex:selectList id="Component160_operator" value="{!Component160_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Lead_tag_c}" />
		</apex:selectList>
		<apex:inputField id="Component160" value="{!Component160_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component160}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Lead.fields.SmartViscal__NameCardListName__c.accessible}" >
<apex:outputLabel escape="true"   id="Component170"   style="color:#000000;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.Lead.fields.SmartViscal__NameCardListName__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component170}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Lead.fields.SmartViscal__NameCardListName__c.accessible}" >
		<apex:selectList id="Component171_operator" value="{!Component171_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Lead_SmartViscal_NameCardListName_c}" />
		</apex:selectList>
		<apex:inputField id="Component171" value="{!Component171_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component171}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Lead.fields.Email.accessible}" >
<apex:outputLabel escape="true"   id="Component172"   style="color:#000000;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.Lead.fields.Email.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component172}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Lead.fields.Email.accessible}" >
		<apex:selectList id="Component173_operator" value="{!Component173_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Lead_Email}" />
		</apex:selectList>
		<apex:inputField id="Component173" value="{!Component173_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component173}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Lead.fields.Marketodouki__c.accessible}" >
<apex:outputLabel escape="true"   id="Component167"   style="color:#000000;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.Lead.fields.Marketodouki__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component167}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Lead.fields.Marketodouki__c.accessible}" >
		<apex:selectList id="Component168_operator" value="{!Component168_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Lead_Marketodouki_c}" />
		</apex:selectList>
		<apex:inputField id="Component168" value="{!Component168_val.SkyEditor2__Checkbox__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="color:#000000;font-size:1.0em;"  />
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component168}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr></table></fieldset></apex:outputPanel></apex:pageBlockSection>
</apex:pageBlock>
</apex:outputPanel></apex:form><apex:form id="sve_form2"   styleClass="sve_form2"   >
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1"   mode="detail"   title=" "   >
<apex:pageBlockButtons location="top"   >
<apex:commandButton action="{!doSave}"   id="Component48"   onclick="disabledFieldItems(); "   value="▶ 変更内容を保存する"   style="width:150px;color:#FF6600;font-weight:Bold;"   rendered="{!OR($ObjectType.Lead.createable,$ObjectType.Lead.updateable)}" />
</apex:pageBlockButtons><apex:outputPanel id="Component2_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="Component2"   layout="block"   styleClass="dataTableSet"   style="overflow:auto;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<table   class="tableOperator"   id="Component2_header"  >
<tr  >
<td  >
<input   class="btn"   id="Component2_bulkEditButton"   onclick="openBulkEditDialog('Component2_table','Component2_table_editDialog');"   type="button"   value="{!label.customBulkEditButtonLabel}"  /></td><td  >
<apex:commandButton action="{!Component2.doDeleteSelectedItems}"   id="Component2_deleteButton"   immediate="false"   onclick="if(mirrorFormSync('Component2_table','Component2_table_mirror',this)){ return false; } else if ( !bulkDelete('Component2_table')){ arguments[0].preventDefault();return false; } disabledFieldItems();"   oncomplete="enableFieldItems(); "   reRender="Component2,messagesPanel"   rendered="{!($ObjectType.Lead.deletable)}"   status="Component2_deleteButton_status"   value="{!label.customSelectionDeleteButtonLabel}"    >
</apex:commandButton><apex:actionStatus id="Component2_deleteButton_status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
</td><td  >

<apex:actionFunction name="Component2_first" action="{!Component2.doFirst}" reRender="Component2" status="Component2_status" />
<apex:actionFunction name="Component2_previous" action="{!Component2.doPrevious}" reRender="Component2" status="Component2_status" />
<apex:actionFunction name="Component2_next" action="{!Component2.doNext}" reRender="Component2" status="Component2_status" />
<apex:actionFunction name="Component2_last" action="{!Component2.doLast}" reRender="Component2" status="Component2_status" />
<div   id="Component2__pager"   layout="block"   reRender="Component2"  class="pager" style="margin-left:20px; text-align:center;">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/addons/pager/icons/first.png')}" class="first" onclick="Component2_first();" />
		</td>
		<td> 
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/addons/pager/icons/prev.png')}" class="prev" onclick="Component2_previous();" />
		</td>
		<td>
			<input type="text" class="pagedisplay" readonly="readonly" value="{!Component2.pageNumber} / {!Component2.lastPageNumber}" />
		</td>
		<td>
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/addons/pager/icons/next.png')}" class="next" onclick="Component2_next();" />
		</td>
		<td>
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/addons/pager/icons/last.png')}" class="last" onclick="Component2_last();" />
		</td>
		<td>
			<apex:selectList styleClass="pagesize" value="{!Component2.pageSize}" size="1">
				<apex:selectOption itemValue="5" itemLabel="5" />
				<apex:selectOption itemValue="10" itemLabel="10" />
				<apex:selectOption itemValue="25" itemLabel="25" />
				<apex:selectOption itemValue="50" itemLabel="50" />
				<apex:selectOption itemValue="100" itemLabel="100" />
				<apex:actionSupport event="onchange" action="{!Component2.doFirst}" reRender="Component2" status="Component2_status"  />
			</apex:selectList>
			<apex:actionStatus id="Component2_status">
				<apex:facet name="start">
					<apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
				</apex:facet>
			</apex:actionStatus>
		</td>
	</tr>
	</table>
</div>
</td><td  >
<apex:outputPanel style="margin-left:20px;"   >
<apex:outputText value="{!rowCount}"   /><apex:outputText value="{!IF(Component2.items.size >=500, (rowCountPrefix & ' ' & TEXT(Component2.items.size) & ' ' & rowCountSuffix), (':' & TEXT(Component2.items.size)))}"   /></apex:outputPanel></td></tr></table><apex:outputPanel layout="block"   styleClass="tableWrapper"    >
<apex:pageBlockTable columnsWidth="30px,134px,134px,152px,134px,134px,134px,134px"   id="Component2_table"   rows="500"   value="{!Component2.viewItems}"   var="Component2_item"   >
<apex:column style="width:30px;" >
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:30px;display:block;" >
<apex:inputCheckbox onclick="applyChecked(event, this, 'Component2');"   value="{!Component2.selected}"   >
</apex:inputCheckbox></apex:outputPanel></apex:facet><apex:inputCheckbox id="BulkSelectCheckbox"   onclick="SkyEditor.MirrorForm.update('Component2_table', 'Component2_table_mirror', this);"   styleClass="BulkSelectCheckbox"   value="{!Component2_item.selected}"   >
</apex:inputCheckbox><script>
document.getElementById('{!$Component.BulkSelectCheckbox}').setAttribute('rid','{!Component2_item.record.Id}');
</script></apex:column><apex:column id="Component163"   style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.Lead.fields.Marketodouki__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component162"   onblur="skyeditor_onBlur(this, 'pink')"   onfocus="skyeditor_onFocus(this, 'pink')"   required="false"   style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component2_item.record.Marketodouki__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   reRender="Component2"   style="color:#000000;">
		{!$ObjectType.Lead.fields.Marketodouki__c.label}
	<apex:param name="sortfield" value="Marketodouki__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='Marketodouki__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='Marketodouki__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='Marketodouki__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component68"   style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.Lead.fields.OwnerId.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:80px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
<apex:outputField id="Component67"     value="{!Component2_item.record.OwnerId}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   reRender="Component2"   style="color:#000000;">
		営業担当
	<apex:param name="sortfield" value="OwnerId" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='OwnerId', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='OwnerId', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='OwnerId', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component23"   style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.Lead.fields.Company.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:150px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component22"     value="{!Component2_item.record.Company}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   reRender="Component2"   style="color:#000000;">
		{!$ObjectType.Lead.fields.Company.label}
	<apex:param name="sortfield" value="Company" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='Company', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='Company', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='Company', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component73"   style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.Lead.fields.Name.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:90px;color:#0000FF;font-size:1.0em;font-weight:Normal;text-decoration:underline;display:block;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
		<apex:outputLink value="/{!Component2_item.record.id}"
	 target="_blank" 	onclick="return SkyEditor.navigateToSobjectByNameLink('{!Component2_item.record.id}',true);" >
	<apex:outputField id="Component72"     value="{!Component2_item.record.Name}" />
</apex:outputLink>
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   reRender="Component2"   style="color:#000000;">
		{!$ObjectType.Lead.fields.Name.label}
	<apex:param name="sortfield" value="Name" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='Name', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='Name', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='Name', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component66"   style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.Lead.fields.Website.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component65"     value="{!Component2_item.record.Website}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   reRender="Component2"   style="color:#000000;">
		URL
	<apex:param name="sortfield" value="Website" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='Website', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='Website', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='Website', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component31"   style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.Lead.fields.Phone.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:80px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component30"     value="{!Component2_item.record.Phone}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   reRender="Component2"   style="color:#000000;">
		{!$ObjectType.Lead.fields.Phone.label}
	<apex:param name="sortfield" value="Phone" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='Phone', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='Phone', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='Phone', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component120"   style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.Lead.fields.LastModifiedDate.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component119"     value="{!Component2_item.record.LastModifiedDate}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   reRender="Component2"   style="color:#000000;">
		{!$ObjectType.Lead.fields.LastModifiedDate.label}
	<apex:param name="sortfield" value="LastModifiedDate" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='LastModifiedDate', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='LastModifiedDate', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='LastModifiedDate', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column></apex:pageBlockTable><script type="text/javascript">
    jQuery("[id$='Component2_table'] > tbody > tr:even").addClass('even');
    jQuery("[id$='Component2_table'] > tbody > tr:odd").addClass('odd');
</script><script>
SkyEditor.FixedTableHeader('{!$Component.Component2}',true);
</script></apex:outputPanel><apex:outputPanel id="Component2_table_mirror" style="display:none;">
<apex:actionRegion >
	<apex:repeat rows="500" value="{! Component2.pageItems}" var="Component2_table_mirrorFormItem">
		<apex:inputCheckbox id="BulkSelectCheckbox" styleClass="BulkSelectCheckbox" value="{! Component2_table_mirrorFormItem.selected}" />
	</apex:repeat>
	<apex:commandButton id="Component2_table_mirrorFormButton" value="Send" rerender="Component2_table_mirror" oncomplete="jQuery(SkyEditor.reSubmitTarget['{! $Component.Component2_table_mirrorFormButton}']).click();"/>
</apex:actionRegion>
</apex:outputPanel>
<script>
jQuery(function() {
//検索時に検索結果のレコードがある場合
if({!Component2.items.size} > 0) {
//検索条件部分を非表示にする
jQuery("[id$=':Component46'] .hideListButton").trigger("click");
}
});
</script><script>
ObscureUnusedCondition();
</script><apex:inputTextArea id="Component2_hiddenValue" value="{!Component2.hiddenValue}" style="display:none;" rendered="{!$ObjectType.Lead.createable}"></apex:inputTextArea>
<apex:commandButton id="Component2_importByJSON" action="{!Component2.importByJSON}" style="display:none;" reRender="Component2" rendered="{!$ObjectType.Lead.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('Component2');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=Component2]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
</apex:pageBlock>
</apex:outputPanel></apex:form><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
<div style="border:solid 1px #CCC; display:none;" id="Component2_table_editDialog">
  <apex:form id="Component175">
    <apex:panelGrid columns="2">
      <apex:outputLabel >{!label.customFieldSelectionLabel}</apex:outputLabel>
      <apex:actionRegion >
        <apex:selectList id="Component2_table_selecter" value="{!Component2_table_selectval}" size="1">
          <apex:selectOption itemValue="" itemLabel="{!label.customSelectOptionNoneLabel}" />
          <apex:selectOption itemValue="Component162_dedit" itemLabel="{!$ObjectType.Lead.fields.Marketodouki__c.label}" rendered="{!AND($ObjectType.Lead.fields.Marketodouki__c.createable)}" />
        </apex:selectList>
      </apex:actionRegion>
      <apex:outputLabel >{!label.customValueLabel}</apex:outputLabel>
      <apex:outputPanel >
        <div id="Component162_dedit_div">
          <apex:inputField id="Component162_dedit" value="{!Component2_table_Conversion.Marketodouki__c}" rendered="{!AND($ObjectType.Lead.fields.Marketodouki__c.createable)}" required="false" />
        </div>
      </apex:outputPanel>
    </apex:panelGrid>
    <apex:outputPanel layout="block" style="margin-top:20px;text-align:center;">
      <input type="button" class="btn" value="{!label.customEditButtonLabel}" onclick="setTableValue('Component2_table','Component2_table_editDialog')" />
      <input type="button" class="btn" value="{!label.customBulkEditWindowCloseButtonLabel}" onclick="closeBulkEditDialog('Component2_table','Component2_table_editDialog')" />
    </apex:outputPanel>
  </apex:form>
  <script type="text/javascript">
jQuery(escapeID('#{!$Component.Component175.Component2_table_selecter}')).change(function() {
    var divs = jQuery('#Component162_dedit_div')
 
    if (divs.length){
        divs.hide();
    }else{
        return;
   }
    var selectItem = jQuery('#'+jQuery(this).find('option:selected').attr('value')+'_div');
	   if (jQuery(selectItem).length){
    selectItem.show();
    }
}).change();</script>
</div><script type="text/javascript"></script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>