<apex:page standardController="OpportunityProduct__c"  extensions="LEX_Opportunity_SearchCleaner"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" renderAs="{!renderAs}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="{!p_standardStylesheets}" title="Search Cleaner商談商品" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/42.0/connection.js"></script>
<script src="/soap/ajax/42.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "OpportunityProduct__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
	SkyEditor.isLightningComponentLoading = "{!sve_load_source}" === "lightning";
	if(SkyEditor.isLightningComponentLoading){
		SkyEditor.Lightning.initialize("{!sve_originUrl}","{!sve_frame_token}");
	}
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style><script>
SkyEditor.RetrievingCustomLookupSettings('Component26','Opportunity_Search');
SkyEditor.RetrievingCustomLookupSettings('Component6','ProductSearch');
SkyEditor.RetrievingCustomLookupSettings('Component223','Requestdecision');
</script></head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/jquery.timepicker.min.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery.timepicker.min.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/sve2lex.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery.layout.min.js')}" />
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">

</script>
<div class="sveds">

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:form id="sve_form1" styleClass="sve_form1"  >
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1" mode="detail"  >
<apex:pageBlockButtons location="both"  >
<apex:commandButton action="{!doSave}" id="Component24" value="{!customSaveButtonLabel}"  style="width:100px;"   rendered="{!OR($ObjectType.OpportunityProduct__c.createable,$ObjectType.OpportunityProduct__c.updateable)}" />
<apex:commandButton action="{!cancel}" id="Component23" rendered="{!!sve_showDeleteCancel}" value="{!customCancelButtonLabel}"  style="width:100px;" /></apex:pageBlockButtons><apex:outputPanel id="Component141_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="false" columns="1" id="Component141" showHeader="false" title="Component141" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component144"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component144}');}">
<apex:outputLabel escape="true" id="Component142" rendered="{!$ObjectType.OpportunityProduct__c.fields.Account__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Account__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component142}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component143"    value="{!record.Account__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component147"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component147}');}">
<apex:outputLabel escape="true" id="Component145" rendered="{!$ObjectType.OpportunityProduct__c.fields.sisakuompany__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.sisakuompany__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component145}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component146"    value="{!record.sisakuompany__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component141', {"isFirstSection":true,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component2_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="false" columns="1" id="Component2" showHeader="true" title="商品内容" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component27"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component27}');}">
<apex:outputLabel escape="true" id="Component25" rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component25}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component26" onblur="skyeditor_onBlur(this, 'pink')" onclick="sve_openCustomLookupPage(event,'{!$Page.Opportunity_Search}','{!$Component.Component26}',false,670,480);" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:250px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.Opportunity__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component245"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component245}');}">
<apex:outputLabel escape="true" id="Component243" rendered="{!$ObjectType.OpportunityProduct__c.fields.EditOpportunity__c.accessible}"  style="width:100px;" value=" " onclick="SkyEditor.touchToolTip('{!$Component.Component243}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component244"    value="{!record.EditOpportunity__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component7"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component7}');}">
<apex:outputLabel escape="true" id="Component5" rendered="{!$ObjectType.OpportunityProduct__c.fields.Product__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Product__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component5}');"/>
<apex:outputPanel >
<apex:actionRegion >
<table  border="0" cellpadding="0" cellspacing="0" class="wrapperTable" >
<tr>
<td  class="sveWrapperTableMainTd" >
<apex:outputPanel id="Component266"  >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component6" onblur="skyeditor_onBlur(this, 'pink')" onclick="sve_openCustomLookupPage(event,'{!$Page.ProductSearch}','{!$Component.Component6}',true,670,480);" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:250px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.Product__c}">
<apex:actionSupport action="{!loadReferenceValues_Component6}" event="onchange" oncomplete="filterListSibling(jQuery('[id$=Component178]'),jQuery(document.getElementById('{!$Component.Component6}'))).change();SkyEditor.afterLookup('Component6');filterListSibling(jQuery('[id$=Component182]'),jQuery(document.getElementById('{!$Component.Component6}'))).change();SkyEditor.afterLookup('Component6');enableFieldItems();" onsubmit="SkyEditor.DOM.reflectLookupValue(this);" reRender="Component178,Component182,Component266" status="Component6_Status" /></apex:inputField>
</apex:outputPanel>
 <script type="text/javascript">
(function () {
  var id = '{!$Component.Component6}';
  var id_lkid = id + '_lkid';
  var ua = navigator.userAgent,
      isIPad = /\(iPad; /.test(ua),
      isIPhone = /\(iPhone; /.test(ua);

  jQuery(document.getElementById(id))
    .keydown(function(event) {
      if (event.keyCode === 13) {
          event.preventDefault();       }
    })
    .change(function(event) {
      customDisabledFieldItems();
        stopLinkClick();
    });

    jQuery(document.getElementById(id_lkid))
    .change(function() {
      customDisabledFieldItems();
        stopLinkClick();
    })
    .blur(function() {
      if (this.tagName !== 'SELECT') {
        return;
      }
      jQuery(this).change();
    });
  
  function stopLinkClick() {
    var id_lkwgt = id + '_lkwgt';
    document.getElementById(id_lkwgt).onclick=false;
    jQuery(document.getElementById(id_lkwgt))
      .on('click', SkyEditor.DOM.stopEvent).attr('disabled', 'disabled');
  }
  if(!_displaySuggestions){
    var _displaySuggestions = AutoCompleteInputElement.prototype.displaySuggestions;
    AutoCompleteInputElement.prototype.displaySuggestions = function () {
	  if (this.element.id === "phSearchInput") {
	    _displaySuggestions.apply(this, arguments);
      }
    };
  }
})();
</script></apex:outputPanel></td><td  >
<apex:actionStatus id="Component6_Status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
</td></tr>
</table></apex:actionRegion></apex:outputPanel></apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component242"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component242}');}">
<apex:outputLabel escape="true" id="Component240" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_Product__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_Product__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component240}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component241"    value="{!record.Item_Detail_Product__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component187"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component187}');}">
<apex:outputLabel escape="true" id="Component177" rendered="{!$ObjectType.OpportunityProduct__c.fields.ProductTypeView__c.accessible}"  style="width:100px;" value="分類" onclick="SkyEditor.touchToolTip('{!$Component.Component177}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#666666;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component178"    value="{!record.ProductTypeView__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component188"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component188}');}">
<apex:outputLabel escape="true" id="Component181" rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity_DeliveryExistenceView__c.accessible}"  style="width:100px;" value="納品有無" onclick="SkyEditor.touchToolTip('{!$Component.Component181}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#666666;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component182"    value="{!record.Opportunity_DeliveryExistenceView__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component254"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component254}');}">
<apex:outputLabel escape="true" id="Component252" rendered="{!$ObjectType.OpportunityProduct__c.fields.BillingTiming__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.BillingTiming__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component252}');"/>
<apex:outputPanel >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component253" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:124px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.BillingTiming__c}">
</apex:inputField>
</apex:outputPanel>
 <script>
(function() {    if ({!AND(NOT(ISNULL(record.Id)), ISNULL(record.BillingTiming__c))}) {        return;    }    var id = '{!$Component.Component253}';    var element = document.getElementById(id);    SkyEditor.DOM.removeEnptyOption(element);}());
</script></apex:outputPanel></apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component251"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component251}');}">
<apex:outputLabel escape="true" id="Component249" rendered="{!$ObjectType.OpportunityProduct__c.fields.AutomaticUpdate__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.AutomaticUpdate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component249}');"/>
<apex:outputPanel >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component250" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:124px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.AutomaticUpdate__c}">
</apex:inputField>
</apex:outputPanel>
 <script>
(function() {    if ({!AND(NOT(ISNULL(record.Id)), ISNULL(record.AutomaticUpdate__c))}) {        return;    }    var id = '{!$Component.Component250}';    var element = document.getElementById(id);    SkyEditor.DOM.removeEnptyOption(element);}());
</script></apex:outputPanel></apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component239"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component239}');}">
<apex:outputLabel escape="true" id="Component237" rendered="{!$ObjectType.OpportunityProduct__c.fields.Agreement__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Agreement__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component237}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#666666;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component238"    value="{!record.Agreement__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component16"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component16}');}">
<apex:outputLabel escape="true" id="Component14" rendered="{!$ObjectType.OpportunityProduct__c.fields.Price__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Price__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component14}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component15" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:124px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.Price__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component134"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component134}');}">
<apex:outputLabel escape="true" id="Component132" rendered="{!$ObjectType.OpportunityProduct__c.fields.Quantity__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Quantity__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component132}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component12"    value="{!record.Quantity__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component116"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component116}');}">
<apex:outputLabel escape="true" id="Component114" rendered="{!$ObjectType.OpportunityProduct__c.fields.BuyingupPrice__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.BuyingupPrice__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component114}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component115" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:124px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.BuyingupPrice__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component199"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component199}');}">
<apex:outputLabel escape="true" id="Component197" rendered="{!$ObjectType.OpportunityProduct__c.fields.TotalPrice__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.TotalPrice__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component197}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Bold;" >
<apex:outputField id="Component198"    value="{!record.TotalPrice__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component248"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component248}');}">
<apex:outputLabel escape="true" id="Component246" rendered="{!$ObjectType.OpportunityProduct__c.fields.ContractMonths__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.ContractMonths__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component246}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component247" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:124px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.ContractMonths__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component101"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component101}');}">
<apex:outputLabel escape="true" id="Component99" rendered="{!$ObjectType.OpportunityProduct__c.fields.TotalPriceAll__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.TotalPriceAll__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component99}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Bold;" >
<apex:outputField id="Component100"    value="{!record.TotalPriceAll__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component79"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component79}');}">
<apex:outputLabel escape="true" id="Component77" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Commission_rate__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Commission_rate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component77}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component78" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:124px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item_Commission_rate__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component150"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component150}');}">
<apex:outputLabel escape="true" id="Component148" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component148}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component149"    value="{!record.SalesPerson__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component2', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#3399FF","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component67_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="false" columns="1" id="Component67" showHeader="true" title="契約内容" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component227"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component227}');}">
<apex:outputLabel escape="true" id="Component225" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Entry_date__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Entry_date__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component225}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component226" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:124px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item_Entry_date__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component66"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component66}');}">
<apex:outputLabel escape="true" id="Component64" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_start_date__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_start_date__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component64}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component65" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:124px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.Item_Contract_start_date__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component122"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component122}');}">
<apex:outputLabel escape="true" id="Component120" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_end_date__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_end_date__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component120}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component62"    value="{!record.Item_Contract_end_date__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.OpportunityProduct__c.fields.OutsourcingApplication__c.accessible,$ObjectType.OpportunityProduct__c.fields.OutsourcingApplication__c.inlineHelpText,null)}" id="Component221"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component221}');}">
<apex:outputLabel escape="true" id="Component217" rendered="{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplication__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplication__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component217}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component218" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:124px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.OutsourcingApplication__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component224"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component224}');}">
<apex:outputLabel escape="true" id="Component222" rendered="{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplicationName__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplicationName__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component222}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component223" onblur="skyeditor_onBlur(this, 'pink')" onclick="sve_openCustomLookupPage(event,'{!$Page.Requestdecision}','{!$Component.Component223}',false,670,480);" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:250px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.OutsourcingApplicationName__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component131"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component131}');}">
<apex:outputLabel escape="true" id="Component129" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Keyword_strategy_keyword__c.accessible}"  style="width:100px;" value="検索キーワード" onclick="SkyEditor.touchToolTip('{!$Component.Component129}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component130" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item_Keyword_strategy_keyword__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component82"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component82}');}">
<apex:outputLabel escape="true" id="Component80" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Keyword_multiple_strategy_keyword__c.accessible}"  style="width:100px;" value="対策キーワード/URL" onclick="SkyEditor.touchToolTip('{!$Component.Component80}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component81" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:54px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item_Keyword_multiple_strategy_keyword__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component49"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component49}');}">
<apex:outputLabel escape="true" id="Component47" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Special_instruction__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Special_instruction__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component47}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component48" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;height:45px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item_Special_instruction__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component205"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component205}');}">
<apex:outputLabel escape="true" id="Component203" rendered="{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component203}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component204" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:124px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.AmountCountDay__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component202"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component202}');}">
<apex:outputLabel escape="true" id="Component200" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component200}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component201" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:124px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.SalesForecast01__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component260"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component260}');}">
<apex:outputLabel escape="true" id="Component258" rendered="{!$ObjectType.OpportunityProduct__c.fields.gross_profit_view__c.accessible}"  style="width:100px;" value="評価額" onclick="SkyEditor.touchToolTip('{!$Component.Component258}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component259"    value="{!record.gross_profit_view__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component263"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component263}');}">
<apex:outputLabel escape="true" id="Component261" rendered="{!$ObjectType.OpportunityProduct__c.fields.ProfitPercentage__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.ProfitPercentage__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component261}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component262"    value="{!record.ProfitPercentage__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component257"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component257}');}">
<apex:outputLabel escape="true" id="Component255" rendered="{!$ObjectType.OpportunityProduct__c.fields.IrregularCoefficient__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.IrregularCoefficient__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component255}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component256" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:124px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.IrregularCoefficient__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component67', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#3399FF","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component151_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="false" columns="1" id="Component151" showHeader="true" title="案分" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component230"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component230}');}">
<apex:outputLabel escape="true" id="Component228" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMainUnit1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMainUnit1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component228}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component207"    value="{!record.SalesPersonMainUnit1__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component233"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component233}');}">
<apex:outputLabel escape="true" id="Component231" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMain__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMain__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component231}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component159"    value="{!record.SalesPersonMain__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component167"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component167}');}">
<apex:outputLabel escape="true" id="Component162" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component162}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component163" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:124px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.SalesPercentage1__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component173"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component173}');}">
<apex:outputLabel escape="true" id="Component170" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSubUnit__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSubUnit__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component170}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component171"    value="{!record.SalesPersonSubUnit__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component166"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component166}');}">
<apex:outputLabel escape="true" id="Component160" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSub__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSub__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component160}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component161" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:194px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.SalesPersonSub__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component164"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component164}');}">
<apex:outputLabel escape="true" id="Component156" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage2__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component156}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component157" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:124px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.SalesPercentage2__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component151', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel></apex:pageBlock>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</div>
</apex:page>