<apex:page standardController="TextManagement2__c"  extensions="NouhinDATAforPS"   applyBodyTag="{!p_applyHtmlTag}"   applyHtmlTag="{!p_applyHtmlTag}"   cache="{!p_cache}"   contentType="{!p_contentType}"   docType="{!p_docType}"   expires="{!p_expires}"   language="{!p_language}"   rendered="{!p_rendered}"   setup="{!p_setup}"   showChat="{!p_showChat}"   showHeader="{!p_showHeader}"   sidebar="{!p_sidebar}"   standardStylesheets="{!p_standardStylesheets}"   title="テキスト納品管理画面"   wizard="{!p_wizard}" >
<head>
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "TextManagement2__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
.Component2_header{ 
height:50px; padding: 0px !important;}

</style><!--[if IE 9 ]> 
<style>
.dataTableSet {margin-bottom:auto;}
</style><![endif]--> </head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.layout.min.js')}" />
<script type="text/javascript">
jQuery(document).ready(function(){
SkyEditor.searchConditionFromTo = getDateFieldsValue();
SkyEditor.searchConditionItem = getSearchItemsValue();
});
SkyEditor.defaultConditionObj = {"Component17":"","Component298":"","Component122":"","Component133":"","Component256":"","Component319":"","Component342":"","Component11":"","Component199":"","Component326":"","Component328":"","Component336":""};

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_searchTemplate.css')}"/>
<apex:form id="sve_form1"   styleClass="sve_form1"   >
<div id="saveDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="saveDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><input type="text" id="conditionName" size="20" /></td></tr>
        <tr><td colspan="2" style="text-align:center;"><input type="button" id="conditionSave" value="{!Label.SaveConditionButtonSave}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<div id="readDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="readDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><select id="searchConditionList" /></td><td><input type="button" id="deleteCondition" value="{!Label.ReadConditionButtonDelete}" /></td></tr>
        <tr><td colspan="3"><input type="button" id="setCondition" value="{!Label.ReadConditionSetConditions}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<script type="text/javascript">
</script>
<apex:outputPanel id="Component64_Wrapper" styleClass="">
<apex:pageBlock id="Component64"   mode="detail"   title="納品管理画面"   >
<apex:pageBlockButtons location="bottom"   >
<apex:commandButton action="{!doSearch}"   id="Component58"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   value="検　索"   style="width:100px;" /><apex:commandButton id="Component59"   onclick="clearSearchConditionsForPagererender();return false;"   reRender="messagesPanel"   value="{!Label.canvasClearButton}"   style="width:66px;" /><script>
jQuery('.pbBottomButtons').css('margin-top',0);
</script><apex:outputText id="sve_saveAlertText"   value="{!customSaveWarningLabel}"   style="color:#CC0000;font-size:1.0em;font-weight:Normal;" /></apex:pageBlockButtons><apex:pageBlockSection collapsible="true"   columns="1"   id="Component60"   title="{!customSearchSectionTitle}"   >
<apex:facet name="header"   >
<apex:outputPanel >
<apex:outputText value="{!customSearchSectionTitle}"   /><input   class="btn"   id="saveBtn"   type="button"   value="{!customRegistCriteriaButtonLabel}"  /><input   class="btn"   id="readBtn"   type="button"   value="{!customLoadCriteriaButtonLabel}"  /><apex:actionRegion >
<apex:inputCheckbox id="sve_search_ssp_confirm_check"   styleClass="QueryPagingConfirm"   value="{!QueryPagingConfirmationSetting}"   >
<apex:actionSupport action="{!null}"   event="onclick"   onsubmit="SkyEditor.setQueryPagingConfirm(this)"   reRender="sve_search_ssp_confirm_check"  /></apex:inputCheckbox></apex:actionRegion><apex:outputText value="{!label.QueryPagingConfirmationSettingLabel}"   /></apex:outputPanel></apex:facet><apex:outputPanel id="Component61"   >
<fieldset  >
<table   border="0"   cellpadding="0"   style="font-size:12px;">
<tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.CloudStatus__c.accessible}" >
<apex:outputLabel escape="true"   id="Component16"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.TextManagement2__c.fields.CloudStatus__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component16}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.TextManagement2__c.fields.CloudStatus__c.accessible}" >
		<apex:selectList id="Component17_operator" value="{!Component17_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_TextManagement2_c_CloudStatus_c_multi}" />
		</apex:selectList>
		<apex:selectList id="Component17" value="{!Component17_val.SkyEditor2__Text__c}" size="1" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="color:#000000;font-size:1.0em;">
			<apex:selectOptions value="{!valueOptions_TextManagement2_c_CloudStatus_c_multi}"/>
		</apex:selectList>
		<apex:inputHidden value="{!Component17_val_dummy.SkyEditor2__Text__c}" id="Component17_Hidden"/>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component17}";
				inputSearchItemMultiSelect(id);
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.Item2_DeliveryExistence__c.accessible}" >
<apex:outputLabel escape="true"   id="Component297"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="納品有無" onclick="SkyEditor.touchToolTip('{!$Component.Component297}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.TextManagement2__c.fields.Item2_DeliveryExistence__c.accessible}" >
		<apex:selectList id="Component298_operator" value="{!Component298_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_TextManagement2_c_Item2_DeliveryExistence_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component298" value="{!Component298_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component298}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.SalesPerson10__c.createable}" >
<apex:outputLabel escape="true"   id="Component121"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.TextManagement2__c.fields.SalesPerson10__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component121}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.TextManagement2__c.fields.SalesPerson10__c.createable}" >
		<apex:selectList id="Component122_operator" value="{!Component122_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_TextManagement2_c_SalesPerson10_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component122" value="{!Component122_val.SalesPerson10__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component122}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.Account1__c.accessible}" >
<apex:outputLabel escape="true"   id="Component132"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.TextManagement2__c.fields.Account1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component132}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.TextManagement2__c.fields.Account1__c.accessible}" >
		<apex:selectList id="Component133_operator" value="{!Component133_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_TextManagement2_c_Account1_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component133" value="{!Component133_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component133}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryPerson__c.createable}" >
<apex:outputLabel escape="true"   id="Component255"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.TextManagement2__c.fields.DeliveryPerson__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component255}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryPerson__c.createable}" >
		<apex:selectList id="Component256_operator" value="{!Component256_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_TextManagement2_c_DeliveryPerson_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component256" value="{!Component256_val.DeliveryPerson__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component256}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.sisakukigyou__c.accessible}" >
<apex:outputLabel escape="true"   id="Component318"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.TextManagement2__c.fields.sisakukigyou__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component318}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.TextManagement2__c.fields.sisakukigyou__c.accessible}" >
		<apex:selectList id="Component319_operator" value="{!Component319_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_TextManagement2_c_sisakukigyou_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component319" value="{!Component319_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component319}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.SalesPersonUnit__c.accessible}" >
<apex:outputLabel escape="true"   id="Component341"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="ユニット" onclick="SkyEditor.touchToolTip('{!$Component.Component341}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.TextManagement2__c.fields.SalesPersonUnit__c.accessible}" >
		<apex:selectList id="Component342_operator" value="{!Component342_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_TextManagement2_c_SalesPersonUnit_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component342" value="{!Component342_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component342}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.Product__c.accessible}" >
<apex:outputLabel escape="true"   id="Component10"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.TextManagement2__c.fields.Product__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component10}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.TextManagement2__c.fields.Product__c.accessible}" >
		<apex:selectList id="Component11_operator" value="{!Component11_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_TextManagement2_c_Product_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component11" value="{!Component11_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component11}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.PSkubun__c.accessible}" >
<apex:outputLabel escape="true"   id="Component198"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.TextManagement2__c.fields.PSkubun__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component198}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.TextManagement2__c.fields.PSkubun__c.accessible}" >
		<apex:selectList id="Component199_operator" value="{!Component199_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_TextManagement2_c_PSkubun_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component199" value="{!Component199_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component199}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryMonth__c.accessible}" >
<apex:outputLabel escape="true"   id="Component325"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.TextManagement2__c.fields.DeliveryMonth__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component325}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryMonth__c.accessible}" >
		<apex:selectList id="Component326_operator" value="{!Component326_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_TextManagement2_c_DeliveryMonth_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component326" value="{!Component326_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component326}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryDaySales1__c.accessible}" >
<apex:outputLabel escape="true"   id="Component250"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.TextManagement2__c.fields.DeliveryDaySales1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component250}');"/>
</apex:outputPanel>
</td>
<td>
	<apex:outputPanel styleClass="searchDateBox"   rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryDaySales1__c.accessible}" >
		<apex:inputField id="Component249_from" value="{!Component249_from.SkyEditor2__Date__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:center;ime-mode:disabled;"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"/>
		<label style="font-weight:bold;" class="kara">{!Label.To}&nbsp;</label>
		<apex:inputField id="Component249_to" value="{!Component249_to.SkyEditor2__Date__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:center;ime-mode:disabled;"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"/>
	<label>{!Label.nullSearchLabel}</label>
	<apex:inputCheckbox id="Component249_isNull_op" value="{!Component249_isNull_op.isEnable}" required="false" style="text-align:center;" styleClass="searchDateIsNull"/>
	<script type="text/javascript">
		SkyEditor.adjustDatePicker('{!$Component.Component249_isNull_op}');
	</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryMonth2__c.accessible}" >
<apex:outputLabel escape="true"   id="Component327"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.TextManagement2__c.fields.DeliveryMonth2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component327}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryMonth2__c.accessible}" >
		<apex:selectList id="Component328_operator" value="{!Component328_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_TextManagement2_c_DeliveryMonth2_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component328" value="{!Component328_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component328}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryDay__c.accessible}" >
<apex:outputLabel escape="true"   id="Component252"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.TextManagement2__c.fields.DeliveryDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component252}');"/>
</apex:outputPanel>
</td>
<td>
	<apex:outputPanel styleClass="searchDateBox"   rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryDay__c.accessible}" >
		<apex:inputField id="Component251_from" value="{!Component251_from.SkyEditor2__Date__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:center;ime-mode:disabled;"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"/>
		<label style="font-weight:bold;" class="kara">{!Label.To}&nbsp;</label>
		<apex:inputField id="Component251_to" value="{!Component251_to.SkyEditor2__Date__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:center;ime-mode:disabled;"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"/>
	<label>{!Label.nullSearchLabel}</label>
	<apex:inputCheckbox id="Component251_isNull_op" value="{!Component251_isNull_op.isEnable}" required="false" style="text-align:center;" styleClass="searchDateIsNull"/>
	<script type="text/javascript">
		SkyEditor.adjustDatePicker('{!$Component.Component251_isNull_op}');
	</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.StartMonth__c.accessible}" >
<apex:outputLabel escape="true"   id="Component335"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.TextManagement2__c.fields.StartMonth__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component335}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.TextManagement2__c.fields.StartMonth__c.accessible}" >
		<apex:selectList id="Component336_operator" value="{!Component336_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_TextManagement2_c_StartMonth_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component336" value="{!Component336_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component336}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.TextManagement2__c.fields.SalesHopeDeliveryDay__c.accessible}" >
<apex:outputLabel escape="true"   id="Component254"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.TextManagement2__c.fields.SalesHopeDeliveryDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component254}');"/>
</apex:outputPanel>
</td>
<td>
	<apex:outputPanel styleClass="searchDateBox"   rendered="{!$ObjectType.TextManagement2__c.fields.SalesHopeDeliveryDay__c.accessible}" >
		<apex:inputField id="Component253_from" value="{!Component253_from.SkyEditor2__Date__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:center;ime-mode:disabled;"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"/>
		<label style="font-weight:bold;" class="kara">{!Label.To}&nbsp;</label>
		<apex:inputField id="Component253_to" value="{!Component253_to.SkyEditor2__Date__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:center;ime-mode:disabled;"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"/>
	<label>{!Label.nullSearchLabel}</label>
	<apex:inputCheckbox id="Component253_isNull_op" value="{!Component253_isNull_op.isEnable}" required="false" style="text-align:center;" styleClass="searchDateIsNull"/>
	<script type="text/javascript">
		SkyEditor.adjustDatePicker('{!$Component.Component253_isNull_op}');
	</script>
	</apex:outputPanel>
</td><td   colspan="2"  >
</td></tr></table></fieldset></apex:outputPanel></apex:pageBlockSection>
</apex:pageBlock>
</apex:outputPanel></apex:form><apex:form id="sve_form2"   styleClass="sve_form2"   >
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1"   mode="detail"   title=" "   >
<apex:pageBlockButtons location="top"   >
<apex:commandButton action="{!doSave}"   id="Component62"   onclick="disabledFieldItems(); "   value="変更を保存"   style="width:150px;color:#FF6600;font-weight:Bold;"   rendered="{!OR($ObjectType.TextManagement2__c.createable,$ObjectType.TextManagement2__c.updateable)}" />
<apex:outputPanel id="Component197_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandButton id="Component197"   onclick="SkyEditor.navigationTo('/apex/Opportunity_Search', true); return false;"   value="▶ 商談検索画面"   style="width:120px;color:#3366FF;font-weight:Bold;" >
</apex:commandButton>
</apex:outputPanel>
<apex:outputPanel id="Component338_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandButton id="Component338"   onclick="SkyEditor.navigationTo('/apex/OpportunityforPS', true); return false;"   value="▶ ヨミ管理画面"   style="width:120px;color:#3366FF;font-weight:Bold;" >
</apex:commandButton>
</apex:outputPanel>
</apex:pageBlockButtons><apex:outputPanel id="Component2_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="Component2"   layout="block"   styleClass="dataTableSet"   style="overflow:auto;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<table   class="tableOperator"   id="Component2_header"  >
<tr  >
<td  >
<apex:commandButton action="{!Component2.add}"   id="Component2_addButton"   immediate="false"   onclick="disabledFieldItems(); if(mirrorFormSync('Component2_table','Component2_table_mirror',this)) return false;"   oncomplete="enableFieldItems(); "   reRender="Component2,messagesPanel"   rendered="{!$ObjectType.TextManagement2__c.createable && Component2.items.size < 500}"   status="Component2_addButton_status"   value="{!customAddButtonLabel}"   >
</apex:commandButton><apex:actionStatus id="Component2_addButton_status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
</td><td  >
<apex:commandButton action="{!Component2.cloneRows}"   id="Component2_cloneButton"   onclick="if(!selectDelete('Component2_table'))return false;disabledFieldItems(); if(mirrorFormSync('Component2_table','Component2_table_mirror',this))return false;"   oncomplete="enableFieldItems(); "   reRender="Component2,messagesPanel"   rendered="{!$ObjectType.TextManagement2__c.createable && Component2.items.size < 500}"   status="Component2_cloneButton_status"   value="{!label.customCloneButtonLabel}"    >
</apex:commandButton>
<apex:actionStatus id="Component2_cloneButton_status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
</td><td  >
<input   class="btn"   id="Component2_bulkEditButton"   onclick="jQuery('#Component2_table_editDialog').dialog('open');"   type="button"   value="{!label.customBulkEditButtonLabel}"  /></td><td  >

<apex:actionFunction name="Component2_first" action="{!Component2.doFirst}"  status="Component2_status" />
<apex:actionFunction name="Component2_previous" action="{!Component2.doPrevious}"  status="Component2_status" />
<apex:actionFunction name="Component2_next" action="{!Component2.doNext}"  status="Component2_status" />
<apex:actionFunction name="Component2_last" action="{!Component2.doLast}"  status="Component2_status" />
<div   id="Component2__pager"   layout="block"  class="pager" style="margin-left:20px; text-align:center;">
	<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/first.png')}" class="first" onclick="if(!SkyEditor.confirmQueryPaging()){return false;}Component2_first();" />
		</td>
		<td> 
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/prev.png')}" class="prev" onclick="if(!SkyEditor.confirmQueryPaging()){return false;}Component2_previous();" />
		</td>
		<td>
			<input type="text" class="pagedisplay" readonly="readonly" value="{!Component2.pageNumber} / {!Component2.lastPageNumber}" />
		</td>
		<td>
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/next.png')}" class="next" onclick="if(!SkyEditor.confirmQueryPaging()){return false;}Component2_next();" />
		</td>
		<td>
			<img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/last.png')}" class="last" onclick="if(!SkyEditor.confirmQueryPaging()){return false;}Component2_last();" />
		</td>
		<td>
			<apex:selectList styleClass="pagesize" value="{!Component2.pageSize}" size="1">
				<apex:selectOption itemValue="5" itemLabel="5" />
				<apex:selectOption itemValue="10" itemLabel="10" />
				<apex:selectOption itemValue="25" itemLabel="25" />
				<apex:selectOption itemValue="50" itemLabel="50" />
				<apex:selectOption itemValue="100" itemLabel="100" />
				<apex:actionSupport event="onchange" action="{!Component2.doFirst}"  status="Component2_status" onsubmit="if(!SkyEditor.confirmQueryPaging()){this.value = '{!Component2.pageSize}';return false;}" />
			</apex:selectList>
			<apex:actionStatus id="Component2_status">
				<apex:facet name="start">
					<apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
				</apex:facet>
			</apex:actionStatus>
		</td>
	</tr>
	</table>
</div>
</td><td  >
<apex:outputPanel style="margin-left:20px;"   >
<apex:outputText value="{!rowCount}"   /><apex:outputText styleClass="recordCounter"   value="{!IF(Component2.size >=500, (rowCountPrefix & ' ' & TEXT(Component2.size) & ' ' & rowCountSuffix), (':' & TEXT(Component2.size)))}"   /></apex:outputPanel></td></tr></table><apex:outputPanel layout="block"   styleClass="tableWrapper"    >
<apex:pageBlockTable columnsWidth="30px,10px,,,,,,,,,,,,,,,,,,,,,,,"   headerClass="Component2_header"   id="Component2_table"   rows="500"   value="{!Component2.items}"   var="Component2_item"   >
<apex:column style="width:30px;" >
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:30px;display:block;" >
<apex:inputCheckbox onclick="applyChecked(event, this, 'Component2');"   value="{!Component2.selected}"   >
</apex:inputCheckbox></apex:outputPanel></apex:facet><apex:inputCheckbox id="BulkSelectCheckbox"   onclick="SkyEditor.MirrorForm.update('Component2_table', 'Component2_table_mirror', this);"   styleClass="BulkSelectCheckbox"   value="{!Component2_item.selected}"   >
</apex:inputCheckbox><script>
document.getElementById('{!$Component.BulkSelectCheckbox}').setAttribute('rid','{!Component2_item.record.Id}');
</script></apex:column><apex:column style="width:10px;" >
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:10px;display:block;" >
</apex:outputPanel></apex:facet><apex:commandButton action="{!Component2_item.doDeleteItem}"   immediate="false"   onclick="if(!confirm('{!Label.customDeleteWarningLabel}')){return false;}disabledFieldItems(); "   oncomplete="enableFieldItems(); "   reRender="Component2,messagesPanel"   value="."     rendered="{!OR($ObjectType.TextManagement2__c.deletable,AND($ObjectType.TextManagement2__c.accessible,ISNULL(Component2_item.record.Id)))}" /></apex:column><apex:column id="Component201"   style="color:#000000;text-align:left;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.SalesPerson10__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:70px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component200"     value="{!Component2_item.record.SalesPerson10__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#000000;">
		{!$ObjectType.TextManagement2__c.fields.SalesPerson10__c.label}
	<apex:param name="sortfield" value="SalesPerson10__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='SalesPerson10__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='SalesPerson10__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='SalesPerson10__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component291"   style="color:#000000;text-align:left;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.sisakukigyou_kubun__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:130px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component290"     value="{!Component2_item.record.sisakukigyou_kubun__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#000000;">
		{!$ObjectType.TextManagement2__c.fields.sisakukigyou_kubun__c.label}
	<apex:param name="sortfield" value="sisakukigyou_kubun__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='sisakukigyou_kubun__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='sisakukigyou_kubun__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='sisakukigyou_kubun__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component87"   style="color:#000000;text-align:left;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.Product__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:130px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component86"     value="{!Component2_item.record.Product__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#000000;">
		{!$ObjectType.TextManagement2__c.fields.Product__c.label}
	<apex:param name="sortfield" value="Product__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='Product__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='Product__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='Product__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component305"   style="color:#000000;text-align:left;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.OrderNo__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:100px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component304"     value="{!Component2_item.record.OrderNo__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#000000;">
		{!$ObjectType.TextManagement2__c.fields.OrderNo__c.label}
	<apex:param name="sortfield" value="OrderNo__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='OrderNo__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='OrderNo__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='OrderNo__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component315"   style="color:#000000;text-align:right;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.ItemOrderNO__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:20px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:right;display:block;margin-left:auto;" >
<apex:outputField id="Component314"     value="{!Component2_item.record.ItemOrderNO__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#000000;">
		{!$ObjectType.TextManagement2__c.fields.ItemOrderNO__c.label}
	<apex:param name="sortfield" value="ItemOrderNO__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='ItemOrderNO__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='ItemOrderNO__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='ItemOrderNO__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component301"   style="color:#000000;text-align:left;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.Item2_OrderProduct__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:100px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
<apex:outputField id="Component300"     value="{!Component2_item.record.Item2_OrderProduct__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#000000;">
		注文商品
	<apex:param name="sortfield" value="Item2_OrderProduct__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='Item2_OrderProduct__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='Item2_OrderProduct__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='Item2_OrderProduct__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component207"   style="color:#000000;text-align:left;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.Name.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:100px;color:#000000;font-size:1.0em;font-weight:Normal;text-decoration:underline;display:block;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
			<apex:outputLink value="/{!Component2_item.record.id}"
		 target="_blank" 		onclick="return SkyEditor.navigateToSobjectByNameLink('{!Component2_item.record.id}',true);" >
							<apex:outputField id="Component206"     value="{!Component2_item.record.Name}" />
			</apex:outputLink>
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#000000;">
		納品管理
	<apex:param name="sortfield" value="Name" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='Name', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='Name', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='Name', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component227"   style="color:#3366FF;text-align:right;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.ProspectsAmount__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:70px;color:#3366FF;font-size:1.0em;font-weight:Normal;text-align:right;display:block;margin-left:auto;" >
<apex:outputField id="Component226"     value="{!Component2_item.record.ProspectsAmount__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#3366FF;">
		{!$ObjectType.TextManagement2__c.fields.ProspectsAmount__c.label}
	<apex:param name="sortfield" value="ProspectsAmount__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='ProspectsAmount__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='ProspectsAmount__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='ProspectsAmount__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component286"   style="color:#3366FF;text-align:right;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.CloudCost__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:60px;color:#3366FF;font-size:1.0em;font-weight:Normal;text-align:right;display:block;margin-left:auto;" >
<apex:outputField id="Component285"     value="{!Component2_item.record.CloudCost__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#3366FF;">
		原価
	<apex:param name="sortfield" value="CloudCost__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='CloudCost__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='CloudCost__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='CloudCost__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component231"   style="color:#3366FF;text-align:right;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.PSGrossProfit__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:70px;color:#3366FF;font-size:1.0em;font-weight:Normal;text-align:right;display:block;margin-left:auto;" >
<apex:outputField id="Component230"     value="{!Component2_item.record.PSGrossProfit__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#3366FF;">
		粗利
	<apex:param name="sortfield" value="PSGrossProfit__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='PSGrossProfit__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='PSGrossProfit__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='PSGrossProfit__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component209"   style="color:#000000;text-align:right;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.Item2_Keyword_letter_count__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component208"     value="{!Component2_item.record.Item2_Keyword_letter_count__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#000000;">
		{!$ObjectType.TextManagement2__c.fields.Item2_Keyword_letter_count__c.label}
	<apex:param name="sortfield" value="Item2_Keyword_letter_count__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='Item2_Keyword_letter_count__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='Item2_Keyword_letter_count__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='Item2_Keyword_letter_count__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component211"   style="color:#000000;text-align:right;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.Selling_price__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component210"     value="{!Component2_item.record.Selling_price__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#000000;">
		{!$ObjectType.TextManagement2__c.fields.Selling_price__c.label}
	<apex:param name="sortfield" value="Selling_price__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='Selling_price__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='Selling_price__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='Selling_price__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component311"   style="color:#FF6600;text-align:center;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.FurikaeSet__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component310"   onblur="skyeditor_onBlur(this, 'pink')"   onfocus="skyeditor_onFocus(this, 'pink')"   required="false"   style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component2_item.record.FurikaeSet__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#FF6600;">
		{!$ObjectType.TextManagement2__c.fields.FurikaeSet__c.label}
	<apex:param name="sortfield" value="FurikaeSet__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='FurikaeSet__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='FurikaeSet__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='FurikaeSet__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component258"   style="color:#FF6600;text-align:left;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.CloudStatus__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:80px;color:#FF6600;font-size:1.0em;font-weight:Bold;text-align:center;display:block;" >
<apex:outputField id="Component257"     value="{!Component2_item.record.CloudStatus__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#FF6600;">
		ステータス
	<apex:param name="sortfield" value="CloudStatus__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='CloudStatus__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='CloudStatus__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='CloudStatus__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component91"   style="color:#009900;text-align:right;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryTotalCount__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:40px;color:#009900;font-size:1.0em;font-weight:Normal;text-align:center;display:block;margin-left:auto;" >
<apex:outputField id="Component90"     value="{!Component2_item.record.DeliveryTotalCount__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#009900;">
		{!$ObjectType.TextManagement2__c.fields.DeliveryTotalCount__c.label}
	<apex:param name="sortfield" value="DeliveryTotalCount__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='DeliveryTotalCount__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='DeliveryTotalCount__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='DeliveryTotalCount__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component41"   style="color:#009900;text-align:center;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.SalesDeliveryCount__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component40"   onblur="skyeditor_onBlur(this, 'pink')"   onfocus="skyeditor_onFocus(this, 'pink')"   required="false"   style="width:34px;height:14px;color:#009900;font-size:1.0em;font-weight:Normal;text-align:right;"   value="{!Component2_item.record.SalesDeliveryCount__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#009900;">
		登録数
	<apex:param name="sortfield" value="SalesDeliveryCount__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='SalesDeliveryCount__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='SalesDeliveryCount__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='SalesDeliveryCount__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component242"   style="color:#009900;text-align:right;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.SalesDeliveryCountTotal__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:50px;color:#009900;font-size:1.0em;font-weight:Normal;text-align:right;display:block;margin-left:auto;" >
<apex:outputField id="Component241"     value="{!Component2_item.record.SalesDeliveryCountTotal__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#009900;">
		登録合計
	<apex:param name="sortfield" value="SalesDeliveryCountTotal__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='SalesDeliveryCountTotal__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='SalesDeliveryCountTotal__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='SalesDeliveryCountTotal__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component278"   style="color:#FF0000;text-align:right;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryCountOver1__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:30px;color:#FF0000;font-size:1.0em;font-weight:Normal;text-align:right;display:block;margin-left:auto;" >
<apex:outputField id="Component277"     value="{!Component2_item.record.DeliveryCountOver1__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#FF0000;">
		(過登録)
	<apex:param name="sortfield" value="DeliveryCountOver1__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='DeliveryCountOver1__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='DeliveryCountOver1__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='DeliveryCountOver1__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component276"   style="color:#339966;text-align:right;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryTotalAmount__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:50px;color:#339966;font-size:1.0em;font-weight:Normal;text-align:right;display:block;margin-left:auto;" >
<apex:outputField id="Component275"     value="{!Component2_item.record.DeliveryTotalAmount__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#339966;">
		納品合計
	<apex:param name="sortfield" value="DeliveryTotalAmount__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='DeliveryTotalAmount__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='DeliveryTotalAmount__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='DeliveryTotalAmount__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component174"   style="color:#009900;text-align:center;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryDaySales1__c.accessible}" >
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component173"   onblur="skyeditor_onBlur(this, 'pink')"   onfocus="skyeditor_onFocus(this, 'pink')"   required="false"   style="width:74px;height:14px;color:#009900;font-size:1.0em;font-weight:Normal;"   value="{!Component2_item.record.DeliveryDaySales1__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#009900;">
		{!$ObjectType.TextManagement2__c.fields.DeliveryDaySales1__c.label}
	<apex:param name="sortfield" value="DeliveryDaySales1__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='DeliveryDaySales1__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='DeliveryDaySales1__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='DeliveryDaySales1__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component171"   style="color:#009900;text-align:right;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryDay__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:73px;color:#009900;font-size:1.0em;font-weight:Bold;display:block;margin-left:auto;" >
<apex:outputField id="Component170"     value="{!Component2_item.record.DeliveryDay__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#009900;">
		{!$ObjectType.TextManagement2__c.fields.DeliveryDay__c.label}
	<apex:param name="sortfield" value="DeliveryDay__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='DeliveryDay__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='DeliveryDay__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='DeliveryDay__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component223"   style="color:#FF0000;text-align:center;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.DeliveryDaySalesOverDay__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:30px;color:#FF0000;font-size:1.0em;font-weight:Normal;text-align:right;display:block;margin:auto;" >
<apex:outputField id="Component222"     value="{!Component2_item.record.DeliveryDaySalesOverDay__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#FF0000;">
		（超過日）
	<apex:param name="sortfield" value="DeliveryDaySalesOverDay__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='DeliveryDaySalesOverDay__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='DeliveryDaySalesOverDay__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='DeliveryDaySalesOverDay__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column><apex:column id="Component240"   style="color:#009900;text-align:center;vertical-align:middle;height:40px;"   rendered="{!$ObjectType.TextManagement2__c.fields.Item2_DeliveryCount__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:60px;color:#009900;font-size:1.0em;font-weight:Normal;text-align:right;display:block;margin:auto;" >
<apex:outputField id="Component239"     value="{!Component2_item.record.Item2_DeliveryCount__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:center;display:block;" >
<apex:commandLink action="{!Component2.doSort}" status="Component2_status"   onclick="if(!SkyEditor.confirmQueryPaging()){return false;}"   style="color:#009900;">
		受注合計
	<apex:param name="sortfield" value="Item2_DeliveryCount__c" />
	<apex:param name="sortasc" value="{!IF(AND(Component2.sortfield=='Item2_DeliveryCount__c', Component2.sortasc), 'false', 'true')}"/>
	<apex:image rendered="{!AND(Component2.sortfield=='Item2_DeliveryCount__c', Component2.sortasc)}" styleClass="sveSortAsc" value="/s.gif" />
	<apex:image rendered="{!AND(Component2.sortfield=='Item2_DeliveryCount__c', NOT(Component2.sortasc))}" styleClass="sveSortDesc" value="/s.gif" />
</apex:commandLink>
</apex:outputPanel></apex:facet></apex:column></apex:pageBlockTable>
<script type="text/javascript">
    jQuery("[id$='Component2_table'] > tbody > tr:even").addClass('even');
    jQuery("[id$='Component2_table'] > tbody > tr:odd").addClass('odd');
</script><script>
SkyEditor.FixedTableHeader('{!$Component.Component2}',true);
</script></apex:outputPanel><apex:outputPanel id="Component2_table_mirror" style="display:none;">
<apex:actionRegion >
	<apex:repeat rows="500" value="{! Component2.items}" var="Component2_table_mirrorFormItem">
		<apex:inputCheckbox id="BulkSelectCheckbox" styleClass="BulkSelectCheckbox" value="{! Component2_table_mirrorFormItem.selected}" />
	</apex:repeat>
	<apex:commandButton id="Component2_table_mirrorFormButton" value="Send" rerender="Component2_table_mirror" oncomplete="jQuery(SkyEditor.reSubmitTarget['{! $Component.Component2_table_mirrorFormButton}']).click();"/>
</apex:actionRegion>
</apex:outputPanel>
<script>
jQuery(function() {
//検索時に検索結果のレコードがある場合
if({!Component2.items.size} > 0) {
//検索条件部分を非表示にする
jQuery("[id$=':Component60'] .hideListButton").trigger("click");
}
});
</script><script>
ObscureUnusedCondition();
</script><apex:inputTextArea id="Component2_hiddenValue" value="{!Component2.hiddenValue}" style="display:none;" rendered="{!$ObjectType.TextManagement2__c.createable}"></apex:inputTextArea>
<apex:commandButton id="Component2_importByJSON" action="{!Component2.importByJSON}" style="display:none;" reRender="Component2" rendered="{!$ObjectType.TextManagement2__c.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('Component2');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=Component2]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
</apex:pageBlock>
</apex:outputPanel></apex:form><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
<div style="border:solid 1px #CCC; display:none;" id="Component2_table_editDialog">
  <apex:form id="Component343">
    <apex:panelGrid columns="2">
      <apex:outputLabel >{!label.customFieldSelectionLabel}</apex:outputLabel>
      <apex:actionRegion >
        <apex:selectList id="Component2_table_selecter" value="{!Component2_table_selectval}" size="1">
          <apex:selectOption itemValue="" itemLabel="{!label.customSelectOptionNoneLabel}" />
          <apex:selectOption itemValue="Component310_dedit" itemLabel="{!$ObjectType.TextManagement2__c.fields.FurikaeSet__c.label}" rendered="{!AND($ObjectType.TextManagement2__c.fields.FurikaeSet__c.createable)}" />
          <apex:selectOption itemValue="Component40_dedit" itemLabel="{!$ObjectType.TextManagement2__c.fields.SalesDeliveryCount__c.label}" rendered="{!AND($ObjectType.TextManagement2__c.fields.SalesDeliveryCount__c.createable)}" />
          <apex:selectOption itemValue="Component173_dedit" itemLabel="{!$ObjectType.TextManagement2__c.fields.DeliveryDaySales1__c.label}" rendered="{!AND($ObjectType.TextManagement2__c.fields.DeliveryDaySales1__c.createable)}" />
        </apex:selectList>
      </apex:actionRegion>
      <apex:outputLabel >{!label.customValueLabel}</apex:outputLabel>
      <apex:outputPanel >
        <div id="Component310_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component310_dedit" value="{!Component2_table_Conversion.FurikaeSet__c}" rendered="{!AND($ObjectType.TextManagement2__c.fields.FurikaeSet__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
        <div id="Component40_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component40_dedit" value="{!Component2_table_Conversion.SalesDeliveryCount__c}" rendered="{!AND($ObjectType.TextManagement2__c.fields.SalesDeliveryCount__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
        <div id="Component173_dedit_div">
          <apex:outputPanel >
            <apex:OutputPanel rendered="{!AND($ObjectType.TextManagement2__c.fields.DeliveryDaySales1__c.createable)}">
              <apex:inputField id="Component173_dedit" value="{!Component2_table_Conversion.DeliveryDaySales1__c}" required="false" />
              <script type="text/script">jQuery("[id$='Component173_dedit']").removeAttr("onfocus");jQuery("input[id$='Component173_dedit']")[0].onfocus = function(){};</script>
            </apex:OutputPanel>
          </apex:outputPanel>
        </div>
      </apex:outputPanel>
    </apex:panelGrid>
    <apex:outputPanel layout="block" style="margin-top:20px;text-align:center;">
      <input type="button" class="btn" value="{!label.customEditButtonLabel}" onclick="setTableValue('Component2_table','Component2_table_editDialog')" />
      <input type="button" class="btn" value="{!label.customBulkEditWindowCloseButtonLabel}" onclick="closeBulkEditDialog('Component2_table','Component2_table_editDialog')" />
    </apex:outputPanel>
  </apex:form>
</div><script type="text/javascript">jQuery('#Component2_table_editDialog').dialog({autoOpen: false});openBulkEditDialog('Component2_table','Component2_table_editDialog');
jQuery(escapeID('#{!$Component.Component343.Component2_table_selecter}')).change(function() {
    var divs = jQuery('#Component310_dedit_div,#Component40_dedit_div,#Component173_dedit_div')
 
    if (divs.length){
        divs.hide();
    }else{
        return;
   }
    var selectItem = jQuery('#'+jQuery(this).find('option:selected').attr('value')+'_div');
	   if (jQuery(selectItem).length){
    selectItem.show();
    }
}).change();</script><script type="text/javascript"></script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>