<apex:page standardController="OrderItem__c"  extensions="OederItemWEBSite"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" renderAs="{!renderAs}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="{!p_standardStylesheets}" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/42.0/connection.js"></script>
<script src="/soap/ajax/42.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "OrderItem__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style></head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.layout.min.js')}" />
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
<apex:sectionHeader subtitle="{!record.Name}" title="{!$ObjectType.OrderItem__c.Label}" >
</apex:sectionHeader></apex:outputPanel><apex:form id="sve_form1" styleClass="sve_form1"  >
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1" mode="detail" title="WEBサイト制作サービス内容"  >
<apex:pageBlockButtons location="both"  >
<apex:commandButton action="{!cancel}" id="Component166" rendered="{!!sve_showDeleteCancel}" value="{!customCancelButtonLabel}"  style="width:66px;" /><apex:commandButton action="{!doSave}" id="Component168" value="{!customSaveButtonLabel}"  style="width:120px;"   rendered="{!OR($ObjectType.OrderItem__c.createable,$ObjectType.OrderItem__c.updateable)}" />
</apex:pageBlockButtons><apex:outputPanel layout="block"  >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component364"    value="{!record.Link_OrderItem__c}" />
</apex:outputPanel>
</apex:outputPanel><apex:outputPanel id="Component2_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component2" showHeader="true" title="商品内容" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component228"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component228}');}">
<apex:outputLabel escape="true" id="Component226" rendered="{!$ObjectType.OrderItem__c.fields.Name.accessible}"  style="width:100px;" value="③商品番号" onclick="SkyEditor.touchToolTip('{!$Component.Component226}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component227"    value="{!record.Name}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component35"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component35}');}">
<apex:outputLabel escape="true" id="Component33" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Keyword_phase__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Keyword_phase__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component33}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component34"  style="width:194px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item2_Keyword_phase__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component41"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component41}');}">
<apex:outputLabel escape="true" id="Component39" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Relation__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Relation__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component39}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component40"  style="width:194px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.Item2_Relation__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component52"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component52}');}">
<apex:outputLabel escape="true" id="Component50" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Unit_selling_price__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Unit_selling_price__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component50}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component51"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item2_Unit_selling_price__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component231"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component231}');}">
<apex:outputLabel escape="true" id="Component229" rendered="{!$ObjectType.OrderItem__c.fields.ProductCode1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ProductCode1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component229}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component230"    value="{!record.ProductCode1__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component97"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component97}');}">
<apex:outputLabel escape="true" id="Component78" rendered="{!$ObjectType.OrderItem__c.fields.Quantity__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Quantity__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component78}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component79"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Quantity__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component222"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component222}');}">
<apex:outputLabel escape="true" id="Component220" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Product__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Product__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component220}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component221"  style="width:194px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item2_Product__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component380"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component380}');}">
<apex:outputLabel escape="true" id="Component378" rendered="{!$ObjectType.OrderItem__c.fields.TotalPrice__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.TotalPrice__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component378}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Bold;" >
<apex:outputField id="Component379"    value="{!record.TotalPrice__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component290"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component290}');}">
<apex:outputLabel escape="true" id="Component288" rendered="{!$ObjectType.OrderItem__c.fields.Item2_DeliveryExistence__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_DeliveryExistence__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component288}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component289"    value="{!record.Item2_DeliveryExistence__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component264"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component264}');}">
<apex:outputLabel escape="true" id="Component262" rendered="{!$ObjectType.OrderItem__c.fields.BuyingupPrice__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.BuyingupPrice__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component262}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component263"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.BuyingupPrice__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component237"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component237}');}">
<apex:outputLabel escape="true" id="Component235" rendered="{!$ObjectType.OrderItem__c.fields.Item2_ProductType1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_ProductType1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component235}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component236"    value="{!record.Item2_ProductType1__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component267"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component267}');}">
<apex:outputLabel escape="true" id="Component265" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Commission_rate__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Commission_rate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component265}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component266"    value="{!record.Item2_Commission_rate__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component447"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component447}');}">
<apex:outputLabel escape="true" id="Component445" rendered="{!$ObjectType.OrderItem__c.fields.BillingTiming__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.BillingTiming__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component445}');"/>
<apex:outputPanel >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component446"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.BillingTiming__c}">
</apex:inputField>
</apex:outputPanel>
 <script>
(function() {    if ({!AND(NOT(ISNULL(record.Id)), ISNULL(record.BillingTiming__c))}) {        return;    }    var id = '{!$Component.Component446}';    var element = document.getElementById(id);    SkyEditor.DOM.removeEnptyOption(element);}());
</script></apex:outputPanel></apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component253"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component253}');}">
<apex:outputLabel escape="true" id="Component251" rendered="{!$ObjectType.OrderItem__c.fields.RecordTypeId.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.RecordTypeId.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component251}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component135"    value="{!record.RecordType.Name}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component391"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component391}');}">
<apex:outputLabel escape="true" id="Component389" rendered="{!$ObjectType.OrderItem__c.fields.Salesforce_ID__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Salesforce_ID__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component389}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component390"    value="{!record.Salesforce_ID__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component2', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#FFA500","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component3_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component3" showHeader="true" title="契約内容" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component444"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component444}');}">
<apex:outputLabel escape="true" id="Component442" rendered="{!$ObjectType.OrderItem__c.fields.syouninn__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.syouninn__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component442}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component443"  style="width:141px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.syouninn__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component32"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component32}');}">
<apex:outputLabel escape="true" id="Component30" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Entry_date__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Entry_date__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component30}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component31"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item2_Entry_date__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component183"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component183}');}">
<apex:outputLabel escape="true" id="Component181" rendered="{!$ObjectType.OrderItem__c.fields.OrderItem_URL__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.OrderItem_URL__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component181}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component182"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.OrderItem_URL__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component308"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component308}');}">
<apex:outputLabel escape="true" id="Component306" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Billing_Stop_Start_Date__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Billing_Stop_Start_Date__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component306}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component307"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item2_Billing_Stop_Start_Date__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component58"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component58}');}">
<apex:outputLabel escape="true" id="Component56" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Special_instruction__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Special_instruction__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component56}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component57"  style="width:194px;height:45px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item2_Special_instruction__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component305"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component305}');}">
<apex:outputLabel escape="true" id="Component303" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Billing_Stop_End_Date__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Billing_Stop_End_Date__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component303}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component304"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item2_Billing_Stop_End_Date__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.OrderItem__c.fields.ChangeDay__c.accessible,$ObjectType.OrderItem__c.fields.ChangeDay__c.inlineHelpText,null)}" id="Component424"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component424}');}">
<apex:outputLabel escape="true" id="Component422" rendered="{!$ObjectType.OrderItem__c.fields.ChangeDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ChangeDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component422}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component423"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.ChangeDay__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.OrderItem__c.fields.CancelDay__c.accessible,$ObjectType.OrderItem__c.fields.CancelDay__c.inlineHelpText,null)}" id="Component421"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component421}');}">
<apex:outputLabel escape="true" id="Component419" rendered="{!$ObjectType.OrderItem__c.fields.CancelDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.CancelDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component419}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component420"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.CancelDay__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component413"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component413}');}">
<apex:outputLabel escape="true" id="Component411" rendered="{!$ObjectType.OrderItem__c.fields.RecordCreateType__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.RecordCreateType__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component411}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component412"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.RecordCreateType__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component3', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#FFA500","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component186_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component186" showHeader="true" title="納品状況" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component270"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component270}');}">
<apex:outputLabel escape="true" id="Component268" rendered="{!$ObjectType.OrderItem__c.fields.ProductionStatus__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ProductionStatus__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component268}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component269"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.ProductionStatus__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component283"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component283}');}">
<apex:outputLabel escape="true" id="Component281" rendered="{!$ObjectType.OrderItem__c.fields.Item2_DeliveryNumber__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_DeliveryNumber__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component281}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component282"    value="{!record.Item2_DeliveryNumber__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component216"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component216}');}">
<apex:outputLabel escape="true" id="Component205" rendered="{!$ObjectType.OrderItem__c.fields.Item2_DeliveryDate__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_DeliveryDate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component205}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component206"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item2_DeliveryDate__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component280"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component280}');}">
<apex:outputLabel escape="true" id="Component278" rendered="{!$ObjectType.OrderItem__c.fields.DeliveryCount__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.DeliveryCount__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component278}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component279"    value="{!record.DeliveryCount__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component215"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component215}');}">
<apex:outputLabel escape="true" id="Component203" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Delivery_date__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Delivery_date__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component203}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component204"  style="width:194px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Item2_Delivery_date__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component277"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component277}');}">
<apex:outputLabel escape="true" id="Component275" rendered="{!$ObjectType.OrderItem__c.fields.DeliveryCountTotal__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.DeliveryCountTotal__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component275}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#FF0000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component276"    value="{!record.DeliveryCountTotal__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component463"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component463}');}">
<apex:outputLabel escape="true" id="Component461" rendered="{!$ObjectType.OrderItem__c.fields.SubmissionWaitingAmount__c.accessible}"  style="width:100px;" value="納品前金額" onclick="SkyEditor.touchToolTip('{!$Component.Component461}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component462"    value="{!record.SubmissionWaitingAmount__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component186', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#FFA500","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component323_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component323" showHeader="true" title="営業担当" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component452"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component452}');}">
<apex:outputLabel escape="true" id="Component450" rendered="{!$ObjectType.OrderItem__c.fields.SalesUnit1View__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.SalesUnit1View__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component450}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component451"    value="{!record.SalesUnit1View__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component457"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component457}');}">
<apex:outputLabel escape="true" id="Component455" rendered="{!$ObjectType.OrderItem__c.fields.SalesUnitSubView__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.SalesUnitSubView__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component455}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component456"    value="{!record.SalesUnitSubView__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component356"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component356}');}">
<apex:outputLabel escape="true" id="Component354" rendered="{!$ObjectType.OrderItem__c.fields.SalesPerson1__c.accessible}"  style="width:100px;" value="担当営業" onclick="SkyEditor.touchToolTip('{!$Component.Component354}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component355" required="true"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.SalesPerson1__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component432"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component432}');}">
<apex:outputLabel escape="true" id="Component429" rendered="{!$ObjectType.OrderItem__c.fields.SalesPersonSub__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.SalesPersonSub__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component429}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component430"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.SalesPersonSub__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component431"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component431}');}">
<apex:outputLabel escape="true" id="Component425" rendered="{!$ObjectType.OrderItem__c.fields.SalesPercentage1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.SalesPercentage1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component425}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component426"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.SalesPercentage1__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component435"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component435}');}">
<apex:outputLabel escape="true" id="Component433" rendered="{!$ObjectType.OrderItem__c.fields.SalesPercentage2__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.SalesPercentage2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component433}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component434"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.SalesPercentage2__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component323', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#FFA500","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component392_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component392" showHeader="true" title="獲得担当" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component399"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component399}');}">
<apex:outputLabel escape="true" id="Component393" rendered="{!$ObjectType.OrderItem__c.fields.ContractGetPersonUnit__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ContractGetPersonUnit__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component393}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component394"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.ContractGetPersonUnit__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component408"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component408}');}">
<apex:outputLabel escape="true" id="Component402" rendered="{!$ObjectType.OrderItem__c.fields.ContractGetPersonUnit2__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ContractGetPersonUnit2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component402}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component403"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.ContractGetPersonUnit2__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component400"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component400}');}">
<apex:outputLabel escape="true" id="Component395" rendered="{!$ObjectType.OrderItem__c.fields.ContractGetPerson1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ContractGetPerson1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component395}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component396"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.ContractGetPerson1__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component409"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component409}');}">
<apex:outputLabel escape="true" id="Component404" rendered="{!$ObjectType.OrderItem__c.fields.ContractGetPerson2__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ContractGetPerson2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component404}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component405"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.ContractGetPerson2__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component401"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component401}');}">
<apex:outputLabel escape="true" id="Component397" rendered="{!$ObjectType.OrderItem__c.fields.ContractGetPersonPercentage1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ContractGetPersonPercentage1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component397}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component398"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.ContractGetPersonPercentage1__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component410"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component410}');}">
<apex:outputLabel escape="true" id="Component406" rendered="{!$ObjectType.OrderItem__c.fields.ContractGetPersonPercentage2__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ContractGetPersonPercentage2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component406}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component407"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.ContractGetPersonPercentage2__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component392', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#FFA500","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel></apex:pageBlock>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>