<apex:page standardController="OpportunityProduct__c"  extensions="OpportunityProductlayout_view"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="{!p_standardStylesheets}" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/42.0/connection.js"></script>
<script src="/soap/ajax/42.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "OpportunityProduct__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


</head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.layout.min.js')}" />
<script type="text/javascript">

var reDirectPageList = {"PageType":"Edit","Profiles":[{"ID":"00e10000000rSmaAAE","IsExist":false,"Name":"【不使用】一般","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000r6t9AAA","IsExist":false,"Name":"Chatter External User","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000r6t8AAA","IsExist":false,"Name":"Chatter Free User","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000r6t7AAA","IsExist":false,"Name":"Chatter Moderator User","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000JKZGAA4","IsExist":false,"Name":"Chatter Only User","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e5F000000JMN3QAO","IsExist":false,"Name":"CMS閲覧（外部アクセス可）","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000JLbYAAW","IsExist":false,"Name":"Groove プロファイル","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000rPBtAAM","IsExist":false,"Name":"Guest License User","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000JL9UAAW","IsExist":false,"Name":"Marketo","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000rLfzAAE","IsExist":false,"Name":"R&D","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000JKwuAAG","IsExist":false,"Name":"SmartViska","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e5F000000FWpCQAW","IsExist":false,"Name":"System","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000JLpLAAW","IsExist":false,"Name":"TeamSpirit","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e5F000000hiw7QAA","IsExist":false,"Name":"TeamSpirit（外部アクセス可）","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e5F000000eKAyQAM","IsExist":false,"Name":"クラウド","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e5F000000SkT9QAK","IsExist":false,"Name":"サポート","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e5F000000hiqxQAA","IsExist":false,"Name":"サポート（外部アクセス可）","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000r6sxAAA","IsExist":false,"Name":"システム管理者","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000r6t2AAA","IsExist":false,"Name":"ソリューション管理者","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000r6t3AAA","IsExist":false,"Name":"マーケティングユーザ","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e5F000000eKB3QAM","IsExist":false,"Name":"一般","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e5F000000eKB8QAM","IsExist":false,"Name":"一般（外部アクセス可）","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000r6t4AAA","IsExist":false,"Name":"契約 管理者","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e5F000000eKAPQA2","IsExist":false,"Name":"経営管理室","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000r6t1AAA","IsExist":false,"Name":"参照のみ","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e5F000000FWp2QAG","IsExist":false,"Name":"参照のみ（SVEあり）","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000JLmWAAW","IsExist":false,"Name":"標準 Platform ユーザ","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]},{"ID":"00e10000000r6t0AAA","IsExist":false,"Name":"標準ユーザ","RecordTypes":[{"DeveloperName":"Master","IsExist":false,"PageUrl":null,"RedirectType":"STANDARD"},{"DeveloperName":"SEO","IsExist":false,"PageUrl":"{!$Page.Opportunity_SEO_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SearchCleaner","IsExist":false,"PageUrl":"{!$Page.Opportunity_SearchCleaner_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBService","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBService_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"SiteProduct","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"KIJITASU","IsExist":false,"PageUrl":"{!$Page.Opportunity_text_view}","RedirectType":"VISUALFORCE"},{"DeveloperName":"WEBServiceNo","IsExist":false,"PageUrl":"{!$Page.Opportunity_WEBServiceNo_view1}","RedirectType":"VISUALFORCE"},{"DeveloperName":"IntroductionFee","IsExist":false,"PageUrl":"{!$Page.Opportunity_IntroductionF_view}","RedirectType":"VISUALFORCE"}]}],"StandardUrls":{"Detail":"\/{!record.id}","Edit":"\/{!record.id}\/e","New":"\/{!$ObjectType.OpportunityProduct__c.keyPrefix}\/e"}};
SkyEditor.PageContext = {profileId: '{!$Profile.Id}',profileName: '{!$Profile.Name}',recordTypeName: '{!recordTypeDevName}',isNew: {!ISNULL(record.Id)},recordTypes: {!recordTypesJSON},recordId: '{!record.Id}',currentUrl: location.href};
SkyEditor.Redirect.run(SkyEditor.PageContext, reDirectPageList);

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:form id="sve_form1" styleClass="sve_form1"  >
<apex:outputPanel id="Component2_Wrapper" styleClass="">
<apex:pageBlock id="Component2" mode="detail" title="{!label.redirectSelectLabel}"  >
<apex:pageBlockButtons location="both"  >
<apex:outputPanel id="Component3_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">

<apex:commandButton id="Component3" onclick="jQuery(SkyEditor.Redirect).trigger('recordTypeSelected');return false;" value="{!label.nextButton}"  style="width:66px;" >
</apex:commandButton>
</apex:outputPanel>
<apex:commandButton action="{!cancel}" id="Component4" rendered="{!!sve_showDeleteCancel}" value="{!customCancelButtonLabel}"  style="width:66px;" /></apex:pageBlockButtons><apex:outputPanel id="Component5_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="true" columns="1" id="Component5" showHeader="true" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="recordTypeSelecter_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.recordTypeSelecter_sectionItem}');}">
<apex:outputLabel escape="true" id="recordTypeSelecterLabel" rendered="{!$ObjectType.OpportunityProduct__c.fields.RecordTypeId.accessible}"  style="width:100px;" value="{!label.redirectPageTitle}" onclick="SkyEditor.touchToolTip('{!$Component.recordTypeSelecterLabel}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:selectList id="recordTypeSelecter" size="1"  style="color:#000000;font-size:1.0em;font-weight:Normal;"  value="{!record.RecordTypeId}">
	<apex:selectOptions value="{!recordTypeSelector.options}" />
</apex:selectList>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component5', {"isFirstSection":true,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel></apex:pageBlock>
</apex:outputPanel><apex:dataTable value="{!recordTypes}" var="rtlist" styleClass="sveRecordTypeTable pageblockTableStyle">
    <apex:column styleClass="sve_RTN" value="{!rtlist.Name}"  >
        <apex:facet name="header" >
            <apex:outputText value="{!label.recordTypeName}" />
        </apex:facet>
    </apex:column>
    <apex:column styleClass="sve_RTD" value="{!rtlist.Description}">
        <apex:facet name="header" >
            <apex:outputText value="{!label.recordTypeDescription}" />
        </apex:facet>
    </apex:column>
</apex:dataTable></apex:form></apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>