<apex:page standardController="Opportunity" showQuickActionVfHeader="false">
    <script type="text/javascript">
        var __sfdcSessionId = '{!GETSESSIONID()}';
    </script>
    <script src="../../soap/ajax/44.0/connection.js" type="text/javascript"></script>
    <script src="../../soap/ajax/44.0/apex.js" type="text/javascript"></script>
    <script type="text/javascript">
        var buttonName = "SVFOpportunityButton201608091022127225EB";        // コンテンツ見積書
        var opp = new sforce.SObject("Opportunity");
        opp.id ="{!Opportunity.Id}";
        var url = "https://wg1.lightning.force.com/apex/svfcloud__PreviewPage?id=" + opp.id + "&buttonFullName=" + buttonName;
        
        window.location.href = url;
    </script>
</apex:page>