<apex:page standardController="OpportunityProduct__c"  extensions="Opportunity_SearchCleaner_view"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" renderAs="{!renderAs}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="{!p_standardStylesheets}" title="Search Cleaner商談商品の参照画面" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/42.0/connection.js"></script>
<script src="/soap/ajax/42.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "OpportunityProduct__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style></head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.layout.min.js')}" />
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
<apex:sectionHeader subtitle="{!record.Name}" title="{!$ObjectType.OpportunityProduct__c.Label}" >
</apex:sectionHeader></apex:outputPanel><apex:form id="sve_form1" styleClass="sve_form1"  >
<apex:inlineEditSupport event="ondblclick" showOnEdit="" hideOnEdit=""/>
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1" mode="detail" title="Search Cleaner商談商品"  >
<apex:pageBlockButtons location="both"  >
<apex:commandButton action="{!deleteRecord}" id="Component105" onclick="if(!confirm('{!Label.customDeleteWarningLabel}')){return false;}disabledFieldItems(); " rendered="{!$ObjectType.OpportunityProduct__c.deletable && !ISNULL(record.Id) && !sve_showDeleteCancel}" value="{!customDeleteButtonLabel}"  style="width:50px;" /><apex:commandButton action="{!doSave}" id="Component211" onclick="disabledFieldItems(); " value="保存"  style="width:100px;"   rendered="{!OR($ObjectType.OpportunityProduct__c.createable,$ObjectType.OpportunityProduct__c.updateable)}" />
<apex:commandButton action="{!edit}" id="Component104" value="{!customEditButtonLabel}"  style="width:100px;" /><apex:outputPanel id="Component247_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">

<apex:commandButton id="Component247" onclick="SkyEditor.navigationTo('/apex/Opportunity_SearchCleaner?id={!record.Id}&clone=1', true); return false;" value="コピー"  style="width:100px;" >
</apex:commandButton>
</apex:outputPanel>
</apex:pageBlockButtons><apex:outputPanel id="Component172_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="true" columns="2" id="Component172" showHeader="false" title="Component172" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component175"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component175}');}">
<apex:outputLabel escape="true" id="Component173" rendered="{!$ObjectType.OpportunityProduct__c.fields.Account__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Account__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component173}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component174"    value="{!record.Account__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Account__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Account__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component174}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component181"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component181}');}">
<apex:outputLabel escape="true" id="Component179" rendered="{!$ObjectType.OpportunityProduct__c.fields.sisakuompany__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.sisakuompany__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component179}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component180"    value="{!record.sisakuompany__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.sisakuompany__c.createable},{!$ObjectType.OpportunityProduct__c.fields.sisakuompany__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component180}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component172', {"isFirstSection":true,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component2_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component2" showHeader="true" title="商品内容" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component27"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component27}');}">
<apex:outputLabel escape="true" id="Component25" rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component25}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component91"    value="{!record.Opportunity__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component91}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component16"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component16}');}">
<apex:outputLabel escape="true" id="Component14" rendered="{!$ObjectType.OpportunityProduct__c.fields.Price__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Price__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component14}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component93"    value="{!record.Price__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Price__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Price__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component93}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component158"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component158}');}">
<apex:outputLabel escape="true" id="Component156" rendered="{!$ObjectType.OpportunityProduct__c.fields.Name.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Name.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component156}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component157"    value="{!record.Name}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Name.createable},{!$ObjectType.OpportunityProduct__c.fields.Name.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component157}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component13"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component13}');}">
<apex:outputLabel escape="true" id="Component11" rendered="{!$ObjectType.OpportunityProduct__c.fields.Quantity__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Quantity__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component11}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component94"    value="{!record.Quantity__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Quantity__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Quantity__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component94}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component7"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component7}');}">
<apex:outputLabel escape="true" id="Component5" rendered="{!$ObjectType.OpportunityProduct__c.fields.Product__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Product__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component5}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component92"    value="{!record.Product__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Product__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Product__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component92}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component146"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component146}');}">
<apex:outputLabel escape="true" id="Component144" rendered="{!$ObjectType.OpportunityProduct__c.fields.BuyingupPrice__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.BuyingupPrice__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component144}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component145"    value="{!record.BuyingupPrice__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.BuyingupPrice__c.createable},{!$ObjectType.OpportunityProduct__c.fields.BuyingupPrice__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component145}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component246"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component246}');}">
<apex:outputLabel escape="true" id="Component244" rendered="{!$ObjectType.OpportunityProduct__c.fields.ProductValidity__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.ProductValidity__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component244}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component245"    value="{!record.ProductValidity__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.ProductValidity__c.createable},{!$ObjectType.OpportunityProduct__c.fields.ProductValidity__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component245}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
	<apex:outputText style="display:none;" value="{!record.ProductValidity__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component214"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component214}');}">
<apex:outputLabel escape="true" id="Component212" rendered="{!$ObjectType.OpportunityProduct__c.fields.TotalPrice__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.TotalPrice__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component212}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Bold;" >
			<apex:outputField id="Component213"    value="{!record.TotalPrice__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.TotalPrice__c.createable},{!$ObjectType.OpportunityProduct__c.fields.TotalPrice__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component213}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component243"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component243}');}">
<apex:outputLabel escape="true" id="Component241" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_Product__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_Product__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component241}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component242"    value="{!record.Item_Detail_Product__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_Product__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_Product__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component242}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component256"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component256}');}">
<apex:outputLabel escape="true" id="Component254" rendered="{!$ObjectType.OpportunityProduct__c.fields.ContractMonths__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.ContractMonths__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component254}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component255"    value="{!record.ContractMonths__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.ContractMonths__c.createable},{!$ObjectType.OpportunityProduct__c.fields.ContractMonths__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component255}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component76"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component76}');}">
<apex:outputLabel escape="true" id="Component74" rendered="{!$ObjectType.OpportunityProduct__c.fields.ProductType__c.accessible}"  style="width:100px;" value="分類" onclick="SkyEditor.touchToolTip('{!$Component.Component74}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#666666;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component75"    value="{!record.ProductType__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.ProductType__c.createable},{!$ObjectType.OpportunityProduct__c.fields.ProductType__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component75}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component112"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component112}');}">
<apex:outputLabel escape="true" id="Component110" rendered="{!$ObjectType.OpportunityProduct__c.fields.TotalPriceAll__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.TotalPriceAll__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component110}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Bold;" >
			<apex:outputField id="Component111"    value="{!record.TotalPriceAll__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.TotalPriceAll__c.createable},{!$ObjectType.OpportunityProduct__c.fields.TotalPriceAll__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component111}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component143"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component143}');}">
<apex:outputLabel escape="true" id="Component141" rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity_DeliveryExistence__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Opportunity_DeliveryExistence__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component141}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#666666;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component142"    value="{!record.Opportunity_DeliveryExistence__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Opportunity_DeliveryExistence__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Opportunity_DeliveryExistence__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component142}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component79"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component79}');}">
<apex:outputLabel escape="true" id="Component77" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Commission_rate__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Commission_rate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component77}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component95"    value="{!record.Item_Commission_rate__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_Commission_rate__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_Commission_rate__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component95}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component253"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component253}');}">
<apex:outputLabel escape="true" id="Component251" rendered="{!$ObjectType.OpportunityProduct__c.fields.BillingTiming__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.BillingTiming__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component251}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component252"    value="{!record.BillingTiming__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.BillingTiming__c.createable},{!$ObjectType.OpportunityProduct__c.fields.BillingTiming__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component252}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component178"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component178}');}">
<apex:outputLabel escape="true" id="Component176" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component176}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component177"    value="{!record.SalesPerson__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component177}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component250"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component250}');}">
<apex:outputLabel escape="true" id="Component248" rendered="{!$ObjectType.OpportunityProduct__c.fields.AutomaticUpdate__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.AutomaticUpdate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component248}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component249"    value="{!record.AutomaticUpdate__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.AutomaticUpdate__c.createable},{!$ObjectType.OpportunityProduct__c.fields.AutomaticUpdate__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component249}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component240"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component240}');}">
<apex:outputLabel escape="true" id="Component236" rendered="{!$ObjectType.OpportunityProduct__c.fields.Agreement__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Agreement__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component236}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#666666;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component237"    value="{!record.Agreement__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Agreement__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Agreement__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component237}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component2', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#3399FF","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component67_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component67" showHeader="true" title="契約内容" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component167"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component167}');}">
<apex:outputLabel escape="true" id="Component165" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Keyword_strategy_keyword__c.accessible}"  style="width:100px;" value="検索キーワード" onclick="SkyEditor.touchToolTip('{!$Component.Component165}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component163"    value="{!record.Item_Keyword_strategy_keyword__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_Keyword_strategy_keyword__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_Keyword_strategy_keyword__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component163}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component233"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component233}');}">
<apex:outputLabel escape="true" id="Component231" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Entry_date__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Entry_date__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component231}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component229"    value="{!record.Item_Entry_date__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_Entry_date__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_Entry_date__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component229}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component82"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component82}');}">
<apex:outputLabel escape="true" id="Component80" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Keyword_multiple_strategy_keyword__c.accessible}"  style="width:100px;" value="対策キーワード/URL" onclick="SkyEditor.touchToolTip('{!$Component.Component80}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component102"    value="{!record.Item_Keyword_multiple_strategy_keyword__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_Keyword_multiple_strategy_keyword__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_Keyword_multiple_strategy_keyword__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component102}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component66"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component66}');}">
<apex:outputLabel escape="true" id="Component64" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_start_date__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_start_date__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component64}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component98"    value="{!record.Item_Contract_start_date__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_start_date__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_start_date__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component98}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component49"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component49}');}">
<apex:outputLabel escape="true" id="Component47" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Special_instruction__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Special_instruction__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component47}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component99"    value="{!record.Item_Special_instruction__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_Special_instruction__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_Special_instruction__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component99}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component63"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component63}');}">
<apex:outputLabel escape="true" id="Component61" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_end_date__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_end_date__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component61}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component100"    value="{!record.Item_Contract_end_date__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_end_date__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_end_date__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component100}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component226"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component226}');}">
<apex:outputLabel escape="true" id="Component223" rendered="{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplication__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplication__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component223}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component224"    value="{!record.OutsourcingApplication__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplication__c.createable},{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplication__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component224}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component259"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component259}');}">
<apex:outputLabel escape="true" id="Component257" rendered="{!$ObjectType.OpportunityProduct__c.fields.gross_profit_view__c.accessible}"  style="width:100px;" value="評価額" onclick="SkyEditor.touchToolTip('{!$Component.Component257}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component258"    value="{!record.gross_profit_view__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.gross_profit_view__c.createable},{!$ObjectType.OpportunityProduct__c.fields.gross_profit_view__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component258}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component225"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component225}');}">
<apex:outputLabel escape="true" id="Component221" rendered="{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplicationName__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplicationName__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component221}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component222"    value="{!record.OutsourcingApplicationName__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplicationName__c.createable},{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplicationName__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component222}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component262"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component262}');}">
<apex:outputLabel escape="true" id="Component260" rendered="{!$ObjectType.OpportunityProduct__c.fields.ProfitPercentage__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.ProfitPercentage__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component260}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component261"    value="{!record.ProfitPercentage__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.ProfitPercentage__c.createable},{!$ObjectType.OpportunityProduct__c.fields.ProfitPercentage__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component261}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component217"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component217}');}">
<apex:outputLabel escape="true" id="Component215" rendered="{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component215}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component216"    value="{!record.AmountCountDay__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.createable},{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component216}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component265"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component265}');}">
<apex:outputLabel escape="true" id="Component263" rendered="{!$ObjectType.OpportunityProduct__c.fields.IrregularCoefficient__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.IrregularCoefficient__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component263}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component264"    value="{!record.IrregularCoefficient__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.IrregularCoefficient__c.createable},{!$ObjectType.OpportunityProduct__c.fields.IrregularCoefficient__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component264}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component220"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component220}');}">
<apex:outputLabel escape="true" id="Component218" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component218}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component219"    value="{!record.SalesForecast01__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component219}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component67', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#3399FF","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component182_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component182" showHeader="true" title="案分" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component203"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component203}');}">
<apex:outputLabel escape="true" id="Component199" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMainUnit1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMainUnit1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component199}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component200"    value="{!record.SalesPersonMainUnit1__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMainUnit1__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMainUnit1__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component200}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component204"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component204}');}">
<apex:outputLabel escape="true" id="Component201" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSubUnit__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSubUnit__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component201}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component202"    value="{!record.SalesPersonSubUnit__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSubUnit__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSubUnit__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component202}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component194"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component194}');}">
<apex:outputLabel escape="true" id="Component187" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMain__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMain__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component187}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component188"    value="{!record.SalesPersonMain__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMain__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMain__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component188}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component195"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component195}');}">
<apex:outputLabel escape="true" id="Component189" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSub__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSub__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component189}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component190"    value="{!record.SalesPersonSub__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSub__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSub__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component190}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component196"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component196}');}">
<apex:outputLabel escape="true" id="Component191" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component191}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component192"    value="{!record.SalesPercentage1__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage1__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage1__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component192}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component193"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component193}');}">
<apex:outputLabel escape="true" id="Component185" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage2__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component185}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component186"    value="{!record.SalesPercentage2__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage2__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage2__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component186}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:outputPanel ></apex:outputPanel></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component182', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component126_Wrapper" layout="block" styleClass="columns2"  style="border:1px solid #CCCCCC;border-radius:5px;" >
<apex:pageBlockSection collapsible="true" columns="2" id="Component126" showHeader="false" title="Component126" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component134"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component134}');}">
<apex:outputLabel escape="true" id="Component131" rendered="{!$ObjectType.OpportunityProduct__c.fields.CreatedById.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.CreatedById.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component131}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component132"    value="{!record.CreatedById}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.CreatedById.createable},{!$ObjectType.OpportunityProduct__c.fields.CreatedById.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component132}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component133"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component133}');}">
<apex:outputLabel escape="true" id="Component129" rendered="{!$ObjectType.OpportunityProduct__c.fields.LastModifiedById.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.LastModifiedById.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component129}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component130"    value="{!record.LastModifiedById}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.LastModifiedById.createable},{!$ObjectType.OpportunityProduct__c.fields.LastModifiedById.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component130}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component137"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component137}');}">
<apex:outputLabel escape="true" id="Component135" rendered="{!$ObjectType.OpportunityProduct__c.fields.CreatedDate.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.CreatedDate.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component135}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component136"    value="{!record.CreatedDate}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.CreatedDate.createable},{!$ObjectType.OpportunityProduct__c.fields.CreatedDate.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component136}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component140"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component140}');}">
<apex:outputLabel escape="true" id="Component138" rendered="{!$ObjectType.OpportunityProduct__c.fields.LastModifiedDate.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.LastModifiedDate.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component138}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component139"    value="{!record.LastModifiedDate}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.LastModifiedDate.createable},{!$ObjectType.OpportunityProduct__c.fields.LastModifiedDate.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component139}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component126', {"isFirstSection":false,"isMarginRemove":true});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel></apex:pageBlock>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >

<apex:outputPanel styleclass="" style="" >
<apex:relatedList id="Component168" rendered="{!$ObjectType.OrderItem__c.fields.OppProduct__c.accessible}" list="OppOpportunityProduct__r" pageSize="5"  />
<script type="text/javascript">
	var id = "{!$Component.Component168}";
	SkyEditor.s1_relatedList(id, 'OppOpportunityProduct__r'); 
</script>
</apex:outputPanel>

<apex:outputPanel styleclass="" style="" >
<apex:relatedList id="Component227" rendered="{!$ObjectType.teamspirit__AtkApply__c.fields.OrderProduct__c.accessible}" list="OrderProduct__r" pageSize="5"  />
<script type="text/javascript">
	var id = "{!$Component.Component227}";
	SkyEditor.s1_relatedList(id, 'OrderProduct__r'); 
</script>
</apex:outputPanel>
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>