<apex:page standardController="OpportunityProduct__c"  extensions="OpportunityforPS"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="{!p_standardStylesheets}" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "OpportunityProduct__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
.Component3_header{ 
height:35px; padding: 0px !important;}

</style><!--[if IE 9 ]> 
<style>
.dataTableSet {margin-bottom:auto;}
</style><![endif]--> </head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.tablesorter.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/addons/pager/jquery.tablesorter.pager.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/tableSortPageingSetting.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/js/jquery.layout.min.js')}" />
<script type="text/javascript">
jQuery(document).ready(function(){
SkyEditor.searchConditionFromTo = getDateFieldsValue();
SkyEditor.searchConditionItem = getSearchItemsValue();
});
SkyEditor.defaultConditionObj = {"Component107":"","Component109":"","Component17":"","Component11":"","Component163":"","Component7":"","Component28":"","Component15":"","Component30":"","Component13":"","Component122":"","Component133":"","Component124":"","Component135":""};

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/skyeditor2_searchTemplate.css')}"/>
<apex:form id="sve_form1" styleClass="sve_form1"  >
<div id="saveDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="saveDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><input type="text" id="conditionName" size="20" /></td></tr>
        <tr><td colspan="2" style="text-align:center;"><input type="button" id="conditionSave" value="{!Label.SaveConditionButtonSave}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<div id="readDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="readDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><select id="searchConditionList" /></td><td><input type="button" id="deleteCondition" value="{!Label.ReadConditionButtonDelete}" /></td></tr>
        <tr><td colspan="3"><input type="button" id="setCondition" value="{!Label.ReadConditionSetConditions}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<script type="text/javascript">
</script>
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1" mode="detail" title="ヨミ管理用　商談検索画面"  >
<apex:pageBlockButtons location="bottom"  >
<apex:commandButton action="{!doSearch}" id="Component20" value="検　索"  style="width:150px;" /><apex:commandButton id="Component21" onclick="clearSearchConditionsForPagererender();return false;" reRender="messagesPanel" value="{!Label.canvasClearButton}"  style="width:66px;" /><script>
jQuery('.pbBottomButtons').css('margin-top',0);
</script><apex:outputText id="sve_saveAlertText" value="{!customSaveWarningLabel}"  style="color:#CC0000;font-size:1.0em;font-weight:Normal;" /></apex:pageBlockButtons><apex:pageBlockSection collapsible="true" columns="1" id="Component22" title="{!customSearchSectionTitle}"  >
<apex:facet name="header"  >
<apex:outputPanel >
<apex:outputText value="{!customSearchSectionTitle}"  /><input  class="btn" id="saveBtn" type="button" value="{!customRegistCriteriaButtonLabel}" /><input  class="btn" id="readBtn" type="button" value="{!customLoadCriteriaButtonLabel}" /></apex:outputPanel></apex:facet><apex:outputPanel id="Component23"  >
<fieldset  >
<table  border="0" cellpadding="0"  style="font-size:12px;">
<tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.Phase__c.accessible}" >
																				<apex:outputLabel escape="true" id="Component106"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="商品フェーズ" onclick="SkyEditor.touchToolTip('{!$Component.Component106}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Phase__c.accessible}" >
		<apex:selectList id="Component107_operator" value="{!Component107_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_Phase_c_multi}" />
		</apex:selectList>
		<apex:selectList id="Component107" value="{!Component107_val.SkyEditor2__Text__c}" size="1" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;color:#000000;font-size:1.0em;">
			<apex:selectOptions value="{!valueOptions_OpportunityProduct_c_Phase_c_multi}"/>
		</apex:selectList>
		<apex:inputHidden value="{!Component107_val_dummy.SkyEditor2__Text__c}" id="Component107_Hidden"/>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component107}";
				inputSearchItemMultiSelect(id);
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity_Phase__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component108"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="商談フェーズ" onclick="SkyEditor.touchToolTip('{!$Component.Component108}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity_Phase__c.accessible}" >
		<apex:selectList id="Component109_operator" value="{!Component109_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_Opportunity_Phase_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component109" value="{!Component109_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#3366FF;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component109}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component16"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component16}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.accessible}" >
		<apex:selectList id="Component17_operator" value="{!Component17_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_SalesPerson_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component17" value="{!Component17_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#3366FF;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component17}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.createable}" >
																		<apex:outputLabel escape="true" id="Component10"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component10}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.createable}" >
		<apex:selectList id="Component11_operator" value="{!Component11_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_Opportunity_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component11" value="{!Component11_val.Opportunity__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;color:#3366FF;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component11}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMainUnit__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component162"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="ユニット" onclick="SkyEditor.touchToolTip('{!$Component.Component162}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMainUnit__c.accessible}" >
		<apex:selectList id="Component163_operator" value="{!Component163_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_SalesPersonMainUnit_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component163" value="{!Component163_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component163}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.Name.accessible}" >
																			<apex:outputLabel escape="true" id="Component6"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.OpportunityProduct__c.fields.Name.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component6}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Name.accessible}" >
		<apex:selectList id="Component7_operator" value="{!Component7_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_Name}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component7" value="{!Component7_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#3366FF;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component7}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.AccountName__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component27"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.OpportunityProduct__c.fields.AccountName__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component27}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.AccountName__c.accessible}" >
		<apex:selectList id="Component28_operator" value="{!Component28_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_AccountName_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component28" value="{!Component28_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#3366FF;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component28}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.sisakuompany__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component14"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.OpportunityProduct__c.fields.sisakuompany__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component14}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.sisakuompany__c.accessible}" >
		<apex:selectList id="Component15_operator" value="{!Component15_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_sisakuompany_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component15" value="{!Component15_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#3366FF;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component15}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity_Competition__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component29"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.OpportunityProduct__c.fields.Opportunity_Competition__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component29}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity_Competition__c.accessible}" >
		<apex:selectList id="Component30_operator" value="{!Component30_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_Opportunity_Competition_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component30" value="{!Component30_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#3366FF;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component30}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.ProductName_Detail__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component12"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.OpportunityProduct__c.fields.ProductName_Detail__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component12}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.ProductName_Detail__c.accessible}" >
		<apex:selectList id="Component13_operator" value="{!Component13_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_ProductName_Detail_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component13" value="{!Component13_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#3366FF;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component13}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.AmountCountMonth__c.accessible}" >
																					<apex:outputLabel escape="true" id="Component121"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.OpportunityProduct__c.fields.AmountCountMonth__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component121}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.AmountCountMonth__c.accessible}" >
		<apex:selectList id="Component122_operator" value="{!Component122_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_AmountCountMonth_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component122" value="{!Component122_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:44px;height:14px;color:#3366FF;font-size:1.0em;text-align:center;ime-mode:disabled;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component122}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.CloseMonth__c.accessible}" >
																					<apex:outputLabel escape="true" id="Component132"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.OpportunityProduct__c.fields.CloseMonth__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component132}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.CloseMonth__c.accessible}" >
		<apex:selectList id="Component133_operator" value="{!Component133_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_CloseMonth_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component133" value="{!Component133_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:44px;height:14px;color:#3366FF;font-size:1.0em;text-align:center;ime-mode:disabled;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component133}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.AmountCountMonth2__c.accessible}" >
																					<apex:outputLabel escape="true" id="Component123"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.OpportunityProduct__c.fields.AmountCountMonth2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component123}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.AmountCountMonth2__c.accessible}" >
		<apex:selectList id="Component124_operator" value="{!Component124_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_AmountCountMonth2_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component124" value="{!Component124_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:44px;height:14px;color:#3366FF;font-size:1.0em;text-align:center;ime-mode:disabled;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component124}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.OpportunityProduct__c.fields.StartMonth__c.accessible}" >
																					<apex:outputLabel escape="true" id="Component134"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.OpportunityProduct__c.fields.StartMonth__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component134}');"/>
				</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.OpportunityProduct__c.fields.StartMonth__c.accessible}" >
		<apex:selectList id="Component135_operator" value="{!Component135_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_OpportunityProduct_c_StartMonth_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component135" value="{!Component135_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:44px;height:14px;color:#3366FF;font-size:1.0em;text-align:center;ime-mode:disabled;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component135}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr></table></fieldset></apex:outputPanel></apex:pageBlockSection>
</apex:pageBlock>
</apex:outputPanel></apex:form><apex:form id="sve_form2" styleClass="sve_form2"  >
<apex:outputPanel id="Component2_Wrapper" styleClass="">
<apex:pageBlock id="Component2" mode="detail" title=" "  >
<apex:pageBlockButtons location="top"  >
<apex:commandButton action="{!doSave}" id="Component24" value="変更を保存"  style="width:150px;color:#FF6600;font-weight:Bold;"   rendered="{!OR($ObjectType.OpportunityProduct__c.createable,$ObjectType.OpportunityProduct__c.updateable)}" />
<apex:outputPanel id="Component5_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">

<apex:commandButton id="Component5" onclick="SkyEditor.navigationTo('/apex/Opportunity_Search', true); return false;" value="▶ 商談検索画面"  style="width:120px;color:#3366FF;font-weight:Bold;" >
</apex:commandButton>
</apex:outputPanel>
<apex:outputPanel id="Component166_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">

<apex:commandButton id="Component166" onclick="SkyEditor.navigationTo('/apex/NouhinDATAforPS', true); return false;" value="▶ 納品管理画面"  style="width:120px;color:#3366FF;font-weight:Bold;" >
</apex:commandButton>
</apex:outputPanel>
<apex:outputPanel id="Component168_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">

<apex:commandButton id="Component168" onclick="SkyEditor.navigationTo('https://wg1.my.salesforce.com/00O100000040gnU', true); return false;" value="ヨミ管理レポート"  style="width:100px;color:#000000;font-weight:Bold;" >
</apex:commandButton>
</apex:outputPanel>
<apex:outputPanel id="Component169_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">

<apex:commandButton id="Component169" onclick="SkyEditor.navigationTo('https://wg1.my.salesforce.com/00O100000040gml', true); return false;" value="予実集計レポート"  style="width:100px;" >
</apex:commandButton>
</apex:outputPanel>
</apex:pageBlockButtons><apex:outputPanel id="Component3_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="Component3" layout="block" styleClass="dataTableSet"  style="overflow:auto;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<table  class="tableOperator" id="Component3_header" >
<tr  >
<td  >
<apex:commandButton action="{!Component3.add}" id="Component3_addButton" immediate="false" onclick="if(mirrorFormSync('Component3_table','Component3_table_mirror',this)) return false;" reRender="Component3,messagesPanel" rendered="{!$ObjectType.OpportunityProduct__c.createable && Component3.items.size < 500}" value="商品追加"  >
</apex:commandButton><apex:actionStatus id="Component3_addButton_status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
</td><td  >
<input  class="btn" id="Component3_bulkEditButton" onclick="jQuery('#Component3_table_editDialog').dialog('open');" type="button" value="{!label.customBulkEditButtonLabel}" /></td><td  >
<div  id="Component3__pager" layout="block" class="pager" style="margin-left:20px; text-align:center;">
 <table cellpadding="0" cellspacing="0" border="0">
 <tr>
 <td>
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/addons/pager/icons/first.png')}" class="first"/>
 </td>
 <td> 
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/addons/pager/icons/prev.png')}" class="prev"/>
 </td>
 <td>
 <input type="text" class="pagedisplay" readonly="readonly" />
 </td>
 <td>
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/addons/pager/icons/next.png')}" class="next"/>
 </td>
 <td>
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/8_0/css/addons/pager/icons/last.png')}" class="last"/>
 </td>
 <td>
 <select class="pagesize">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="25">25</option>
  <option value="50">50</option>
  <option value="100">100</option>
 </select>
 </td>
 </tr>
 </table>
<script>
	if (typeof LookupHoverDetail === 'function') {
		LookupHoverDetail.prototype.show = function () {};
	}
</script>
</div></td><td  >
<input type="text" class="filterValue" placeholder="{!label.TableFilterPlaceholder}" /></td><td  >
<apex:outputPanel style="margin-left:20px;"  >
<apex:outputText value="{!rowCount}"  /><apex:outputText styleClass="recordCounter" value="{!IF(Component3.items.size >=500, (rowCountPrefix & ' ' & TEXT(Component3.items.size) & ' ' & rowCountSuffix), (':' & TEXT(Component3.items.size)))}"  /></apex:outputPanel></td></tr></table><apex:outputPanel layout="block" styleClass="tableWrapper"   >
<apex:pageBlockTable columnsWidth="30px,39px,,,,,,,,,,,,,,,,,,,,," headerClass="Component3_header" id="Component3_table" rows="500" value="{!Component3.items}" var="Component3_item"  >
<apex:column style="width:30px;" >
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:30px;display:block;" >
<apex:inputCheckbox onclick="applyChecked(event, this, 'Component3');" value="{!Component3.selected}"  >
</apex:inputCheckbox></apex:outputPanel></apex:facet><apex:inputCheckbox id="BulkSelectCheckbox" onclick="SkyEditor.MirrorForm.update('Component3_table', 'Component3_table_mirror', this);" styleClass="BulkSelectCheckbox" value="{!Component3_item.selected}"  >
</apex:inputCheckbox><script>
document.getElementById('{!$Component.BulkSelectCheckbox}').setAttribute('rid','{!Component3_item.record.Id}');
</script></apex:column><apex:column style="width:39px;" >
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:39px;display:block;" >
</apex:outputPanel></apex:facet><apex:commandButton action="{!Component3_item.doDeleteItem}" immediate="false" onclick="if(!confirm('{!Label.customDeleteWarningLabel}')){return false;}" reRender="Component3,messagesPanel" value="{!customDeleteRowButtonLabel}"    rendered="{!OR($ObjectType.OpportunityProduct__c.deletable,AND($ObjectType.OpportunityProduct__c.accessible,ISNULL(Component3_item.record.Id)))}" /></apex:column><apex:column id="Component75"  style="color:#000000;text-align:left;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:150px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
<apex:outputField id="Component74"    value="{!Component3_item.record.Opportunity__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component104"  style="color:#000000;text-align:left;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.sisakuompany_kubun__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:110px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component103"    value="{!Component3_item.record.sisakuompany_kubun__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.sisakuompany_kubun__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component42"  style="color:#000000;text-align:left;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Name.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:106px;color:#000000;font-size:1.0em;font-weight:Normal;text-decoration:underline;display:block;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
			<apex:outputLink value="/{!Component3_item.record.id}"
		 target="_blank" 		onclick="return SkyEditor.navigateToSobjectByNameLink('{!Component3_item.record.id}',true);" >
							<apex:outputField id="Component41"    value="{!Component3_item.record.Name}" />
			</apex:outputLink>
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.Name.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component149"  style="color:#000000;text-align:left;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.ProductName_Detail__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:120px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component148"    value="{!Component3_item.record.ProductName_Detail__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.ProductName_Detail__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component177"  style="color:#000000;text-align:left;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.AutomaticUpdate__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component176"    value="{!Component3_item.record.AutomaticUpdate__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.AutomaticUpdate__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component52"  style="color:#000000;text-align:right;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.CloseDate__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:73px;color:#333333;font-size:1.0em;font-weight:Bold;display:block;margin-left:auto;" >
<apex:outputField id="Component51"    value="{!Component3_item.record.CloseDate__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:center;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.CloseDate__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component40"  style="color:#000000;text-align:left;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity_Phase__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:70px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component39"    value="{!Component3_item.record.Opportunity_Phase__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="商談フェーズ"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component88"  style="color:#000000;text-align:right;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.OrderPercentage__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:40px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;margin-left:auto;" >
<apex:outputField id="Component87"    value="{!Component3_item.record.OrderPercentage__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:center;display:block;" >
<apex:outputText value="確度"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component94"  style="color:#000000;text-align:right;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Price__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component93" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:64px;height:14px;color:#3366FF;font-size:1.0em;font-weight:Normal;text-align:right;ime-mode:disabled;"   value="{!Component3_item.record.Price__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:center;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.Price__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component96"  style="color:#000000;text-align:right;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Quantity__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component95" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:34px;height:14px;color:#3366FF;font-size:1.0em;font-weight:Normal;text-align:right;ime-mode:disabled;"   value="{!Component3_item.record.Quantity__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:center;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.Quantity__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component98"  style="color:#000000;text-align:center;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_keyword_letter_count__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component97" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:44px;height:14px;color:#3366FF;font-size:1.0em;font-weight:Normal;text-align:right;ime-mode:disabled;"   value="{!Component3_item.record.Item_keyword_letter_count__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:center;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.Item_keyword_letter_count__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component77"  style="color:#000000;text-align:right;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesAmount__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:70px;color:#3366FF;font-size:1.0em;font-weight:Normal;text-align:right;display:block;margin-left:auto;" >
<apex:outputField id="Component76"    value="{!Component3_item.record.SalesAmount__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:center;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.SalesAmount__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component79"  style="color:#000000;text-align:left;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.accessible}" >
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component78" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:74px;height:14px;color:#3366FF;font-size:1.0em;font-weight:Normal;text-align:right;"   value="{!Component3_item.record.AmountCountDay__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component158"  style="color:#000000;text-align:right;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component157" onblur="skyeditor_onBlur(this, 'pink')" onchange="ChildCalc_1(this);" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:64px;height:14px;color:#3366FF;font-size:1.0em;font-weight:Normal;text-align:right;"   value="{!Component3_item.record.SalesForecast01__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:center;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component137"  style="color:#000000;text-align:left;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay2__c.accessible}" >
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component136" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:74px;height:14px;color:#3366FF;font-size:1.0em;font-weight:Normal;text-align:right;"   value="{!Component3_item.record.AmountCountDay2__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay2__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component160"  style="color:#000000;text-align:right;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesForecast02__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component159" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:64px;height:14px;color:#3366FF;font-size:1.0em;font-weight:Normal;text-align:right;"   value="{!Component3_item.record.SalesForecast02__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:center;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.SalesForecast02__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component64"  style="color:#000000;text-align:left;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_start_date__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:73px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:right;display:block;" >
<apex:outputField id="Component63"    value="{!Component3_item.record.Item_Contract_start_date__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:center;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_start_date__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component66"  style="color:#000000;text-align:left;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_end_date__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:73px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;display:block;" >
<apex:outputField id="Component65"    value="{!Component3_item.record.Item_Contract_end_date__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:center;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.Item_Contract_end_date__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component174"  style="color:#000000;text-align:left;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity_kadai1__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:150px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component173"    value="{!Component3_item.record.Opportunity_kadai1__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.Opportunity_kadai1__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component68"  style="color:#000000;text-align:left;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:100px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:right;display:block;" >
<apex:outputField id="Component67"    value="{!Component3_item.record.SalesPerson__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:center;display:block;" >
<apex:outputText value="{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component70"  style="color:#000000;text-align:right;vertical-align:middle;height:35px;"   rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage1__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:60px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:right;display:block;margin-left:auto;" >
<apex:outputField id="Component69"    value="{!Component3_item.record.SalesPercentage1__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:center;display:block;" >
<apex:outputText value="案分率"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column></apex:pageBlockTable>

<script type="text/javascript">
(function () {
if(jQuery("table[id$='Component3_table'] tbody tr").length > 0){
	var table, sortOptions, toolbox, filterOptions, pager, pagerOptions;
	table = document.getElementById("Component3_table") || document.getElementById("{!$Component.Component3_table}");
	sortOptions = {headers: { 0:{sorter: false}, 1:{sorter: false}, 2:{sorter: "text"}, 3:{sorter: "text"}, 4:{sorter: "text"}, 5:{sorter: "text"}, 6:{sorter: "text"}, 7:{sorter: "Date"}, 8:{sorter: "text"}, 9:{sorter: "digit"}, 10:{sorter: "currency"}, 11:{sorter: "digit"}, 12:{sorter: "digit"}, 13:{sorter: "currency"}, 14:{sorter: "Date"}, 15:{sorter: "currency"}, 16:{sorter: "Date"}, 17:{sorter: "currency"}, 18:{sorter: "Date"}, 19:{sorter: "Date"}, 20:{sorter: "text"}, 21:{sorter: "text"}, 22:{sorter: "digit"}}};
	filterOptions = {inlineFilter: {}};
	pager = document.getElementById("Component3__pager");
	pagerOptions = {
		container: jQuery(pager),
		size: 100
	};
	SkyEditor.TableSorter.initialize(table, {
		rowsPerRecord: 1,
		sort: sortOptions,
		filter: filterOptions,
		pager: pagerOptions
	});
}
})();
</script>
<script>
SkyEditor.FixedTableHeader('{!$Component.Component3}',true);
</script></apex:outputPanel><apex:outputPanel id="Component3_table_mirror" style="display:none;">
<apex:actionRegion >
	<apex:repeat rows="500" value="{! Component3.items}" var="Component3_table_mirrorFormItem">
		<apex:inputCheckbox id="BulkSelectCheckbox" styleClass="BulkSelectCheckbox" value="{! Component3_table_mirrorFormItem.selected}" />
	</apex:repeat>
	<apex:commandButton id="Component3_table_mirrorFormButton" value="Send" rerender="Component3_table_mirror" oncomplete="jQuery(SkyEditor.reSubmitTarget['{! $Component.Component3_table_mirrorFormButton}']).click();"/>
</apex:actionRegion>
</apex:outputPanel>
<script>
ObscureUnusedCondition();
</script><apex:inputTextArea id="Component3_hiddenValue" value="{!Component3.hiddenValue}" style="display:none;" rendered="{!$ObjectType.OpportunityProduct__c.createable}"></apex:inputTextArea>
<apex:commandButton id="Component3_importByJSON" action="{!Component3.importByJSON}" style="display:none;" reRender="Component3" rendered="{!$ObjectType.OpportunityProduct__c.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('Component3');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=Component3]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
</apex:pageBlock>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}function ChildCalc_1(elm) {
  var baseNodeObject = jQuery(elm);
  setValue(
  getListSibling(':Component159', baseNodeObject),
subtractCalc(
  getListSibling(':Component76', baseNodeObject),
  getListSibling(':Component157', baseNodeObject)
)
,
  'round',
  2,
  true,
  true
)

  typeof aggregateCalc_all === 'function' && aggregateCalc_all('Component3');
}

</script>
<div style="border:solid 1px #CCC; display:none;" id="Component3_table_editDialog">
  <apex:form id="Component179">
    <apex:panelGrid columns="2">
      <apex:outputLabel >{!label.customFieldSelectionLabel}</apex:outputLabel>
      <apex:actionRegion >
        <apex:selectList id="Component3_table_selecter" value="{!Component3_table_selectval}" size="1">
          <apex:selectOption itemValue="" itemLabel="{!label.customSelectOptionNoneLabel}" />
          <apex:selectOption itemValue="Component93_dedit" itemLabel="{!$ObjectType.OpportunityProduct__c.fields.Price__c.label}" rendered="{!AND($ObjectType.OpportunityProduct__c.fields.Price__c.createable)}" />
          <apex:selectOption itemValue="Component95_dedit" itemLabel="{!$ObjectType.OpportunityProduct__c.fields.Quantity__c.label}" rendered="{!AND($ObjectType.OpportunityProduct__c.fields.Quantity__c.createable)}" />
          <apex:selectOption itemValue="Component97_dedit" itemLabel="{!$ObjectType.OpportunityProduct__c.fields.Item_keyword_letter_count__c.label}" rendered="{!AND($ObjectType.OpportunityProduct__c.fields.Item_keyword_letter_count__c.createable)}" />
          <apex:selectOption itemValue="Component78_dedit" itemLabel="{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.label}" rendered="{!AND($ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.createable)}" />
          <apex:selectOption itemValue="Component157_dedit" itemLabel="{!$ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.label}" rendered="{!AND($ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.createable)}" />
          <apex:selectOption itemValue="Component136_dedit" itemLabel="{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay2__c.label}" rendered="{!AND($ObjectType.OpportunityProduct__c.fields.AmountCountDay2__c.createable)}" />
          <apex:selectOption itemValue="Component159_dedit" itemLabel="{!$ObjectType.OpportunityProduct__c.fields.SalesForecast02__c.label}" rendered="{!AND($ObjectType.OpportunityProduct__c.fields.SalesForecast02__c.createable)}" />
        </apex:selectList>
      </apex:actionRegion>
      <apex:outputLabel >{!label.customValueLabel}</apex:outputLabel>
      <apex:outputPanel >
        <div id="Component93_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component93_dedit" value="{!Component3_table_Conversion.Price__c}" rendered="{!AND($ObjectType.OpportunityProduct__c.fields.Price__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
        <div id="Component95_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component95_dedit" value="{!Component3_table_Conversion.Quantity__c}" rendered="{!AND($ObjectType.OpportunityProduct__c.fields.Quantity__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
        <div id="Component97_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component97_dedit" value="{!Component3_table_Conversion.Item_keyword_letter_count__c}" rendered="{!AND($ObjectType.OpportunityProduct__c.fields.Item_keyword_letter_count__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
        <div id="Component78_dedit_div">
          <apex:outputPanel >
            <apex:OutputPanel rendered="{!AND($ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.createable)}">
              <apex:inputField id="Component78_dedit" value="{!Component3_table_Conversion.AmountCountDay__c}" required="false" />
              <script type="text/script">jQuery("[id$='Component78_dedit']").removeAttr("onfocus");jQuery("input[id$='Component78_dedit']")[0].onfocus = function(){};</script>
            </apex:OutputPanel>
          </apex:outputPanel>
        </div>
        <div id="Component157_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component157_dedit" value="{!Component3_table_Conversion.SalesForecast01__c}" rendered="{!AND($ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
        <div id="Component136_dedit_div">
          <apex:outputPanel >
            <apex:OutputPanel rendered="{!AND($ObjectType.OpportunityProduct__c.fields.AmountCountDay2__c.createable)}">
              <apex:inputField id="Component136_dedit" value="{!Component3_table_Conversion.AmountCountDay2__c}" required="false" />
              <script type="text/script">jQuery("[id$='Component136_dedit']").removeAttr("onfocus");jQuery("input[id$='Component136_dedit']")[0].onfocus = function(){};</script>
            </apex:OutputPanel>
          </apex:outputPanel>
        </div>
        <div id="Component159_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component159_dedit" value="{!Component3_table_Conversion.SalesForecast02__c}" rendered="{!AND($ObjectType.OpportunityProduct__c.fields.SalesForecast02__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
      </apex:outputPanel>
    </apex:panelGrid>
    <apex:outputPanel layout="block" style="margin-top:20px;text-align:center;">
      <input type="button" class="btn" value="{!label.customEditButtonLabel}" onclick="setTableValue('Component3_table','Component3_table_editDialog')" />
      <input type="button" class="btn" value="{!label.customBulkEditWindowCloseButtonLabel}" onclick="closeBulkEditDialog('Component3_table','Component3_table_editDialog')" />
    </apex:outputPanel>
  </apex:form>
</div><script type="text/javascript">jQuery('#Component3_table_editDialog').dialog({autoOpen: false});openBulkEditDialog('Component3_table','Component3_table_editDialog');
jQuery(escapeID('#{!$Component.Component179.Component3_table_selecter}')).change(function() {
    var divs = jQuery('#Component93_dedit_div,#Component95_dedit_div,#Component97_dedit_div,#Component78_dedit_div,#Component157_dedit_div,#Component136_dedit_div,#Component159_dedit_div')
 
    if (divs.length){
        divs.hide();
    }else{
        return;
   }
    var selectItem = jQuery('#'+jQuery(this).find('option:selected').attr('value')+'_div');
	   if (jQuery(selectItem).length){
    selectItem.show();
    }
}).change();</script><script type="text/javascript"></script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>