<apex:page standardController="OpportunityProduct__c"  extensions="Opportunity_WEBsite_view"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" renderAs="{!renderAs}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="{!p_standardStylesheets}" title="サイト制作商談商品の参照画面" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/42.0/connection.js"></script>
<script src="/soap/ajax/42.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "OpportunityProduct__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style></head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.layout.min.js')}" />
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
<apex:sectionHeader subtitle="{!record.Name}" title="{!$ObjectType.OpportunityProduct__c.Label}" >
</apex:sectionHeader></apex:outputPanel><apex:form id="sve_form1" styleClass="sve_form1"  >
<apex:inlineEditSupport event="ondblclick" showOnEdit="" hideOnEdit=""/>
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1" mode="detail" title="サイト制作商談商品"  >
<apex:pageBlockButtons location="both"  >
<apex:commandButton action="{!deleteRecord}" id="Component212" onclick="if(!confirm('{!Label.customDeleteWarningLabel}')){return false;}disabledFieldItems(); " rendered="{!$ObjectType.OpportunityProduct__c.deletable && !ISNULL(record.Id) && !sve_showDeleteCancel}" value="{!customDeleteButtonLabel}"  style="width:50px;" /><apex:commandButton action="{!doSave}" id="Component301" onclick="disabledFieldItems(); " value="{!customSaveButtonLabel}"  style="width:100px;"   rendered="{!OR($ObjectType.OpportunityProduct__c.createable,$ObjectType.OpportunityProduct__c.updateable)}" />
<apex:commandButton action="{!edit}" id="Component211" value="{!customEditButtonLabel}"  style="width:100px;" /><apex:outputPanel id="Component342_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">

<apex:commandButton id="Component342" onclick="SkyEditor.navigationTo('/apex/Opportunity_WEBsite?id={!record.Id}&clone=1', true); return false;" value="コピー"  style="width:100px;" >
</apex:commandButton>
</apex:outputPanel>
</apex:pageBlockButtons><apex:outputPanel id="Component263_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="true" columns="2" id="Component263" showHeader="false" title="Component263" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component269"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component269}');}">
<apex:outputLabel escape="true" id="Component267" rendered="{!$ObjectType.OpportunityProduct__c.fields.Account__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Account__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component267}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component268"    value="{!record.Account__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Account__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Account__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component268}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component272"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component272}');}">
<apex:outputLabel escape="true" id="Component270" rendered="{!$ObjectType.OpportunityProduct__c.fields.sisakuompany__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.sisakuompany__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component270}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component271"    value="{!record.sisakuompany__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.sisakuompany__c.createable},{!$ObjectType.OpportunityProduct__c.fields.sisakuompany__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component271}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component263', {"isFirstSection":true,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component2_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component2" showHeader="true" title="商品内容" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component27"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component27}');}">
<apex:outputLabel escape="true" id="Component25" rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component25}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component191"    value="{!record.Opportunity__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Opportunity__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component191}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component16"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component16}');}">
<apex:outputLabel escape="true" id="Component14" rendered="{!$ObjectType.OpportunityProduct__c.fields.Price__c.accessible}"  style="width:100px;" value="単価" onclick="SkyEditor.touchToolTip('{!$Component.Component14}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component193"    value="{!record.Price__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Price__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Price__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component193}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component341"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component341}');}">
<apex:outputLabel escape="true" id="Component339" rendered="{!$ObjectType.OpportunityProduct__c.fields.Name.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Name.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component339}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component340"    value="{!record.Name}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Name.createable},{!$ObjectType.OpportunityProduct__c.fields.Name.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component340}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component13"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component13}');}">
<apex:outputLabel escape="true" id="Component11" rendered="{!$ObjectType.OpportunityProduct__c.fields.Quantity__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Quantity__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component11}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component195"    value="{!record.Quantity__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Quantity__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Quantity__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component195}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component7"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component7}');}">
<apex:outputLabel escape="true" id="Component5" rendered="{!$ObjectType.OpportunityProduct__c.fields.Product__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Product__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component5}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component192"    value="{!record.Product__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Product__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Product__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component192}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component244"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component244}');}">
<apex:outputLabel escape="true" id="Component242" rendered="{!$ObjectType.OpportunityProduct__c.fields.BuyingupPrice__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.BuyingupPrice__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component242}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component243"    value="{!record.BuyingupPrice__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.BuyingupPrice__c.createable},{!$ObjectType.OpportunityProduct__c.fields.BuyingupPrice__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component243}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component338"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component338}');}">
<apex:outputLabel escape="true" id="Component336" rendered="{!$ObjectType.OpportunityProduct__c.fields.ProductValidity__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.ProductValidity__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component336}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component337"    value="{!record.ProductValidity__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.ProductValidity__c.createable},{!$ObjectType.OpportunityProduct__c.fields.ProductValidity__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component337}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
	<apex:outputText style="display:none;" value="{!record.ProductValidity__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component304"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component304}');}">
<apex:outputLabel escape="true" id="Component302" rendered="{!$ObjectType.OpportunityProduct__c.fields.TotalPrice__c.accessible}"  style="width:100px;" value="合計" onclick="SkyEditor.touchToolTip('{!$Component.Component302}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Bold;" >
			<apex:outputField id="Component303"    value="{!record.TotalPrice__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.TotalPrice__c.createable},{!$ObjectType.OpportunityProduct__c.fields.TotalPrice__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component303}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component332"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component332}');}">
<apex:outputLabel escape="true" id="Component330" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_Product__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_Product__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component330}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component331"    value="{!record.Item_Detail_Product__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_Product__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_Product__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component331}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component266"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component266}');}">
<apex:outputLabel escape="true" id="Component264" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component264}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component265"    value="{!record.SalesPerson__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPerson__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component265}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component335"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component335}');}">
<apex:outputLabel escape="true" id="Component333" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_ProductView__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_ProductView__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component333}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component334"    value="{!record.Item_Detail_ProductView__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_ProductView__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_Detail_ProductView__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component334}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component76"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component76}');}">
<apex:outputLabel escape="true" id="Component74" rendered="{!$ObjectType.OpportunityProduct__c.fields.ProductType__c.accessible}"  style="width:100px;" value="分類" onclick="SkyEditor.touchToolTip('{!$Component.Component74}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component75"    value="{!record.ProductType__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.ProductType__c.createable},{!$ObjectType.OpportunityProduct__c.fields.ProductType__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component75}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component241"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component241}');}">
<apex:outputLabel escape="true" id="Component239" rendered="{!$ObjectType.OpportunityProduct__c.fields.Opportunity_DeliveryExistence__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Opportunity_DeliveryExistence__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component239}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component240"    value="{!record.Opportunity_DeliveryExistence__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Opportunity_DeliveryExistence__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Opportunity_DeliveryExistence__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component240}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component345"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component345}');}">
<apex:outputLabel escape="true" id="Component343" rendered="{!$ObjectType.OpportunityProduct__c.fields.BillingTiming__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.BillingTiming__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component343}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component344"    value="{!record.BillingTiming__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.BillingTiming__c.createable},{!$ObjectType.OpportunityProduct__c.fields.BillingTiming__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component344}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component2', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#FFA500","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component67_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component67" showHeader="true" title="契約内容" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component100"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component100}');}">
<apex:outputLabel escape="true" id="Component98" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Strategy_url_del__c.accessible}"  style="width:100px;" value="対象URL" onclick="SkyEditor.touchToolTip('{!$Component.Component98}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component200"    value="{!record.Item_Strategy_url_del__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_Strategy_url_del__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_Strategy_url_del__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component200}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component329"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component329}');}">
<apex:outputLabel escape="true" id="Component327" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Entry_date__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Entry_date__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component327}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component325"    value="{!record.Item_Entry_date__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_Entry_date__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_Entry_date__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component325}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component103"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component103}');}">
<apex:outputLabel escape="true" id="Component101" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_DeliveryDate__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_DeliveryDate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component101}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component205"    value="{!record.Item_DeliveryDate__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_DeliveryDate__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_DeliveryDate__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component205}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component319"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component319}');}">
<apex:outputLabel escape="true" id="Component317" rendered="{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplication__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplication__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component317}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component312"    value="{!record.OutsourcingApplication__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplication__c.createable},{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplication__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component312}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component322"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component322}');}">
<apex:outputLabel escape="true" id="Component320" rendered="{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplicationName__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplicationName__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component320}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component314"    value="{!record.OutsourcingApplicationName__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplicationName__c.createable},{!$ObjectType.OpportunityProduct__c.fields.OutsourcingApplicationName__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component314}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component348"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component348}');}">
<apex:outputLabel escape="true" id="Component346" rendered="{!$ObjectType.OpportunityProduct__c.fields.gross_profit_view__c.accessible}"  style="width:100px;" value="評価額" onclick="SkyEditor.touchToolTip('{!$Component.Component346}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component347"    value="{!record.gross_profit_view__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.gross_profit_view__c.createable},{!$ObjectType.OpportunityProduct__c.fields.gross_profit_view__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component347}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component297"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component297}');}">
<apex:outputLabel escape="true" id="Component295" rendered="{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component295}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component296"    value="{!record.AmountCountDay__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.createable},{!$ObjectType.OpportunityProduct__c.fields.AmountCountDay__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component296}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component351"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component351}');}">
<apex:outputLabel escape="true" id="Component349" rendered="{!$ObjectType.OpportunityProduct__c.fields.ProfitPercentage__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.ProfitPercentage__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component349}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component350"    value="{!record.ProfitPercentage__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.ProfitPercentage__c.createable},{!$ObjectType.OpportunityProduct__c.fields.ProfitPercentage__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component350}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component310"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component310}');}">
<apex:outputLabel escape="true" id="Component308" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component308}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component309"    value="{!record.SalesForecast01__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesForecast01__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component309}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component357"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component357}');}">
<apex:outputLabel escape="true" id="Component355" rendered="{!$ObjectType.OpportunityProduct__c.fields.IrregularCoefficient__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.IrregularCoefficient__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component355}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component353"    value="{!record.IrregularCoefficient__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.IrregularCoefficient__c.createable},{!$ObjectType.OpportunityProduct__c.fields.IrregularCoefficient__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component353}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component49"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component49}');}">
<apex:outputLabel escape="true" id="Component47" rendered="{!$ObjectType.OpportunityProduct__c.fields.Item_Special_instruction__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.Item_Special_instruction__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component47}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component201"    value="{!record.Item_Special_instruction__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.Item_Special_instruction__c.createable},{!$ObjectType.OpportunityProduct__c.fields.Item_Special_instruction__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component201}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component67', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#FFA500","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component276_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component276" showHeader="true" title="案分" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component294"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component294}');}">
<apex:outputLabel escape="true" id="Component291" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMainUnit1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMainUnit1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component291}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component292"    value="{!record.SalesPersonMainUnit1__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMainUnit1__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMainUnit1__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component292}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component293"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component293}');}">
<apex:outputLabel escape="true" id="Component289" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSubUnit__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSubUnit__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component289}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component290"    value="{!record.SalesPersonSubUnit__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSubUnit__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSubUnit__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component290}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component286"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component286}');}">
<apex:outputLabel escape="true" id="Component279" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMain__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMain__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component279}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component280"    value="{!record.SalesPersonMain__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMain__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPersonMain__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component280}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component288"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component288}');}">
<apex:outputLabel escape="true" id="Component283" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSub__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSub__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component283}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component284"    value="{!record.SalesPersonSub__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSub__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPersonSub__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component284}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component285"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component285}');}">
<apex:outputLabel escape="true" id="Component277" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component277}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component278"    value="{!record.SalesPercentage1__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage1__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage1__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component278}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component287"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component287}');}">
<apex:outputLabel escape="true" id="Component281" rendered="{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage2__c.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component281}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component282"    value="{!record.SalesPercentage2__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage2__c.createable},{!$ObjectType.OpportunityProduct__c.fields.SalesPercentage2__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component282}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:outputPanel ></apex:outputPanel></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component276', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component223_Wrapper" layout="block" styleClass="columns2"  style="border:1px solid #CCCCCC;border-radius:5px;" >
<apex:pageBlockSection collapsible="true" columns="2" id="Component223" showHeader="false" title="Component223" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component226"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component226}');}">
<apex:outputLabel escape="true" id="Component224" rendered="{!$ObjectType.OpportunityProduct__c.fields.CreatedById.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.CreatedById.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component224}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component225"    value="{!record.CreatedById}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.CreatedById.createable},{!$ObjectType.OpportunityProduct__c.fields.CreatedById.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component225}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component229"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component229}');}">
<apex:outputLabel escape="true" id="Component227" rendered="{!$ObjectType.OpportunityProduct__c.fields.LastModifiedById.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.LastModifiedById.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component227}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component228"    value="{!record.LastModifiedById}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.LastModifiedById.createable},{!$ObjectType.OpportunityProduct__c.fields.LastModifiedById.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component228}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component235"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component235}');}">
<apex:outputLabel escape="true" id="Component233" rendered="{!$ObjectType.OpportunityProduct__c.fields.CreatedDate.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.CreatedDate.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component233}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component234"    value="{!record.CreatedDate}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.CreatedDate.createable},{!$ObjectType.OpportunityProduct__c.fields.CreatedDate.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component234}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component232"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component232}');}">
<apex:outputLabel escape="true" id="Component230" rendered="{!$ObjectType.OpportunityProduct__c.fields.LastModifiedDate.accessible}"  style="width:100px;" value="{!$ObjectType.OpportunityProduct__c.fields.LastModifiedDate.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component230}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component231"    value="{!record.LastModifiedDate}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OpportunityProduct__c.fields.LastModifiedDate.createable},{!$ObjectType.OpportunityProduct__c.fields.LastModifiedDate.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component231}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component223', {"isFirstSection":false,"isMarginRemove":true});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel></apex:pageBlock>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >

<apex:outputPanel styleclass="" style="" >
<apex:relatedList id="Component251" rendered="{!$ObjectType.OrderItem__c.fields.OppProduct__c.accessible}" list="OppOpportunityProduct__r" pageSize="5"  />
<script type="text/javascript">
	var id = "{!$Component.Component251}";
	SkyEditor.s1_relatedList(id, 'OppOpportunityProduct__r'); 
</script>
</apex:outputPanel>

<apex:outputPanel styleclass="" style="" >
<apex:relatedList id="Component323" rendered="{!$ObjectType.teamspirit__AtkApply__c.fields.OrderProduct__c.accessible}" list="OrderProduct__r" pageSize="5"  />
<script type="text/javascript">
	var id = "{!$Component.Component323}";
	SkyEditor.s1_relatedList(id, 'OrderProduct__r'); 
</script>
</apex:outputPanel>
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>