<apex:page standardController="Opportunity"  extensions="OPROTest"   cache="{!p_cache}"   contentType="{!p_contentType}"   docType="{!p_docType}"   expires="{!p_expires}"   language="{!p_language}"   renderAs="{!renderAs}"   rendered="{!p_rendered}"   setup="{!p_setup}"   showChat="{!p_showChat}"   showHeader="{!p_showHeader}"   sidebar="{!p_sidebar}"   standardStylesheets="{!p_standardStylesheets}"   wizard="{!p_wizard}" >
<head>
<script src="/soap/ajax/25.0/connection.js"></script>
<script src="/soap/ajax/25.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "Opportunity";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>
<style>
{!HTMLENCODE(pdfStyleString)}
</style></head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.tablesorter.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/addons/pager/jquery.tablesorter.pager.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/tableSortPageingSetting.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/js/jquery.layout.min.js')}" />
<apex:includeScript value="https://s.oproarts.com/js/live_ff-1.00.js"/>
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">
function openLiveFF(){
// これは、OPROARTS Live サーバで生成された OPROARTS Live - Force.com API の利用サンプルです。
//
// OPROARTS Live - Force.com API の情報は、https://www2.opro.net/jp_arts/support.html からご覧になれます。
// Visualforce の情報は、http://www.salesforce.com/us/developer/docs/pages/index.htm (Salesforce.com) からご覧になれます。


// ---- BEGIN  ----
OPROARTS.Live.fF.action({
	// tp: 配備済みテンプレートの名称を指定します。複数指定することもできます。
	// このパラメータを省略することはできません。
	tp:[
		'SEO_mitumorisyo20150508'
	],

	// フォントの埋め込むかどうかを指定します。true もしくは false で指定します。
	// fm パラメータが'PDF'の場合に有効です。また、テンプレートで埋め込み可能なフォントが使用されている必要があります。
	fe:false,

	// createsAttach: 作成されたドキュメントをオブジェクトに添付するかどうかを指定します。true もしくは false で指定します。
	// 添付できないオブジェクトの場合、このパラメータを true で指定しないでください。
	createsAttach:false,

	// createsTask: 作成されたドキュメントを活動履歴に登録するかどうかを指定します。true もしくは false で指定します。
	// 活動履歴に登録できないオブジェクトの場合、このパラメータを true で指定しないでください。
	// このパラメータに true を指定した場合、次の追加パラメータを指定することができます。
	// - taskSubject: 活動履歴の件名
	// - taskComment: 活動履歴のコメント
	// 無指定の場合は、システムの初期値が適用されます。
	createsTask:false,

	// title: ダウンロード・添付・活動履歴のファイル名を指定します。
	title:'',

	// objectId: 帳票オブジェクトのIDを指定します。
	objectId:'0061000000dn9hEAAQ',

	// OPROARTS Live - Force.com API に必要な諸パラメータです。
	// このパラメータを編集しないでください。
	api:['{!JSENCODE($Organization.Id)}','{!JSENCODE($User.Id)}','{!JSENCODE($Api.Session_ID)}','{!JSENCODE($Api.Partner_Server_URL_220)}']
}).url("https://www.oproarts.com/liveffb/action").pdf();
// 作成するドキュメントの形式のメソッドを呼び出します。'pdf()','opr()','print()'を指定します。
// 'opr()','print()'を使用する場合、OPRO X Browser をクライアントPCにインストールしてください。
// ---- END ----

}
</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:form id="sve_form1"   styleClass="sve_form1"   >
<apex:outputPanel id="Component8"   layout="block"   >
<apex:outputPanel id="Component3_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandButton id="Component3"   onclick="openLiveFF(); return false;"   value="カスタム"   style="width:66px;" >
</apex:commandButton>
</apex:outputPanel>
</apex:outputPanel><apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1"   mode="detail"   title="Component1"   >
<apex:pageBlockButtons location="both"   >
</apex:pageBlockButtons><apex:outputPanel id="Component2_Wrapper"   styleClass="columns2"   >
<apex:pageBlockSection collapsible="true"   columns="2"   id="Component2"   showHeader="true"   title="Component2"  >
</apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component2', {"isFirstSection":true,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_5/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel></apex:pageBlock>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>