<apex:page standardController="Order__c"  extensions="OrderSearchCS"   applyBodyTag="{!p_applyHtmlTag}"   applyHtmlTag="{!p_applyHtmlTag}"   cache="{!p_cache}"   contentType="{!p_contentType}"   docType="{!p_docType}"   expires="{!p_expires}"   language="{!p_language}"   rendered="{!p_rendered}"   setup="{!p_setup}"   showChat="{!p_showChat}"   showHeader="{!p_showHeader}"   sidebar="{!p_sidebar}"   standardStylesheets="{!p_standardStylesheets}"   wizard="{!p_wizard}" >
<head>
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "Order__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
.Component3_header{ 
height:35px; padding: 0px !important;}

</style><!--[if IE 9 ]> 
<style>
.dataTableSet {margin-bottom:auto;}
</style><![endif]--> </head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.tablesorter.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/addons/pager/jquery.tablesorter.pager.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/tableSortPageingSetting.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.layout.min.js')}" />
<script type="text/javascript">
jQuery(document).ready(function(){
SkyEditor.searchConditionFromTo = getDateFieldsValue();
SkyEditor.searchConditionItem = getSearchItemsValue();
});
SkyEditor.defaultConditionObj = {"Component6":"","Component8":"","Component66":"","Component82":"","Component115":"","Component16":"","Component18":"","Component99":"","Component20":"","Component101":"","Component24":"","Component22":"","Component26":"","Component77":""};

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_searchTemplate.css')}"/>
<apex:form id="sve_form1"   styleClass="sve_form1"   >
<div id="saveDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="saveDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><input type="text" id="conditionName" size="20" /></td></tr>
        <tr><td colspan="2" style="text-align:center;"><input type="button" id="conditionSave" value="{!Label.SaveConditionButtonSave}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<div id="readDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="readDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><select id="searchConditionList" /></td><td><input type="button" id="deleteCondition" value="{!Label.ReadConditionButtonDelete}" /></td></tr>
        <tr><td colspan="3"><input type="button" id="setCondition" value="{!Label.ReadConditionSetConditions}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<script type="text/javascript">
</script>
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1"   mode="detail"   title="CS用　案件管理画面"   >
<apex:pageBlockButtons location="bottom"   >
<apex:commandButton action="{!doSearch}"   id="Component55"   value="{!customSearchButtonLabel}"   style="width:66px;" /><apex:commandButton id="Component56"   onclick="clearSearchConditionsForPagererender();return false;"   reRender="messagesPanel"   value="{!Label.canvasClearButton}"   style="width:66px;" /><script>
jQuery('.pbBottomButtons').css('margin-top',0);
</script><apex:outputText id="sve_saveAlertText"   value="{!customSaveWarningLabel}"   style="color:#CC0000;font-size:1.0em;font-weight:Normal;" /></apex:pageBlockButtons><apex:pageBlockSection collapsible="true"   columns="1"   id="Component57"   title="{!customSearchSectionTitle}"   >
<apex:facet name="header"   >
<apex:outputPanel >
<apex:outputText value="{!customSearchSectionTitle}"   /><input   class="btn"   id="saveBtn"   type="button"   value="{!customRegistCriteriaButtonLabel}"  /><input   class="btn"   id="readBtn"   type="button"   value="{!customLoadCriteriaButtonLabel}"  /></apex:outputPanel></apex:facet><apex:outputPanel id="Component58"   >
<fieldset  >
<table   border="0"   cellpadding="0"   style="font-size:12px;">
<tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.Order_Phase__c.accessible}" >
<apex:outputLabel escape="true"   id="Component5"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.Order__c.fields.Order_Phase__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component5}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.Order_Phase__c.accessible}" >
		<apex:selectList id="Component6_operator" value="{!Component6_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_Order_Phase_c_multi}" />
		</apex:selectList>
		<apex:selectList id="Component6" value="{!Component6_val.SkyEditor2__Text__c}" size="1" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;color:#000000;font-size:1.0em;">
			<apex:selectOptions value="{!valueOptions_Order_c_Order_Phase_c_multi}"/>
		</apex:selectList>
		<apex:inputHidden value="{!Component6_val_dummy.SkyEditor2__Text__c}" id="Component6_Hidden"/>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component6}";
				inputSearchItemMultiSelect(id);
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.ProductType__c.accessible}" >
<apex:outputLabel escape="true"   id="Component7"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.Order__c.fields.ProductType__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component7}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.ProductType__c.accessible}" >
		<apex:selectList id="Component8_operator" value="{!Component8_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_ProductType_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component8" value="{!Component8_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component8}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.Contract_SalesPerson1__c.accessible}" >
<apex:outputLabel escape="true"   id="Component65"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.Order__c.fields.Contract_SalesPerson1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component65}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.Contract_SalesPerson1__c.accessible}" >
		<apex:selectList id="Component66_operator" value="{!Component66_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_Contract_SalesPerson1_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component66" value="{!Component66_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component66}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.CSStatusInput__c.accessible}" >
<apex:outputLabel escape="true"   id="Component81"   style="color:#3366FF;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.Order__c.fields.CSStatusInput__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component81}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.CSStatusInput__c.accessible}" >
		<apex:selectList id="Component82_operator" value="{!Component82_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_CSStatusInput_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component82" value="{!Component82_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component82}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.Opportunity_Support__c.createable}" >
<apex:outputLabel escape="true"   id="Component114"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.Order__c.fields.Opportunity_Support__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component114}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.Opportunity_Support__c.createable}" >
		<apex:selectList id="Component115_operator" value="{!Component115_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_Opportunity_Support_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component115" value="{!Component115_val.Opportunity_Support__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component115}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.CSDay__c.accessible}" >
<apex:outputLabel escape="true"   id="Component15"   style="color:#3366FF;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="CSステータス更新日" onclick="SkyEditor.touchToolTip('{!$Component.Component15}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.CSDay__c.accessible}" >
		<apex:selectList id="Component16_operator" value="{!Component16_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_CSDay_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component16" value="{!Component16_val.SkyEditor2__Date__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component16}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.AccountName__c.accessible}" >
<apex:outputLabel escape="true"   id="Component17"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.Order__c.fields.AccountName__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component17}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.AccountName__c.accessible}" >
		<apex:selectList id="Component18_operator" value="{!Component18_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_AccountName_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component18" value="{!Component18_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component18}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.CSUpcellInput__c.accessible}" >
<apex:outputLabel escape="true"   id="Component98"   style="color:#FF6600;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.Order__c.fields.CSUpcellInput__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component98}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.CSUpcellInput__c.accessible}" >
		<apex:selectList id="Component99_operator" value="{!Component99_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_CSUpcellInput_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component99" value="{!Component99_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component99}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.karute__c.createable}" >
<apex:outputLabel escape="true"   id="Component19"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.Order__c.fields.karute__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component19}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.karute__c.createable}" >
		<apex:selectList id="Component20_operator" value="{!Component20_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_karute_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component20" value="{!Component20_val.karute__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component20}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.CSUpcellDay__c.accessible}" >
<apex:outputLabel escape="true"   id="Component100"   style="color:#FF6600;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="アップセル更新日" onclick="SkyEditor.touchToolTip('{!$Component.Component100}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.CSUpcellDay__c.accessible}" >
		<apex:selectList id="Component101_operator" value="{!Component101_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_CSUpcellDay_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component101" value="{!Component101_val.SkyEditor2__Date__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component101}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.Order_StartDate__c.accessible}" >
<apex:outputLabel escape="true"   id="Component23"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.Order__c.fields.Order_StartDate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component23}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.Order_StartDate__c.accessible}" >
		<apex:selectList id="Component24_operator" value="{!Component24_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_Order_StartDate_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component24" value="{!Component24_val.SkyEditor2__Date__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component24}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.Order_EndClient1__c.accessible}" >
<apex:outputLabel escape="true"   id="Component21"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.Order__c.fields.Order_EndClient1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component21}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.Order_EndClient1__c.accessible}" >
		<apex:selectList id="Component22_operator" value="{!Component22_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_Order_EndClient1_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component22" value="{!Component22_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component22}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.Order_EndDate__c.accessible}" >
<apex:outputLabel escape="true"   id="Component25"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.Order__c.fields.Order_EndDate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component25}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.Order_EndDate__c.accessible}" >
		<apex:selectList id="Component26_operator" value="{!Component26_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_Order_EndDate_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component26" value="{!Component26_val.SkyEditor2__Date__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component26}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Order__c.fields.DeliveryNoTotalAmount__c.accessible}" >
<apex:outputLabel escape="true"   id="Component76"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.Order__c.fields.DeliveryNoTotalAmount__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component76}');"/>
</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Order__c.fields.DeliveryNoTotalAmount__c.accessible}" >
		<apex:selectList id="Component77_operator" value="{!Component77_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Order_c_DeliveryNoTotalAmount_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component77" value="{!Component77_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"  onfocus="skyeditor_onFocus(this, 'pink')" onblur="skyeditor_onBlur(this, 'pink')"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component77}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr></table></fieldset></apex:outputPanel></apex:pageBlockSection>
</apex:pageBlock>
</apex:outputPanel></apex:form><apex:form id="sve_form2"   styleClass="sve_form2"   >
<apex:outputPanel id="Component2_Wrapper" styleClass="">
<apex:pageBlock id="Component2"   mode="detail"   title=" 契約中案件　解約ステータス管理"   >
<apex:pageBlockButtons location="top"   >
<apex:commandButton action="{!doSave}"   id="Component59"   onclick="disabledFieldItems(); "   value="ステータスを保存する"   style="width:150px;color:#3366FF;font-weight:Bold;"   rendered="{!OR($ObjectType.Order__c.createable,$ObjectType.Order__c.updateable)}" />
<apex:outputPanel id="Component93_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandButton id="Component93"   onclick="SkyEditor.navigationTo('https://wg1.my.salesforce.com/00O100000040VWb', true); return false;"   value="ステータス管理レポート"   style="width:150px;" >
</apex:commandButton>
</apex:outputPanel>
<apex:outputPanel id="Component94_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandButton id="Component94"   onclick="SkyEditor.navigationTo('https://wg1.my.salesforce.com/00O100000040VX0', true); return false;"   value="解約リスクレポート"   style="width:150px;" >
</apex:commandButton>
</apex:outputPanel>
<apex:outputPanel id="Component96_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:commandButton id="Component96"   onclick="SkyEditor.navigationTo('https://wg1.my.salesforce.com/00O100000040VXe', true); return false;"   value="アップセルレポート"   style="width:150px;" >
</apex:commandButton>
</apex:outputPanel>
</apex:pageBlockButtons><apex:outputPanel id="Component3_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="Component3"   layout="block"   styleClass="dataTableSet"   style="overflow:auto;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<table   class="tableOperator"   id="Component3_header"  >
<tr  >
<td  >
<input   class="btn"   id="Component3_bulkEditButton"   onclick="jQuery('#Component3_table_editDialog').dialog('open');"   type="button"   value="{!label.customBulkEditButtonLabel}"  /></td><td  >
<div   id="Component3__pager"   layout="block"  class="pager" style="margin-left:20px; text-align:center;">
 <table cellpadding="0" cellspacing="0" border="0">
 <tr>
 <td>
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/first.png')}" class="first"/>
 </td>
 <td> 
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/prev.png')}" class="prev"/>
 </td>
 <td>
 <input type="text" class="pagedisplay" readonly="readonly" />
 </td>
 <td>
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/next.png')}" class="next"/>
 </td>
 <td>
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/last.png')}" class="last"/>
 </td>
 <td>
 <select class="pagesize">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="25">25</option>
  <option value="50">50</option>
  <option value="100">100</option>
 </select>
 </td>
 </tr>
 </table>
<script>
	if (typeof LookupHoverDetail === 'function') {
		LookupHoverDetail.prototype.show = function () {};
	}
</script>
</div></td><td  >
<input type="text" class="filterValue" placeholder="{!label.TableFilterPlaceholder}" /></td><td  >
<apex:outputPanel style="margin-left:20px;"   >
<apex:outputText value="{!rowCount}"   /><apex:outputText styleClass="recordCounter"   value="{!IF(Component3.items.size >=500, (rowCountPrefix & ' ' & TEXT(Component3.items.size) & ' ' & rowCountSuffix), (':' & TEXT(Component3.items.size)))}"   /></apex:outputPanel></td></tr></table><apex:outputPanel layout="block"   styleClass="tableWrapper"    >
<apex:pageBlockTable columnsWidth="30px,,,,,,,,,,,,,,,,,"   headerClass="Component3_header"   id="Component3_table"   rows="500"   value="{!Component3.items}"   var="Component3_item"   >
<apex:column style="width:30px;" >
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:30px;display:block;" >
<apex:inputCheckbox onclick="applyChecked(event, this, 'Component3');"   value="{!Component3.selected}"   >
</apex:inputCheckbox></apex:outputPanel></apex:facet><apex:inputCheckbox id="BulkSelectCheckbox"   onclick="SkyEditor.MirrorForm.update('Component3_table', 'Component3_table_mirror', this);"   styleClass="BulkSelectCheckbox"   value="{!Component3_item.selected}"   >
</apex:inputCheckbox><script>
document.getElementById('{!$Component.BulkSelectCheckbox}').setAttribute('rid','{!Component3_item.record.Id}');
</script></apex:column><apex:column id="Component89"   style="color:#FF6600;text-align:center;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.CSUpcell__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component88"   onblur="skyeditor_onBlur(this, 'pink')"   onfocus="skyeditor_onFocus(this, 'pink')"   style="width:79px;color:#FF6600;font-size:1.0em;font-weight:Normal;"   value="{!Component3_item.record.CSUpcell__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="入力欄"   style="color:#FF6600;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component108"   style="color:#FF6600;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.CSUpcell_Day__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:90px;color:#FF6600;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component107"     value="{!Component3_item.record.CSUpcell_Day__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.Order__c.fields.CSUpcell_Day__c.label}"   style="color:#FF6600;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component32"   style="color:#3366FF;text-align:center;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.CSStatus__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component31"   onblur="skyeditor_onBlur(this, 'pink')"   onfocus="skyeditor_onFocus(this, 'pink')"   style="width:84px;color:#3366FF;font-size:1.0em;font-weight:Normal;"   value="{!Component3_item.record.CSStatus__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="入力欄"   style="color:#3366FF;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component110"   style="color:#3366FF;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.CSStatus_Day__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:90px;color:#3366FF;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component109"     value="{!Component3_item.record.CSStatus_Day__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.Order__c.fields.CSStatus_Day__c.label}"   style="color:#3366FF;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component62"   style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.Name.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:120px;color:#000000;font-size:1.0em;font-weight:Normal;text-decoration:underline;display:block;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
			<apex:outputLink value="/{!Component3_item.record.id}"
		 target="_blank" 		onclick="return SkyEditor.navigateToSobjectByNameLink('{!Component3_item.record.id}',true);" >
							<apex:outputField id="Component61"     value="{!Component3_item.record.Name}" />
			</apex:outputLink>
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.Order__c.fields.Name.label}"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component34"   style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.Order_Phase__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:72px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component33"     value="{!Component3_item.record.Order_Phase__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="フェーズ"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component36"   style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.karute__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:150px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
<apex:outputField id="Component35"     value="{!Component3_item.record.karute__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.Order__c.fields.karute__c.label}"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component38"   style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.AccountName__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:150px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component37"     value="{!Component3_item.record.AccountName__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.Order__c.fields.AccountName__c.label}"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component40"   style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.ProductGroupgazou__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:85px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component39"     value="{!Component3_item.record.ProductGroupgazou__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="商品区分"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component42"   style="color:#000000;text-align:right;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.TotalPrice__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:85px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;margin-left:auto;" >
<apex:outputField id="Component41"     value="{!Component3_item.record.TotalPrice__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="合計金額"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component44"   style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.Order_StartDate__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component43"     value="{!Component3_item.record.Order_StartDate__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="開始日"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component46"   style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.Order_EndDate__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component45"     value="{!Component3_item.record.Order_EndDate__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="終了日"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component70"   style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.Contract_SalesPerson1__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:75px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component69"     value="{!Component3_item.record.Contract_SalesPerson1__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.Order__c.fields.Contract_SalesPerson1__c.label}"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component117"   style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.Opportunity_Support__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:75px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component116"     value="{!Component3_item.record.Opportunity_Support__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.Order__c.fields.Opportunity_Support__c.label}"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component52"   style="color:#000000;text-align:right;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.Item2_DeliveryCount__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:80px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;margin-left:auto;" >
<apex:outputField id="Component51"     value="{!Component3_item.record.Item2_DeliveryCount__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="受注合計"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component54"   style="color:#000000;text-align:right;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.DeliveryTotalAmount__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:80px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;margin-left:auto;" >
<apex:outputField id="Component53"     value="{!Component3_item.record.DeliveryTotalAmount__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="納品済合計"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component79"   style="color:#000000;text-align:right;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.Order__c.fields.DeliveryNoTotalAmount__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#FF00FF;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component78"     value="{!Component3_item.record.DeliveryNoTotalAmount__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="未納品数"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column></apex:pageBlockTable>

<script type="text/javascript">
(function () {
if(jQuery("table[id$='Component3_table'] tbody tr").length > 0){
	var table, sortOptions, toolbox, filterOptions, pager, pagerOptions;
	table = document.getElementById("Component3_table") || document.getElementById("{!$Component.Component3_table}");
	sortOptions = {headers: { 0:{sorter: false}, 1:{sorter: "text"}, 2:{sorter: "text"}, 3:{sorter: "text"}, 4:{sorter: "text"}, 5:{sorter: "text"}, 6:{sorter: "text"}, 7:{sorter: "text"}, 8:{sorter: "text"}, 9:{sorter: "text"}, 10:{sorter: "currency"}, 11:{sorter: "Date"}, 12:{sorter: "Date"}, 13:{sorter: "text"}, 14:{sorter: "text"}, 15:{sorter: "digit"}, 16:{sorter: "digit"}, 17:{sorter: "digit"}}};
	filterOptions = {inlineFilter: {}};
	pager = document.getElementById("Component3__pager");
	pagerOptions = {
		container: jQuery(pager),
		size: 100
	};
	SkyEditor.TableSorter.initialize(table, {
		rowsPerRecord: 1,
		sort: sortOptions,
		filter: filterOptions,
		pager: pagerOptions
	});
}
})();
</script>
<script>
SkyEditor.FixedTableHeader('{!$Component.Component3}',true);
</script></apex:outputPanel><apex:outputPanel id="Component3_table_mirror" style="display:none;">
<apex:actionRegion >
	<apex:repeat rows="500" value="{! Component3.items}" var="Component3_table_mirrorFormItem">
		<apex:inputCheckbox id="BulkSelectCheckbox" styleClass="BulkSelectCheckbox" value="{! Component3_table_mirrorFormItem.selected}" />
	</apex:repeat>
	<apex:commandButton id="Component3_table_mirrorFormButton" value="Send" rerender="Component3_table_mirror" oncomplete="jQuery(SkyEditor.reSubmitTarget['{! $Component.Component3_table_mirrorFormButton}']).click();"/>
</apex:actionRegion>
</apex:outputPanel>
<script>
ObscureUnusedCondition();
</script><apex:inputTextArea id="Component3_hiddenValue" value="{!Component3.hiddenValue}" style="display:none;" rendered="{!$ObjectType.Order__c.createable}"></apex:inputTextArea>
<apex:commandButton id="Component3_importByJSON" action="{!Component3.importByJSON}" style="display:none;" reRender="Component3" rendered="{!$ObjectType.Order__c.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('Component3');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=Component3]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
</apex:pageBlock>
</apex:outputPanel></apex:form><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
<div style="border:solid 1px #CCC; display:none;" id="Component3_table_editDialog">
  <apex:form id="Component118">
    <apex:panelGrid columns="2">
      <apex:outputLabel >{!label.customFieldSelectionLabel}</apex:outputLabel>
      <apex:actionRegion >
        <apex:selectList id="Component3_table_selecter" value="{!Component3_table_selectval}" size="1">
          <apex:selectOption itemValue="" itemLabel="{!label.customSelectOptionNoneLabel}" />
          <apex:selectOption itemValue="Component88_dedit" itemLabel="{!$ObjectType.Order__c.fields.CSUpcell__c.label}" rendered="{!AND($ObjectType.Order__c.fields.CSUpcell__c.createable)}" />
          <apex:selectOption itemValue="Component31_dedit" itemLabel="{!$ObjectType.Order__c.fields.CSStatus__c.label}" rendered="{!AND($ObjectType.Order__c.fields.CSStatus__c.createable)}" />
        </apex:selectList>
      </apex:actionRegion>
      <apex:outputLabel >{!label.customValueLabel}</apex:outputLabel>
      <apex:outputPanel >
        <div id="Component88_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component88_dedit" value="{!Component3_table_Conversion.CSUpcell__c}" rendered="{!AND($ObjectType.Order__c.fields.CSUpcell__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
        <div id="Component31_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component31_dedit" value="{!Component3_table_Conversion.CSStatus__c}" rendered="{!AND($ObjectType.Order__c.fields.CSStatus__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
      </apex:outputPanel>
    </apex:panelGrid>
    <apex:outputPanel layout="block" style="margin-top:20px;text-align:center;">
      <input type="button" class="btn" value="{!label.customEditButtonLabel}" onclick="setTableValue('Component3_table','Component3_table_editDialog')" />
      <input type="button" class="btn" value="{!label.customBulkEditWindowCloseButtonLabel}" onclick="closeBulkEditDialog('Component3_table','Component3_table_editDialog')" />
    </apex:outputPanel>
  </apex:form>
</div><script type="text/javascript">jQuery('#Component3_table_editDialog').dialog({autoOpen: false});openBulkEditDialog('Component3_table','Component3_table_editDialog');
jQuery(escapeID('#{!$Component.Component118.Component3_table_selecter}')).change(function() {
    var divs = jQuery('#Component88_dedit_div,#Component31_dedit_div')
 
    if (divs.length){
        divs.hide();
    }else{
        return;
   }
    var selectItem = jQuery('#'+jQuery(this).find('option:selected').attr('value')+'_div');
	   if (jQuery(selectItem).length){
    selectItem.show();
    }
}).change();</script><script type="text/javascript"></script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>