<apex:page standardController="OrderItem__c"  extensions="OrderItemWEBServiceNO_Whe_view"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" renderAs="{!renderAs}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="{!p_standardStylesheets}" title="注文商品WEBサービス参照画面（期間なし）" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/42.0/connection.js"></script>
<script src="/soap/ajax/42.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "OrderItem__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style></head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.layout.min.js')}" />
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
<apex:sectionHeader subtitle="{!record.Name}" title="{!$ObjectType.OrderItem__c.Label}" >
</apex:sectionHeader></apex:outputPanel><apex:form id="sve_form1" styleClass="sve_form1"  >
<apex:inlineEditSupport event="ondblclick" showOnEdit="" hideOnEdit=""/>
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1" mode="detail" title="商品内容（初期費用/ペナルティプロテクトなど）"  >
<apex:pageBlockButtons location="both"  >
<apex:commandButton action="{!deleteRecord}" id="Component300" onclick="if(!confirm('{!Label.customDeleteWarningLabel}')){return false;}disabledFieldItems(); " rendered="{!$ObjectType.OrderItem__c.deletable && !ISNULL(record.Id) && !sve_showDeleteCancel}" value="{!customDeleteButtonLabel}"  style="width:50px;" /><apex:commandButton action="{!doSave}" id="Component409" onclick="disabledFieldItems(); " value="{!customSaveButtonLabel}"  style="width:100px;"   rendered="{!OR($ObjectType.OrderItem__c.createable,$ObjectType.OrderItem__c.updateable)}" />
<apex:commandButton action="{!edit}" id="Component299" value="{!customEditButtonLabel}"  style="width:100px;" /><apex:commandButton action="{!$Page.OrderItemWEBServiceNO_Whet}?id={!record.Id}&clone=1" id="Component360" onclick="disabledFieldItems(); location.href='{!$Page.OrderItemWEBServiceNO_Whet}?id={!record.Id}&clone=1';return false;" rendered="{!AND(record.Id != null, $ObjectType.OrderItem__c.createable)}" value="{!customCloneButtonLabel}"  style="width:66px;" /></apex:pageBlockButtons><apex:outputPanel layout="block"  >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component397"    value="{!record.Link_OrderItem__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Link_OrderItem__c.createable},{!$ObjectType.OrderItem__c.fields.Link_OrderItem__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component397}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:outputPanel><apex:outputPanel id="Component353_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component353" showHeader="false" title="Component353" >
<apex:outputPanel ></apex:outputPanel><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component356"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component356}');}">
<apex:outputLabel escape="true" id="Component354" rendered="{!$ObjectType.OrderItem__c.fields.Account__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Account__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component354}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component355"    value="{!record.Account__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Account__c.createable},{!$ObjectType.OrderItem__c.fields.Account__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component355}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component359"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component359}');}">
<apex:outputLabel escape="true" id="Component357" rendered="{!$ObjectType.OrderItem__c.fields.sisakukigyou__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.sisakukigyou__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component357}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component358"    value="{!record.sisakukigyou__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.sisakukigyou__c.createable},{!$ObjectType.OrderItem__c.fields.sisakukigyou__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component358}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component353', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component2_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component2" showHeader="true" title="商品内容（初期費用/ペナルティプロテクト）" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component186"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component186}');}">
<apex:outputLabel escape="true" id="Component184" rendered="{!$ObjectType.OrderItem__c.fields.Name.accessible}"  style="width:100px;" value="③商品番号" onclick="SkyEditor.touchToolTip('{!$Component.Component184}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component185"    value="{!record.Name}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Name.createable},{!$ObjectType.OrderItem__c.fields.Name.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component185}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component35"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component35}');}">
<apex:outputLabel escape="true" id="Component33" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Keyword_phase__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Keyword_phase__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component33}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component286"    value="{!record.Item2_Keyword_phase__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Item2_Keyword_phase__c.createable},{!$ObjectType.OrderItem__c.fields.Item2_Keyword_phase__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component286}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component41"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component41}');}">
<apex:outputLabel escape="true" id="Component39" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Relation__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Relation__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component39}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component287"    value="{!record.Item2_Relation__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Item2_Relation__c.createable},{!$ObjectType.OrderItem__c.fields.Item2_Relation__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component287}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component52"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component52}');}">
<apex:outputLabel escape="true" id="Component50" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Unit_selling_price__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Unit_selling_price__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component50}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component288"    value="{!record.Item2_Unit_selling_price__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Item2_Unit_selling_price__c.createable},{!$ObjectType.OrderItem__c.fields.Item2_Unit_selling_price__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component288}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component189"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component189}');}">
<apex:outputLabel escape="true" id="Component187" rendered="{!$ObjectType.OrderItem__c.fields.ProductCode1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ProductCode1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component187}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component188"    value="{!record.ProductCode1__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.ProductCode1__c.createable},{!$ObjectType.OrderItem__c.fields.ProductCode1__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component188}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component97"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component97}');}">
<apex:outputLabel escape="true" id="Component78" rendered="{!$ObjectType.OrderItem__c.fields.Quantity__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Quantity__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component78}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component289"    value="{!record.Quantity__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Quantity__c.createable},{!$ObjectType.OrderItem__c.fields.Quantity__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component289}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component183"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component183}');}">
<apex:outputLabel escape="true" id="Component181" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Product__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Product__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component181}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component290"    value="{!record.Item2_Product__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Item2_Product__c.createable},{!$ObjectType.OrderItem__c.fields.Item2_Product__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component290}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component412"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component412}');}">
<apex:outputLabel escape="true" id="Component410" rendered="{!$ObjectType.OrderItem__c.fields.TotalPrice__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.TotalPrice__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component410}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Bold;" >
			<apex:outputField id="Component411"    value="{!record.TotalPrice__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.TotalPrice__c.createable},{!$ObjectType.OrderItem__c.fields.TotalPrice__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component411}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component224"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component224}');}">
<apex:outputLabel escape="true" id="Component222" rendered="{!$ObjectType.OrderItem__c.fields.Item2_ProductType1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_ProductType1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component222}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component223"    value="{!record.Item2_ProductType1__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Item2_ProductType1__c.createable},{!$ObjectType.OrderItem__c.fields.Item2_ProductType1__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component223}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component408"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component408}');}">
<apex:outputLabel escape="true" id="Component406" rendered="{!$ObjectType.OrderItem__c.fields.BuyingupPrice__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.BuyingupPrice__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component406}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component407"    value="{!record.BuyingupPrice__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.BuyingupPrice__c.createable},{!$ObjectType.OrderItem__c.fields.BuyingupPrice__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component407}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component240"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component240}');}">
<apex:outputLabel escape="true" id="Component238" rendered="{!$ObjectType.OrderItem__c.fields.Item2_DeliveryExistence__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_DeliveryExistence__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component238}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component239"    value="{!record.Item2_DeliveryExistence__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Item2_DeliveryExistence__c.createable},{!$ObjectType.OrderItem__c.fields.Item2_DeliveryExistence__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component239}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component236"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component236}');}">
<apex:outputLabel escape="true" id="Component234" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Commission_rate__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Commission_rate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component234}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component232"    value="{!record.Item2_Commission_rate__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Item2_Commission_rate__c.createable},{!$ObjectType.OrderItem__c.fields.Item2_Commission_rate__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component232}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component493"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component493}');}">
<apex:outputLabel escape="true" id="Component491" rendered="{!$ObjectType.OrderItem__c.fields.BillingTiming__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.BillingTiming__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component491}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component492"    value="{!record.BillingTiming__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.BillingTiming__c.createable},{!$ObjectType.OrderItem__c.fields.BillingTiming__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component492}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component262"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component262}');}">
<apex:outputLabel escape="true" id="Component260" rendered="{!$ObjectType.OrderItem__c.fields.RecordTypeId.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.RecordTypeId.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component260}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component261"    value="{!record.RecordType.Name}" >
			<apex:inlineEditSupport rendered="false"/>
		</apex:outputField>
		</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component352"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component352}');}">
<apex:outputLabel escape="true" id="Component350" rendered="{!$ObjectType.OrderItem__c.fields.Salesforce_ID__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Salesforce_ID__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component350}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component351"    value="{!record.Salesforce_ID__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Salesforce_ID__c.createable},{!$ObjectType.OrderItem__c.fields.Salesforce_ID__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component351}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component2', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#66CDAA","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component3_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component3" showHeader="true" title="契約内容" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component490"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component490}');}">
<apex:outputLabel escape="true" id="Component488" rendered="{!$ObjectType.OrderItem__c.fields.syouninn__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.syouninn__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component488}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component489"    value="{!record.syouninn__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.syouninn__c.createable},{!$ObjectType.OrderItem__c.fields.syouninn__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component489}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component32"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component32}');}">
<apex:outputLabel escape="true" id="Component30" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Entry_date__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Entry_date__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component30}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component292"    value="{!record.Item2_Entry_date__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Item2_Entry_date__c.createable},{!$ObjectType.OrderItem__c.fields.Item2_Entry_date__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component292}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component58"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component58}');}">
<apex:outputLabel escape="true" id="Component56" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Special_instruction__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Special_instruction__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component56}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component294"    value="{!record.Item2_Special_instruction__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Item2_Special_instruction__c.createable},{!$ObjectType.OrderItem__c.fields.Item2_Special_instruction__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component294}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component425"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component425}');}">
<apex:outputLabel escape="true" id="Component423" rendered="{!$ObjectType.OrderItem__c.fields.Item2_CancellationDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_CancellationDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component423}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#FF00FF;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component424"    value="{!record.Item2_CancellationDay__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Item2_CancellationDay__c.createable},{!$ObjectType.OrderItem__c.fields.Item2_CancellationDay__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component424}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component422"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component422}');}">
<apex:outputLabel escape="true" id="Component420" rendered="{!$ObjectType.OrderItem__c.fields.ChangeDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ChangeDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component420}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component421"    value="{!record.ChangeDay__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.ChangeDay__c.createable},{!$ObjectType.OrderItem__c.fields.ChangeDay__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component421}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component461"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component461}');}">
<apex:outputLabel escape="true" id="Component459" rendered="{!$ObjectType.OrderItem__c.fields.CancelDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.CancelDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component459}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component457"    value="{!record.CancelDay__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.CancelDay__c.createable},{!$ObjectType.OrderItem__c.fields.CancelDay__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component457}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component455"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component455}');}">
<apex:outputLabel escape="true" id="Component453" rendered="{!$ObjectType.OrderItem__c.fields.RecordCreateType__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.RecordCreateType__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component453}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component454"    value="{!record.RecordCreateType__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.RecordCreateType__c.createable},{!$ObjectType.OrderItem__c.fields.RecordCreateType__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component454}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component3', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#66CDAA","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component241_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component241" showHeader="true" title="納品状況" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component244"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component244}');}">
<apex:outputLabel escape="true" id="Component242" rendered="{!$ObjectType.OrderItem__c.fields.ProductionStatus__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ProductionStatus__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component242}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Bold;" >
			<apex:outputField id="Component296"    value="{!record.ProductionStatus__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.ProductionStatus__c.createable},{!$ObjectType.OrderItem__c.fields.ProductionStatus__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component296}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component265"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component265}');}">
<apex:outputLabel escape="true" id="Component263" rendered="{!$ObjectType.OrderItem__c.fields.Item2_DeliveryNumber__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_DeliveryNumber__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component263}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component264"    value="{!record.Item2_DeliveryNumber__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Item2_DeliveryNumber__c.createable},{!$ObjectType.OrderItem__c.fields.Item2_DeliveryNumber__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component264}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component247"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component247}');}">
<apex:outputLabel escape="true" id="Component245" rendered="{!$ObjectType.OrderItem__c.fields.Item2_DeliveryDate__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_DeliveryDate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component245}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component297"    value="{!record.Item2_DeliveryDate__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Item2_DeliveryDate__c.createable},{!$ObjectType.OrderItem__c.fields.Item2_DeliveryDate__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component297}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component256"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component256}');}">
<apex:outputLabel escape="true" id="Component254" rendered="{!$ObjectType.OrderItem__c.fields.DeliveryCount__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.DeliveryCount__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component254}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component255"    value="{!record.DeliveryCount__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.DeliveryCount__c.createable},{!$ObjectType.OrderItem__c.fields.DeliveryCount__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component255}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component250"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component250}');}">
<apex:outputLabel escape="true" id="Component248" rendered="{!$ObjectType.OrderItem__c.fields.Item2_Delivery_date__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.Item2_Delivery_date__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component248}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#3366FF;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component298"    value="{!record.Item2_Delivery_date__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.Item2_Delivery_date__c.createable},{!$ObjectType.OrderItem__c.fields.Item2_Delivery_date__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component298}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component259"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component259}');}">
<apex:outputLabel escape="true" id="Component257" rendered="{!$ObjectType.OrderItem__c.fields.DeliveryCountTotal__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.DeliveryCountTotal__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component257}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#FF0000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component258"    value="{!record.DeliveryCountTotal__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.DeliveryCountTotal__c.createable},{!$ObjectType.OrderItem__c.fields.DeliveryCountTotal__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component258}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component509"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component509}');}">
<apex:outputLabel escape="true" id="Component507" rendered="{!$ObjectType.OrderItem__c.fields.SubmissionWaitingAmount__c.accessible}"  style="width:100px;" value="納品前金額" onclick="SkyEditor.touchToolTip('{!$Component.Component507}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component508"    value="{!record.SubmissionWaitingAmount__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.SubmissionWaitingAmount__c.createable},{!$ObjectType.OrderItem__c.fields.SubmissionWaitingAmount__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component508}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component241', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#66CDAA","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component369_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component369" showHeader="true" title="営業担当" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component498"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component498}');}">
<apex:outputLabel escape="true" id="Component496" rendered="{!$ObjectType.OrderItem__c.fields.SalesUnit1View__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.SalesUnit1View__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component496}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component497"    value="{!record.SalesUnit1View__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.SalesUnit1View__c.createable},{!$ObjectType.OrderItem__c.fields.SalesUnit1View__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component497}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component503"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component503}');}">
<apex:outputLabel escape="true" id="Component501" rendered="{!$ObjectType.OrderItem__c.fields.SalesUnitSubView__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.SalesUnitSubView__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component501}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component502"    value="{!record.SalesUnitSubView__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.SalesUnitSubView__c.createable},{!$ObjectType.OrderItem__c.fields.SalesUnitSubView__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component502}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component384"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component384}');}">
<apex:outputLabel escape="true" id="Component374" rendered="{!$ObjectType.OrderItem__c.fields.SalesPerson1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.SalesPerson1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component374}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component375"    value="{!record.SalesPerson1__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.SalesPerson1__c.createable},{!$ObjectType.OrderItem__c.fields.SalesPerson1__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component375}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component479"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component479}');}">
<apex:outputLabel escape="true" id="Component477" rendered="{!$ObjectType.OrderItem__c.fields.SalesPersonSub__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.SalesPersonSub__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component477}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component475"    value="{!record.SalesPersonSub__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.SalesPersonSub__c.createable},{!$ObjectType.OrderItem__c.fields.SalesPersonSub__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component475}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component487"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component487}');}">
<apex:outputLabel escape="true" id="Component485" rendered="{!$ObjectType.OrderItem__c.fields.SalesPercentage1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.SalesPercentage1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component485}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component486"    value="{!record.SalesPercentage1__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.SalesPercentage1__c.createable},{!$ObjectType.OrderItem__c.fields.SalesPercentage1__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component486}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component470"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component470}');}">
<apex:outputLabel escape="true" id="Component468" rendered="{!$ObjectType.OrderItem__c.fields.SalesPercentage2__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.SalesPercentage2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component468}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component465"    value="{!record.SalesPercentage2__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.SalesPercentage2__c.createable},{!$ObjectType.OrderItem__c.fields.SalesPercentage2__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component465}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component369', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#66CDAA","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component432_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component432" showHeader="true" title="獲得担当" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component439"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component439}');}">
<apex:outputLabel escape="true" id="Component433" rendered="{!$ObjectType.OrderItem__c.fields.ContractGetPersonUnit__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ContractGetPersonUnit__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component433}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component434"    value="{!record.ContractGetPersonUnit__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.ContractGetPersonUnit__c.createable},{!$ObjectType.OrderItem__c.fields.ContractGetPersonUnit__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component434}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component450"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component450}');}">
<apex:outputLabel escape="true" id="Component444" rendered="{!$ObjectType.OrderItem__c.fields.ContractGetPersonUnit2__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ContractGetPersonUnit2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component444}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component445"    value="{!record.ContractGetPersonUnit2__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.ContractGetPersonUnit2__c.createable},{!$ObjectType.OrderItem__c.fields.ContractGetPersonUnit2__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component445}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component440"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component440}');}">
<apex:outputLabel escape="true" id="Component435" rendered="{!$ObjectType.OrderItem__c.fields.ContractGetPerson1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ContractGetPerson1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component435}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component436"    value="{!record.ContractGetPerson1__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.ContractGetPerson1__c.createable},{!$ObjectType.OrderItem__c.fields.ContractGetPerson1__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component436}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component451"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component451}');}">
<apex:outputLabel escape="true" id="Component446" rendered="{!$ObjectType.OrderItem__c.fields.ContractGetPerson2__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ContractGetPerson2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component446}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component447"    value="{!record.ContractGetPerson2__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.ContractGetPerson2__c.createable},{!$ObjectType.OrderItem__c.fields.ContractGetPerson2__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component447}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component441"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component441}');}">
<apex:outputLabel escape="true" id="Component437" rendered="{!$ObjectType.OrderItem__c.fields.ContractGetPersonPercentage1__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ContractGetPersonPercentage1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component437}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component438"    value="{!record.ContractGetPersonPercentage1__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.ContractGetPersonPercentage1__c.createable},{!$ObjectType.OrderItem__c.fields.ContractGetPersonPercentage1__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component438}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component452"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component452}');}">
<apex:outputLabel escape="true" id="Component448" rendered="{!$ObjectType.OrderItem__c.fields.ContractGetPersonPercentage2__c.accessible}"  style="width:100px;" value="{!$ObjectType.OrderItem__c.fields.ContractGetPersonPercentage2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component448}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component449"    value="{!record.ContractGetPersonPercentage2__c}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.ContractGetPersonPercentage2__c.createable},{!$ObjectType.OrderItem__c.fields.ContractGetPersonPercentage2__c.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component449}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component432', {"isFirstSection":false,"isTextColorSetting":true,"textColor":"#FFFFFF","isBackgroundColor":true,"backgroundColor":"#66CDAA","isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component301_Wrapper" layout="block" styleClass="columns4"  style="border:1px solid #CCCCCC;border-radius:0px;" >
<apex:pageBlockSection collapsible="true" columns="4" id="Component301" showHeader="false" title="Component301" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component314"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component314}');}">
<apex:outputLabel escape="true" id="Component312" rendered="{!$ObjectType.OrderItem__c.fields.CreatedDate.accessible}"  style="width:100px;color:#666666;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.OrderItem__c.fields.CreatedDate.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component312}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component313"    value="{!record.CreatedDate}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.CreatedDate.createable},{!$ObjectType.OrderItem__c.fields.CreatedDate.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component313}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component415"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component415}');}">
<apex:outputLabel escape="true" id="Component413" rendered="{!$ObjectType.OrderItem__c.fields.CreatedById.accessible}"  style="width:100px;color:#666666;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.OrderItem__c.fields.CreatedById.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component413}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component414"    value="{!record.CreatedById}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.CreatedById.createable},{!$ObjectType.OrderItem__c.fields.CreatedById.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component414}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component317"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component317}');}">
<apex:outputLabel escape="true" id="Component315" rendered="{!$ObjectType.OrderItem__c.fields.LastModifiedDate.accessible}"  style="width:100px;color:#666666;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.OrderItem__c.fields.LastModifiedDate.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component315}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component316"    value="{!record.LastModifiedDate}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.LastModifiedDate.createable},{!$ObjectType.OrderItem__c.fields.LastModifiedDate.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component316}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component368"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component368}');}">
<apex:outputLabel escape="true" id="Component366" rendered="{!$ObjectType.OrderItem__c.fields.LastModifiedById.accessible}"  style="width:100px;color:#666666;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.OrderItem__c.fields.LastModifiedById.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component366}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
			<apex:outputField id="Component367"    value="{!record.LastModifiedById}" />
			<script type="text/javascript">
				var inlineFlag = SkyEditor.inlineEditFieldAuth("{!record.Id}",{!$ObjectType.OrderItem__c.fields.LastModifiedById.createable},{!$ObjectType.OrderItem__c.fields.LastModifiedById.updateable},SkyEditor.isSmallMonitor());
				var inlineElm = SkyEditor.getInlineEditHilightTarget("{!$Component.Component367}", {
			isUnescape:  false ,
			isFreeLayout:  false 		});
		SkyEditor.inlineEditFieldStyle(inlineElm,inlineFlag);
	</script>
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component301', {"isFirstSection":false,"isMarginRemove":true});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel></apex:pageBlock>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >

<apex:outputPanel styleclass="" style="" >
<apex:relatedList id="Component320" rendered="{!$ObjectType.TextManagement2__c.fields.Item2_OrderProduct__c.accessible}" list="Item2_OrderProduct__r" pageSize="5"  />
<script type="text/javascript">
	var id = "{!$Component.Component320}";
	SkyEditor.s1_relatedList(id, 'Item2_OrderProduct__r'); 
</script>
</apex:outputPanel>

<apex:outputPanel styleclass="" style="" >
<apex:relatedList id="Component319" rendered="{!$ObjectType.BillProduct__c.fields.OrderItem__c.accessible}" list="BillOrderItem__r" pageSize="5"  />
<script type="text/javascript">
	var id = "{!$Component.Component319}";
	SkyEditor.s1_relatedList(id, 'BillOrderItem__r'); 
</script>
</apex:outputPanel>

<apex:outputPanel styleclass="" style="" >
<apex:relatedList id="Component321" rendered="{!$ObjectType.ActivityHistory.fields.WhatId.accessible}" list="ActivityHistories" pageSize="5"  />
<script type="text/javascript">
	var id = "{!$Component.Component321}";
	SkyEditor.s1_relatedList(id, 'ActivityHistories'); 
</script>
</apex:outputPanel>

<apex:outputPanel styleclass="" style="" >
<apex:relatedList id="Component318" rendered="{!$ObjectType.CombinedAttachment.fields.ParentId.accessible}" list="CombinedAttachments" pageSize="5"  />
<script type="text/javascript">
	var id = "{!$Component.Component318}";
	SkyEditor.s1_relatedList(id, 'CombinedAttachments'); 
</script>
</apex:outputPanel>
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>