<apex:page standardController="karute__c"  extensions="PenaltyKaruteSearch"   applyBodyTag="{!p_applyHtmlTag}"   applyHtmlTag="{!p_applyHtmlTag}"   cache="{!p_cache}"   contentType="{!p_contentType}"   docType="{!p_docType}"   expires="{!p_expires}"   language="{!p_language}"   rendered="{!p_rendered}"   setup="{!p_setup}"   showChat="{!p_showChat}"   showHeader="{!p_showHeader}"   sidebar="{!p_sidebar}"   standardStylesheets="{!p_standardStylesheets}"   wizard="{!p_wizard}" >
<head>
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "karute__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<!--[if IE 9 ]> 
<style>
.dataTableSet {margin-bottom:auto;}
</style><![endif]--> </head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.tablesorter.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/addons/pager/jquery.tablesorter.pager.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/tableSortPageingSetting.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.layout.min.js')}" />
<script type="text/javascript">
jQuery(document).ready(function(){
SkyEditor.searchConditionFromTo = getDateFieldsValue();
SkyEditor.searchConditionItem = getSearchItemsValue();
});
SkyEditor.defaultConditionObj = {"Component36":"","Component8":"","Component48":"","Component12":"","Component52":""};

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_searchTemplate.css')}"/>
<apex:form id="sve_form1"   styleClass="sve_form1"   >
<div id="saveDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="saveDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><input type="text" id="conditionName" size="20" /></td></tr>
        <tr><td colspan="2" style="text-align:center;"><input type="button" id="conditionSave" value="{!Label.SaveConditionButtonSave}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<div id="readDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="readDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><select id="searchConditionList" /></td><td><input type="button" id="deleteCondition" value="{!Label.ReadConditionButtonDelete}" /></td></tr>
        <tr><td colspan="3"><input type="button" id="setCondition" value="{!Label.ReadConditionSetConditions}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<script type="text/javascript">
</script>
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1"   mode="detail"   title="R&D用検索画面"   >
<apex:pageBlockButtons location="bottom"   >
<apex:commandButton action="{!doSearch}"   id="Component25"   value="{!customSearchButtonLabel}"   style="width:66px;" /><apex:commandButton id="Component26"   onclick="clearSearchConditionsForPagererender();return false;"   reRender="messagesPanel"   value="{!Label.canvasClearButton}"   style="width:66px;" /><script>
jQuery('.pbBottomButtons').css('margin-top',0);
</script><apex:outputText id="sve_saveAlertText"   value="{!customSaveWarningLabel}"   style="color:#CC0000;font-size:1.0em;font-weight:Normal;" /></apex:pageBlockButtons><apex:pageBlockSection collapsible="true"   columns="1"   id="Component27"   title="{!customSearchSectionTitle}"   >
<apex:facet name="header"   >
<apex:outputPanel >
<apex:outputText value="{!customSearchSectionTitle}"   /><input   class="btn"   id="saveBtn"   type="button"   value="{!customRegistCriteriaButtonLabel}"  /><input   class="btn"   id="readBtn"   type="button"   value="{!customLoadCriteriaButtonLabel}"  /></apex:outputPanel></apex:facet><apex:outputPanel id="Component28"   >
<fieldset  >
<table   border="0"   cellpadding="0"   style="font-size:12px;">
<tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.karute__c.fields.PenaltyStatusCS__c.accessible}" >
																				<apex:outputLabel escape="true"   id="Component35"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.karute__c.fields.PenaltyStatusCS__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component35}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.karute__c.fields.PenaltyStatusCS__c.accessible}" >
		<apex:selectList id="Component36_operator" value="{!Component36_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_karute_c_PenaltyStatusCS_c_multi}" />
		</apex:selectList>
		<apex:selectList id="Component36" value="{!Component36_val.SkyEditor2__Text__c}" size="1" styleClass="conditionItem"   style="width:107px;color:#000000;font-size:1.0em;">
			<apex:selectOptions value="{!valueOptions_karute_c_PenaltyStatusCS_c_multi}"/>
		</apex:selectList>
		<apex:inputHidden value="{!Component36_val_dummy.SkyEditor2__Text__c}" id="Component36_Hidden"/>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component36}";
				inputSearchItemMultiSelect(id);
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.karute__c.fields.penaltyStatusRD__c.accessible}" >
																				<apex:outputLabel escape="true"   id="Component7"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.karute__c.fields.penaltyStatusRD__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component7}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.karute__c.fields.penaltyStatusRD__c.accessible}" >
		<apex:selectList id="Component8_operator" value="{!Component8_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_karute_c_penaltyStatusRD_c_multi}" />
		</apex:selectList>
		<apex:selectList id="Component8" value="{!Component8_val.SkyEditor2__Text__c}" size="1" styleClass="conditionItem"   style="width:107px;color:#000000;font-size:1.0em;">
			<apex:selectOptions value="{!valueOptions_karute_c_penaltyStatusRD_c_multi}"/>
		</apex:selectList>
		<apex:inputHidden value="{!Component8_val_dummy.SkyEditor2__Text__c}" id="Component8_Hidden"/>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component8}";
				inputSearchItemMultiSelect(id);
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.Account.fields.Name.accessible}" >
																			<apex:outputLabel escape="true"   id="Component47"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.Account.fields.Name.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component47}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.Account.fields.Name.accessible}" >
		<apex:selectList id="Component48_operator" value="{!Component48_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_Account_Name}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component48" value="{!Component48_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component48}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.karute__c.fields.URL__c.accessible}" >
																			<apex:outputLabel escape="true"   id="Component11"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.karute__c.fields.URL__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component11}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.karute__c.fields.URL__c.accessible}" >
		<apex:selectList id="Component12_operator" value="{!Component12_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_karute_c_URL_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component12" value="{!Component12_val.SkyEditor2__URL__c}" required="false" styleClass="conditionItem"   style="width:244px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component12}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.karute__c.fields.SalesPersonOwner__c.accessible}" >
																			<apex:outputLabel escape="true"   id="Component51"   style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.karute__c.fields.SalesPersonOwner__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component51}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.karute__c.fields.SalesPersonOwner__c.accessible}" >
		<apex:selectList id="Component52_operator" value="{!Component52_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_karute_c_SalesPersonOwner_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component52" value="{!Component52_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component52}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr></table></fieldset></apex:outputPanel></apex:pageBlockSection>
</apex:pageBlock>
</apex:outputPanel></apex:form><apex:form id="sve_form2"   styleClass="sve_form2"   >
<apex:outputPanel id="Component2_Wrapper" styleClass="">
<apex:pageBlock id="Component2"   mode="detail"   title=" "   >
<apex:pageBlockButtons location="top"   >
<apex:commandButton action="{!doSave}"   id="Component29"   value="{!customSaveButtonLabel}"   style="width:50px;"   rendered="{!OR($ObjectType.karute__c.createable,$ObjectType.karute__c.updateable)}" />
</apex:pageBlockButtons><apex:outputPanel id="Component3_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="Component3"   layout="block"   styleClass="dataTableSet"   style="overflow:auto;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<table   class="tableOperator"   id="Component3_header"  >
<tr  >
<td  >
<input   class="btn"   id="Component3_bulkEditButton"   onclick="jQuery('#Component3_table_editDialog').dialog('open');"   type="button"   value="{!label.customBulkEditButtonLabel}"  /></td><td  >
<div   id="Component3__pager"   layout="block"  class="pager" style="margin-left:20px; text-align:center;">
 <table cellpadding="0" cellspacing="0" border="0">
 <tr>
 <td>
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/first.png')}" class="first"/>
 </td>
 <td> 
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/prev.png')}" class="prev"/>
 </td>
 <td>
 <input type="text" class="pagedisplay" readonly="readonly" />
 </td>
 <td>
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/next.png')}" class="next"/>
 </td>
 <td>
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/last.png')}" class="last"/>
 </td>
 <td>
 <select class="pagesize">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="25">25</option>
  <option value="50">50</option>
  <option value="100">100</option>
 </select>
 </td>
 </tr>
 </table>
<script>
	if (typeof LookupHoverDetail === 'function') {
		LookupHoverDetail.prototype.show = function () {};
	}
</script>
</div></td><td  >
<apex:outputPanel style="margin-left:20px;"   >
<apex:outputText value="{!rowCount}"   /><apex:outputText styleClass="recordCounter"   value="{!IF(Component3.items.size >=500, (rowCountPrefix & ' ' & TEXT(Component3.items.size) & ' ' & rowCountSuffix), (':' & TEXT(Component3.items.size)))}"   /></apex:outputPanel></td></tr></table><apex:outputPanel layout="block"   styleClass="tableWrapper"    >
<apex:pageBlockTable columnsWidth="30px,,,,,"   id="Component3_table"   rows="500"   value="{!Component3.items}"   var="Component3_item"   >
<apex:column style="width:30px;" >
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="width:30px;display:block;" >
<apex:inputCheckbox onclick="applyChecked(event, this, 'Component3');"   value="{!Component3.selected}"   >
</apex:inputCheckbox></apex:outputPanel></apex:facet><apex:inputCheckbox id="BulkSelectCheckbox"   onclick="SkyEditor.MirrorForm.update('Component3_table', 'Component3_table_mirror', this);"   styleClass="BulkSelectCheckbox"   value="{!Component3_item.selected}"   >
</apex:inputCheckbox><script>
document.getElementById('{!$Component.BulkSelectCheckbox}').setAttribute('rid','{!Component3_item.record.Id}');
</script></apex:column><apex:column id="Component16"   style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.karute__c.fields.penaltyStatusRD__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component15"   style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component3_item.record.penaltyStatusRD__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText title="{!$ObjectType.karute__c.fields.penaltyStatusRD__c.inlineHelpText}"   value="{!$ObjectType.karute__c.fields.penaltyStatusRD__c.label}"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component38"   style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.karute__c.fields.PenaltyStatusCS__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component37"     value="{!Component3_item.record.PenaltyStatusCS__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.karute__c.fields.PenaltyStatusCS__c.label}"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component20"   style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.karute__c.fields.AccountName__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component19"     value="{!Component3_item.record.AccountName__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.karute__c.fields.AccountName__c.label}"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component22"   style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.karute__c.fields.URL__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component21"     value="{!Component3_item.record.URL__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.karute__c.fields.URL__c.label}"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component56"   style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.karute__c.fields.SalesPersonOwner__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component55"     value="{!Component3_item.record.SalesPersonOwner__c}" />
</apex:outputPanel>
<apex:facet name="header"   >
<apex:outputPanel layout="inline"   style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.karute__c.fields.SalesPersonOwner__c.label}"   style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column></apex:pageBlockTable>

<script type="text/javascript">
(function () {
if(jQuery("table[id$='Component3_table'] tbody tr").length > 0){
	var table, sortOptions, toolbox, filterOptions, pager, pagerOptions;
	table = document.getElementById("Component3_table") || document.getElementById("{!$Component.Component3_table}");
	sortOptions = {headers: { 0:{sorter: false}, 1:{sorter: "text"}, 2:{sorter: "text"}, 3:{sorter: "text"}, 4:{sorter: "text"}, 5:{sorter: "text"}}};
	filterOptions = {inlineFilter: {}};
	pager = document.getElementById("Component3__pager");
	pagerOptions = {
		container: jQuery(pager),
		size: 25
	};
	SkyEditor.TableSorter.initialize(table, {
		rowsPerRecord: 1,
		sort: sortOptions,
		filter: filterOptions,
		pager: pagerOptions
	});
}
})();
</script>
</apex:outputPanel><apex:outputPanel id="Component3_table_mirror" style="display:none;">
<apex:actionRegion >
	<apex:repeat rows="500" value="{! Component3.items}" var="Component3_table_mirrorFormItem">
		<apex:inputCheckbox id="BulkSelectCheckbox" styleClass="BulkSelectCheckbox" value="{! Component3_table_mirrorFormItem.selected}" />
	</apex:repeat>
	<apex:commandButton id="Component3_table_mirrorFormButton" value="Send" rerender="Component3_table_mirror" oncomplete="jQuery(SkyEditor.reSubmitTarget['{! $Component.Component3_table_mirrorFormButton}']).click();"/>
</apex:actionRegion>
</apex:outputPanel>
<script>
ObscureUnusedCondition();
</script><apex:inputTextArea id="Component3_hiddenValue" value="{!Component3.hiddenValue}" style="display:none;" rendered="{!$ObjectType.karute__c.createable}"></apex:inputTextArea>
<apex:commandButton id="Component3_importByJSON" action="{!Component3.importByJSON}" style="display:none;" reRender="Component3" rendered="{!$ObjectType.karute__c.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('Component3');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=Component3]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
</apex:pageBlock>
</apex:outputPanel></apex:form><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
<div style="border:solid 1px #CCC; display:none;" id="Component3_table_editDialog">
  <apex:form id="Component58">
    <apex:panelGrid columns="2">
      <apex:outputLabel >{!label.customFieldSelectionLabel}</apex:outputLabel>
      <apex:actionRegion >
        <apex:selectList id="Component3_table_selecter" value="{!Component3_table_selectval}" size="1">
          <apex:selectOption itemValue="" itemLabel="{!label.customSelectOptionNoneLabel}" />
          <apex:selectOption itemValue="Component15_dedit" itemLabel="{!$ObjectType.karute__c.fields.penaltyStatusRD__c.label}" rendered="{!AND($ObjectType.karute__c.fields.penaltyStatusRD__c.createable)}" />
        </apex:selectList>
      </apex:actionRegion>
      <apex:outputLabel >{!label.customValueLabel}</apex:outputLabel>
      <apex:outputPanel >
        <div id="Component15_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component15_dedit" value="{!Component3_table_Conversion.penaltyStatusRD__c}" rendered="{!AND($ObjectType.karute__c.fields.penaltyStatusRD__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
      </apex:outputPanel>
    </apex:panelGrid>
    <apex:outputPanel layout="block" style="margin-top:20px;text-align:center;">
      <input type="button" class="btn" value="{!label.customEditButtonLabel}" onclick="setTableValue('Component3_table','Component3_table_editDialog')" />
      <input type="button" class="btn" value="{!label.customBulkEditWindowCloseButtonLabel}" onclick="closeBulkEditDialog('Component3_table','Component3_table_editDialog')" />
    </apex:outputPanel>
  </apex:form>
</div><script type="text/javascript">jQuery('#Component3_table_editDialog').dialog({autoOpen: false});openBulkEditDialog('Component3_table','Component3_table_editDialog');
jQuery(escapeID('#{!$Component.Component58.Component3_table_selecter}')).change(function() {
    var divs = jQuery('#Component15_dedit_div')
 
    if (divs.length){
        divs.hide();
    }else{
        return;
   }
    var selectItem = jQuery('#'+jQuery(this).find('option:selected').attr('value')+'_div');
	   if (jQuery(selectItem).length){
    selectItem.show();
    }
}).change();</script><script type="text/javascript"></script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>