<apex:page standardController="CustomObject1__c"  extensions="RequestChange_view"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" renderAs="{!renderAs}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="{!p_standardStylesheets}" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/42.0/connection.js"></script>
<script src="/soap/ajax/42.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "CustomObject1__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style></head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/jquery.timepicker.min.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery.timepicker.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/js/jquery.layout.min.js')}" />
<apex:includeScript value="https://s.oproarts.com/js/live_ff-1.00.js"/>
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">
function prcOutput(FileName, OutputId) {
	try { 
	    Util.stripCustomFunctionFromObjectPrototype(Array);

	    function now() {
	        var d = new Date();
	        return pad(d.getFullYear(), 4).substring(2)
	            + pad(d.getMonth() + 1, 2)
	            + pad(d.getDate(), 2)
	            + pad(d.getHours(), 2)
	            + pad(d.getMinutes(), 2)
	            + pad(d.getSeconds(), 2);
	        function pad(v, len) {
	            v = "" + v;
	            while (v.length < len) v = "0" + v;
	            return v;
	        }
	    }

	    OPROARTS.Live.fF.action({
	        tp:[OutputId],
	        fe:false,
	        createsAttach:true,
	       createsTask:false,
	        title:'AAAAAAA'+'_'+FileName+'-'+now(), 
	        objectId:'{!JSENCODE(CustomObject1__c.Id)}',
	        api:['{!JSENCODE($Organization.Id)}','{!JSENCODE($User.Id)}','{!JSENCODE($Api.Session_ID)}','{!JSENCODE($Api.Partner_Server_URL_220)}']
	    }).url("https://www.oproarts.com/liveffb/action").pdf();

	} catch (e) { 
	    alert('このボタンまたはリンクの OnClick JavaScript で問題が発生しました:\n\n' + (e.message ? e.message : e))
	} finally { 
	    Util.restoreCustomFunctionsToObjectPrototype(Array);
	}
}

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:form id="sve_form1" styleClass="sve_form1"  >
<apex:sectionHeader subtitle="{!record.Name}" title="{!$ObjectType.CustomObject1__c.Label}" >
</apex:sectionHeader><apex:outputPanel id="Component2_Wrapper" styleClass="">
<apex:pageBlock id="Component2" mode="detail" title="契約内容変更申請"  >
<apex:pageBlockButtons location="both"  >
<apex:commandButton action="{!deleteRecord}" id="Component206" onclick="return confirm('{!Label.customDeleteWarningLabel}');" rendered="{!$ObjectType.CustomObject1__c.deletable && !ISNULL(record.Id) && !sve_showDeleteCancel}" value="{!customDeleteButtonLabel}"  style="width:50px;" /><apex:commandButton action="{!edit}" id="Component205" value="編集"  style="width:100px;" /><apex:outputPanel id="Component402_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">

<apex:commandButton id="Component402" onclick="var id = '{!$CurrentPage.parameters.id}';window.open('/apex/svfcloud__PreviewPage?appId=CustomObject1__c&id=' + id + '&buttonFullName=SVFCustomObject1cButton20160802204424862GDP'); return false;" value="契約内容確認書"  style="width:128px;color:#0000FF;font-weight:Bold;" >
</apex:commandButton>
</apex:outputPanel>
</apex:pageBlockButtons><apex:outputPanel id="Component5_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component5" showHeader="true" title="申請内容" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component7_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component7_sectionItem}');}">
<apex:outputLabel escape="true" id="Component8" rendered="{!$ObjectType.CustomObject1__c.fields.Name.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.Name.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component8}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component7"    value="{!record.Name}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component10_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component10_sectionItem}');}">
<apex:outputLabel escape="true" id="Component11" rendered="{!$ObjectType.CustomObject1__c.fields.Status__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.Status__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component11}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component190"    value="{!record.Status__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component314"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component314}');}">
<apex:outputLabel escape="true" id="Component312" rendered="{!$ObjectType.CustomObject1__c.fields.unit__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.unit__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component312}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component313"    value="{!record.unit__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component307"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component307}');}">
<apex:outputLabel escape="true" id="Component305" rendered="{!$ObjectType.CustomObject1__c.fields.RequestDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.RequestDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component305}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component306"    value="{!record.RequestDay__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component148"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component148}');}">
<apex:outputLabel escape="true" id="Component146" rendered="{!$ObjectType.CustomObject1__c.fields.OwnerId.accessible}"  style="width:100px;color:#0000FF;font-size:1.0em;font-weight:Bold;" value="申請者" onclick="SkyEditor.touchToolTip('{!$Component.Component146}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
<apex:outputField id="Component147"    value="{!record.OwnerId}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component304"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component304}');}">
<apex:outputLabel escape="true" id="Component302" rendered="{!$ObjectType.CustomObject1__c.fields.RequestEndDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.RequestEndDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component302}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component303"    value="{!record.RequestEndDay__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component311"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component311}');}">
<apex:outputLabel escape="true" id="Component309" rendered="{!$ObjectType.CustomObject1__c.fields.SalesSupportPerson__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.SalesSupportPerson__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component309}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component310"    value="{!record.SalesSupportPerson__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component401"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component401}');}">
<apex:outputLabel escape="true" id="Component399" rendered="{!$ObjectType.CustomObject1__c.fields.SupportJudgePerson__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.SupportJudgePerson__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component399}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component400"    value="{!record.SupportJudgePerson__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component324"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component324}');}">
<apex:outputLabel escape="true" id="Component322" rendered="{!$ObjectType.CustomObject1__c.fields.ProductGroupgazou__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.ProductGroupgazou__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component322}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component323"    value="{!record.ProductGroupgazou__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component262"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component262}');}">
<apex:outputLabel escape="true" id="Component259" rendered="{!$ObjectType.CustomObject1__c.fields.SupportDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.SupportDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component259}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component260"    value="{!record.SupportDay__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component19_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component19_sectionItem}');}">
<apex:outputLabel escape="true" id="Component20" rendered="{!$ObjectType.CustomObject1__c.fields.OrderNo__c.accessible}"  style="width:100px;color:#0000FF;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.CustomObject1__c.fields.OrderNo__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component20}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
<apex:outputField id="Component191"    value="{!record.OrderNo__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component300"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component300}');}">
<apex:outputLabel escape="true" id="Component298" rendered="{!$ObjectType.CustomObject1__c.fields.SupportMember__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.SupportMember__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component298}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component299"    value="{!record.SupportMember__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component327"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component327}');}">
<apex:outputLabel escape="true" id="Component325" rendered="{!$ObjectType.CustomObject1__c.fields.OrderNo2__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.OrderNo2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component325}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component326"    value="{!record.OrderNo2__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component261"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component261}');}">
<apex:outputLabel escape="true" id="Component257" rendered="{!$ObjectType.CustomObject1__c.fields.RDDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.RDDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component257}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component258"    value="{!record.RDDay__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component357"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component357}');}">
<apex:outputLabel escape="true" id="Component355" rendered="{!$ObjectType.CustomObject1__c.fields.Account__c.accessible}"  style="width:100px;color:#0000FF;font-size:1.0em;font-weight:Bold;" value="取引先" onclick="SkyEditor.touchToolTip('{!$Component.Component355}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#0000FF;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component353"    value="{!record.Account__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component151"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component151}');}">
<apex:outputLabel escape="true" id="Component149" rendered="{!$ObjectType.CustomObject1__c.fields.RecordTypeId.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.RecordTypeId.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component149}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component28"    value="{!record.RecordType.Name}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component395"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component395}');}">
<apex:outputLabel escape="true" id="Component393" rendered="{!$ObjectType.CustomObject1__c.fields.Sign__c.accessible}"  style="width:100px;color:#0000FF;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.CustomObject1__c.fields.Sign__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component393}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component394"    value="{!record.Sign__c}" />
	<apex:outputText style="display:none;" value="{!record.Sign__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component425"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component425}');}">
<apex:outputLabel escape="true" id="Component421" rendered="{!$ObjectType.CustomObject1__c.fields.OrderProvisional1__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.OrderProvisional1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component421}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component422"    value="{!record.OrderProvisional1__c}" />
	<apex:outputText style="display:none;" value="{!record.OrderProvisional1__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component426"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component426}');}">
<apex:outputLabel escape="true" id="Component423" rendered="{!$ObjectType.CustomObject1__c.fields.OrderProvisionalMemo1__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.OrderProvisionalMemo1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component423}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component424"    value="{!record.OrderProvisionalMemo1__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component429"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component429}');}">
<apex:outputLabel escape="true" id="Component427" rendered="{!$ObjectType.CustomObject1__c.fields.SalvageScheduledDate__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.SalvageScheduledDate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component427}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component428"    value="{!record.SalvageScheduledDate__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:outputPanel ></apex:outputPanel><apex:outputPanel ></apex:outputPanel></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component5', {"isFirstSection":true,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component315_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="true" columns="2" id="Component315" showHeader="false" title="Component315" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component318"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component318}');}">
<apex:outputLabel escape="true" id="Component316" rendered="{!$ObjectType.CustomObject1__c.fields.ProductGroup__c.accessible}"  style="width:100px;color:#0000FF;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.CustomObject1__c.fields.ProductGroup__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component316}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#0000FF;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component317"    value="{!record.ProductGroup__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component321"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component321}');}">
<apex:outputLabel escape="true" id="Component319" rendered="{!$ObjectType.CustomObject1__c.fields.sentaku__c.accessible}"  style="width:100px;color:#0000FF;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.CustomObject1__c.fields.sentaku__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component319}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#0000FF;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component320"    value="{!record.sentaku__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component408"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component408}');}">
<apex:outputLabel escape="true" id="Component406" rendered="{!$ObjectType.CustomObject1__c.fields.MemoPrint__c.accessible}"  style="width:100px;color:#0000FF;font-size:1.0em;font-weight:Bold;" value="備考" onclick="SkyEditor.touchToolTip('{!$Component.Component406}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#0000FF;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component404"    value="{!record.MemoPrint__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component391"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component391}');}">
<apex:outputLabel escape="true" id="Component389" rendered="{!$ObjectType.CustomObject1__c.fields.ChangeType__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.ChangeType__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component389}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component390"    value="{!record.ChangeType__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component330"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component330}');}">
<apex:outputLabel escape="true" id="Component328" rendered="{!$ObjectType.CustomObject1__c.fields.BillStopType1__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.BillStopType1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component328}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component329"    value="{!record.BillStopType1__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component333"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component333}');}">
<apex:outputLabel escape="true" id="Component331" rendered="{!$ObjectType.CustomObject1__c.fields.BillStopType__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.BillStopType__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component331}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component332"    value="{!record.BillStopType__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component315', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component237_Wrapper" styleClass="">
<apex:pageBlock id="Component237" mode="detail" title="変更申請（青文字のみ印刷対象欄）"  >
<apex:outputPanel id="Component238_Wrapper">
<apex:outputPanel >
<table  border="1" cellpadding="5" cellspacing="0" columnCount="2" columnsWidth="115,115" id="Component238" rowsHeight="35,32,38,32,38,32"  style="border-collapse:collapse;border:1px solid #FFFFFF;width:100%;">
<tr  >
<td  id="Component239"  style="height:33px;text-align:center;vertical-align:middle;border:1px none #FFFFFF;">
<apex:outputPanel id="Component243_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component243" value="変更前"  style="color:#0000FF;font-size:14pt;font-weight:Bold;" />
</apex:outputPanel>
</td><td  id="Component240"  style="height:33px;text-align:center;vertical-align:middle;border:1px none #FFFFFF;">
<apex:outputPanel id="Component244_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component244" value="変更後"  style="color:#0000FF;font-size:14pt;font-weight:Bold;" />
</apex:outputPanel>
</td></tr><tr  >
<td  id="Component241"  style="height:30px;text-align:center;vertical-align:middle;border:1px none #FFFFFF;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#0000FF;font-size:1.0em;font-weight:Bold;" >
<apex:outputField id="Component193"    value="{!record.henkoumae__c}" />
</apex:outputPanel>
</td><td  id="Component242"  style="height:30px;text-align:center;vertical-align:middle;border:1px none #FFFFFF;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#0000FF;font-size:1.0em;font-weight:Bold;" >
<apex:outputField id="Component194"    value="{!record.henkougo__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td  id="Component288"  style="height:36px;text-align:center;vertical-align:bottom;border:1px solid #FFFFFF;">
<apex:outputLabel escape="true" id="Component388" rendered="{!$ObjectType.CustomObject1__c.fields.etcChangeDay__c.accessible}"  style="color:#0000FF;font-size:1.0em;font-weight:Bold;text-align:left;" value="変更日付" onclick="SkyEditor.touchToolTip('{!$Component.Component388}');"/>
</td><td  id="Component289"  style="height:36px;text-align:center;vertical-align:bottom;border:1px solid #FFFFFF;">
<apex:outputLabel escape="true" id="Component295" rendered="{!$ObjectType.CustomObject1__c.fields.RequestMemo__c.accessible}"  style="color:#000000;font-size:1.0em;font-weight:Bold;text-align:left;" value="依頼備考" onclick="SkyEditor.touchToolTip('{!$Component.Component295}');"/>
</td></tr><tr  >
<td  id="Component290"  style="height:30px;text-align:center;vertical-align:middle;border:1px solid #FFFFFF;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#0000FF;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component383"    value="{!record.etcChangeDay__c}" />
</apex:outputPanel>
</td><td  id="Component291"  style="height:30px;text-align:center;vertical-align:middle;border:1px solid #FFFFFF;">
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component293"    value="{!record.RequestMemo__c}" />
</apex:outputPanel>
</td></tr><tr  >
<td  id="Component380"  style="height:36px;text-align:center;vertical-align:middle;border:1px solid #FFFFFF;">
&nbsp;</td><td  id="Component381"  style="height:36px;text-align:center;vertical-align:middle;border:1px solid #FFFFFF;">
&nbsp;</td></tr><tr  >
<td  id="Component378"  style="height:30px;text-align:center;vertical-align:middle;border:1px solid #FFFFFF;">
&nbsp;</td><td  id="Component379"  style="height:30px;text-align:center;vertical-align:middle;border:1px solid #FFFFFF;">
&nbsp;</td></tr></table>
</apex:outputPanel>
</apex:outputPanel></apex:pageBlock>
</apex:outputPanel><apex:outputPanel id="Component409_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component409" showHeader="true" title="支払サイト" >
<apex:outputPanel layout="block"  style="text-align:center;" >
<apex:outputPanel id="Component419_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component419" value="変更前"  style="color:#000000;font-size:14pt;font-weight:Bold;" />
</apex:outputPanel>
</apex:outputPanel><apex:outputPanel layout="block"  style="text-align:center;" >
<apex:outputPanel id="Component420_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component420" value="変更後"  style="color:#000000;font-size:14pt;font-weight:Bold;" />
</apex:outputPanel>
</apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component418"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component418}');}">
<apex:outputLabel escape="true" id="Component416" rendered="{!$ObjectType.CustomObject1__c.fields.Patnername1__c.accessible}"  style="width:100px;" value="支払サイト" onclick="SkyEditor.touchToolTip('{!$Component.Component416}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component411"    value="{!record.Patnername1__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component415"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component415}');}">
<apex:outputLabel escape="true" id="Component413" rendered="{!$ObjectType.CustomObject1__c.fields.Patnername2__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.Patnername2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component413}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component414"    value="{!record.Patnername2__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component409', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component44_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component44" showHeader="true" title="担当変更" >
<apex:outputPanel layout="block"  style="text-align:center;" >
<apex:outputPanel id="Component235_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component235" value="変更前"  style="color:#000000;font-size:14pt;font-weight:Bold;" />
</apex:outputPanel>
</apex:outputPanel><apex:outputPanel layout="block"  style="text-align:center;" >
<apex:outputPanel id="Component236_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component236" value="変更後"  style="color:#000000;font-size:14pt;font-weight:Bold;" />
</apex:outputPanel>
</apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component157"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component157}');}">
<apex:outputLabel escape="true" id="Component155" rendered="{!$ObjectType.CustomObject1__c.fields.SalesPerson__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.SalesPerson__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component155}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component46"    value="{!record.SalesPerson__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component112"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component112}');}">
<apex:outputLabel escape="true" id="Component110" rendered="{!$ObjectType.CustomObject1__c.fields.UnitSalesPerson2__c.accessible}"  style="width:100px;" value="担当営業ユニット" onclick="SkyEditor.touchToolTip('{!$Component.Component110}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component111"    value="{!record.UnitSalesPerson2__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component160"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component160}');}">
<apex:outputLabel escape="true" id="Component158" rendered="{!$ObjectType.CustomObject1__c.fields.SalesPerson1__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.SalesPerson1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component158}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component52"    value="{!record.SalesPerson1__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component49_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component49_sectionItem}');}">
<apex:outputLabel escape="true" id="Component50" rendered="{!$ObjectType.CustomObject1__c.fields.SalesPerson2__c.accessible}"  style="width:100px;" value="担当営業" onclick="SkyEditor.touchToolTip('{!$Component.Component50}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
<apex:outputField id="Component197"    value="{!record.SalesPerson2__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component432"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component432}');}">
<apex:outputLabel escape="true" id="Component430" rendered="{!$ObjectType.CustomObject1__c.fields.SalesSupportPersonView__c.accessible}"  style="width:100px;" value="サポート担当" onclick="SkyEditor.touchToolTip('{!$Component.Component430}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component431"    value="{!record.SalesSupportPersonView__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component350"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component350}');}">
<apex:outputLabel escape="true" id="Component346" rendered="{!$ObjectType.CustomObject1__c.fields.SupportPerson2__c.accessible}"  style="width:100px;" value="サポート担当" onclick="SkyEditor.touchToolTip('{!$Component.Component346}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
<apex:outputField id="Component347"    value="{!record.SupportPerson2__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component284"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component284}');}">
<apex:outputLabel escape="true" id="Component282" rendered="{!$ObjectType.CustomObject1__c.fields.SalesPersonDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.SalesPersonDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component282}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component283"    value="{!record.SalesPersonDay__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component44', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component89_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component89" showHeader="true" title="請求担当者" >
<apex:outputPanel layout="block"  style="text-align:center;" >
<apex:outputPanel id="Component231_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component231" value="変更前"  style="color:#000000;font-size:14pt;font-weight:Bold;" />
</apex:outputPanel>
</apex:outputPanel><apex:outputPanel layout="block"  style="text-align:center;" >
<apex:outputPanel id="Component233_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component233" value="変更後"  style="color:#000000;font-size:14pt;font-weight:Bold;" />
</apex:outputPanel>
</apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component224"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component224}');}">
<apex:outputLabel escape="true" id="Component222" rendered="{!$ObjectType.CustomObject1__c.fields.Account__c.accessible}"  style="width:100px;" value="取引先" onclick="SkyEditor.touchToolTip('{!$Component.Component222}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component220"    value="{!record.Account__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component230"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component230}');}">
<apex:outputLabel escape="true" id="Component228" rendered="{!$ObjectType.CustomObject1__c.fields.Account2__c.accessible}"  style="width:100px;" value="取引先" onclick="SkyEditor.touchToolTip('{!$Component.Component228}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component226"    value="{!record.Account2__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component163"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component163}');}">
<apex:outputLabel escape="true" id="Component161" rendered="{!$ObjectType.CustomObject1__c.fields.Customer__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.Customer__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component161}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component203"    value="{!record.Customer__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component94_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component94_sectionItem}');}">
<apex:outputLabel escape="true" id="Component95" rendered="{!$ObjectType.CustomObject1__c.fields.Billtantou__c.accessible}"  style="width:100px;" value="担当者（請求先）" onclick="SkyEditor.touchToolTip('{!$Component.Component95}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
<apex:outputField id="Component204"    value="{!record.Billtantou__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component172"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component172}');}">
<apex:outputLabel escape="true" id="Component170" rendered="{!$ObjectType.CustomObject1__c.fields.BillDepartment__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.BillDepartment__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component170}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component165"    value="{!record.BillDepartment__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component142"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component142}');}">
<apex:outputLabel escape="true" id="Component140" rendered="{!$ObjectType.CustomObject1__c.fields.BillDepartment2__c.accessible}"  style="width:100px;" value="部署（請求先）" onclick="SkyEditor.touchToolTip('{!$Component.Component140}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component100"    value="{!record.BillDepartment2__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component175"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component175}');}">
<apex:outputLabel escape="true" id="Component173" rendered="{!$ObjectType.CustomObject1__c.fields.BillTitle__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.BillTitle__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component173}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component168"    value="{!record.BillTitle__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component145"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component145}');}">
<apex:outputLabel escape="true" id="Component143" rendered="{!$ObjectType.CustomObject1__c.fields.BillTitle2__c.accessible}"  style="width:100px;" value="役職名（請求先）" onclick="SkyEditor.touchToolTip('{!$Component.Component143}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component106"    value="{!record.BillTitle2__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component287"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component287}');}">
<apex:outputLabel escape="true" id="Component285" rendered="{!$ObjectType.CustomObject1__c.fields.CustomerChangeDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.CustomerChangeDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component285}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component286"    value="{!record.CustomerChangeDay__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component89', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/11_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel></apex:pageBlock>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >

<apex:outputPanel styleclass="" style="" >
<apex:relatedList id="Component109" rendered="{!$ObjectType.ProcessInstanceHistory.fields.TargetObjectId.accessible}" title="契約内容変更申請履歴" list="ProcessSteps" pageSize="5"  />
<script type="text/javascript">
	var id = "{!$Component.Component109}";
	SkyEditor.s1_relatedList(id, 'ProcessSteps'); 
</script>
</apex:outputPanel>

<apex:outputPanel styleclass="" style="" >
<apex:relatedList id="Component108" rendered="{!$ObjectType.CombinedAttachment.fields.ParentId.accessible}" list="CombinedAttachments" pageSize="5"  />
<script type="text/javascript">
	var id = "{!$Component.Component108}";
	SkyEditor.s1_relatedList(id, 'CombinedAttachments'); 
</script>
</apex:outputPanel>
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>