<apex:page standardController="CustomObject1__c"  extensions="RequestSEO"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" renderAs="{!renderAs}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="{!p_standardStylesheets}" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/42.0/connection.js"></script>
<script src="/soap/ajax/42.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "CustomObject1__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style><style>
.Component644_header{ 
height:30px; padding: 0px !important;}

</style><!--[if IE 9 ]> 
<style>
.dataTableSet {margin-bottom:auto;}
</style><![endif]--> <script>
SkyEditor.RetrievingCustomLookupSettings('Component644','RequestPopUP');
</script></head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.tablesorter.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/addons/pager/jquery.tablesorter.pager.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/tableSortPageingSetting.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.layout.min.js')}" />
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:form id="sve_form1" styleClass="sve_form1"  >
<apex:sectionHeader subtitle="{!record.Name}" title="{!$ObjectType.CustomObject1__c.Label}" >
</apex:sectionHeader><apex:outputPanel id="Component2_Wrapper" styleClass="">
<apex:pageBlock id="Component2" mode="detail" title="解約申請"  >
<apex:pageBlockButtons location="both"  >
<apex:commandButton action="{!cancel}" id="Component4" rendered="{!!sve_showDeleteCancel}" value="{!customCancelButtonLabel}"  style="width:66px;" /><apex:commandButton action="{!doSave}" id="Component3" onclick="disabledFieldItems(); " value="保　存"  style="width:100px;"   rendered="{!OR($ObjectType.CustomObject1__c.createable,$ObjectType.CustomObject1__c.updateable)}" />
</apex:pageBlockButtons><apex:outputPanel id="Component627_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component627" showHeader="true" title="申請情報" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component626"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component626}');}">
<apex:outputLabel escape="true" id="Component624" rendered="{!$ObjectType.CustomObject1__c.fields.unit__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.unit__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component624}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component625"    value="{!record.unit__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component7_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component7_sectionItem}');}">
<apex:outputLabel escape="true" id="Component8" rendered="{!$ObjectType.CustomObject1__c.fields.Name.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.Name.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component8}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component7"    value="{!record.Name}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component637"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component637}');}">
<apex:outputLabel escape="true" id="Component635" rendered="{!$ObjectType.CustomObject1__c.fields.OwnerId.accessible}"  style="width:100px;" value="申請者" onclick="SkyEditor.touchToolTip('{!$Component.Component635}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component631"    value="{!record.OwnerId}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component10_sectionItem"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component10_sectionItem}');}">
<apex:outputLabel escape="true" id="Component11" rendered="{!$ObjectType.CustomObject1__c.fields.Status__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.Status__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component11}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component10" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Status__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component623"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component623}');}">
<apex:outputLabel escape="true" id="Component621" rendered="{!$ObjectType.CustomObject1__c.fields.SalesSupportPersonView__c.accessible}"  style="width:100px;color:#0000FF;font-size:1.0em;font-weight:Bold;" value="サポート担当" onclick="SkyEditor.touchToolTip('{!$Component.Component621}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component622"    value="{!record.SalesSupportPersonView__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component394"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component394}');}">
<apex:outputLabel escape="true" id="Component392" rendered="{!$ObjectType.CustomObject1__c.fields.RequestDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.RequestDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component392}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component16"    value="{!record.RequestDay__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component331"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component331}');}">
<apex:outputLabel escape="true" id="Component329" rendered="{!$ObjectType.CustomObject1__c.fields.RecordTypeId.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.RecordTypeId.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component329}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component31"    value="{!record.RecordType.Name}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component391"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component391}');}">
<apex:outputLabel escape="true" id="Component389" rendered="{!$ObjectType.CustomObject1__c.fields.RequestEndDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.RequestEndDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component389}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component22"    value="{!record.RequestEndDay__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component627', {"isFirstSection":true,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component5_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component5" showHeader="true" title="解約情報" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component414"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component414}');}">
<apex:outputLabel escape="true" id="Component412" rendered="{!$ObjectType.CustomObject1__c.fields.OrderNo__c.accessible}"  style="width:100px;color:#0000FF;font-size:1.0em;font-weight:Bold;" value="解約注文番号" onclick="SkyEditor.touchToolTip('{!$Component.Component412}');"/>
<apex:outputPanel >
<apex:actionRegion >
<table  border="0" cellpadding="0" cellspacing="0" class="wrapperTable" >
<tr>
<td  class="sveWrapperTableMainTd" >
<apex:outputPanel id="Component709"  >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component413" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:107px;color:#0000FF;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.OrderNo__c}">
<apex:actionSupport action="{!loadReferenceValues_Component413}" event="onchange" oncomplete="filterListSibling(jQuery('[id$=Component369]'),jQuery(document.getElementById('{!$Component.Component413}'))).change();SkyEditor.afterLookup('Component413');enableFieldItems();" onsubmit="SkyEditor.DOM.reflectLookupValue(this);" reRender="Component369,Component709" status="Component413_Status" /></apex:inputField>
</apex:outputPanel>
 <script type="text/javascript">
(function () {
  var id = '{!$Component.Component413}';
  var id_lkid = id + '_lkid';
  var ua = navigator.userAgent,
      isIPad = /\(iPad; /.test(ua),
      isIPhone = /\(iPhone; /.test(ua);

  jQuery(document.getElementById(id))
    .keydown(function(event) {
      if (event.keyCode === 13) {
          event.preventDefault();       }
    })
    .change(function(event) {
      customDisabledFieldItems();
        stopLinkClick();
    });

    jQuery(document.getElementById(id_lkid))
    .change(function() {
      customDisabledFieldItems();
        stopLinkClick();
    })
    .blur(function() {
      if (this.tagName !== 'SELECT') {
        return;
      }
      jQuery(this).change();
    });
  
  function stopLinkClick() {
    var id_lkwgt = id + '_lkwgt';
    document.getElementById(id_lkwgt).onclick=false;
    jQuery(document.getElementById(id_lkwgt))
      .on('click', SkyEditor.DOM.stopEvent).attr('disabled', 'disabled');
  }
  AutoCompleteInputElement.prototype.displaySuggestions = function () {};
})();
</script></apex:outputPanel></td><td  >
<apex:actionStatus id="Component413_Status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
</td></tr>
</table></apex:actionRegion></apex:outputPanel></apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component643"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component643}');}">
<apex:outputLabel escape="true" id="Component641" rendered="{!$ObjectType.CustomObject1__c.fields.SupportJudgePerson__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.SupportJudgePerson__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component641}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component496"    value="{!record.SupportJudgePerson__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component640"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component640}');}">
<apex:outputLabel escape="true" id="Component638" rendered="{!$ObjectType.CustomObject1__c.fields.AccountName__c.accessible}"  style="width:100px;color:#0000FF;font-size:1.0em;font-weight:Bold;" value="取引先" onclick="SkyEditor.touchToolTip('{!$Component.Component638}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component639"    value="{!record.AccountName__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component388"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component388}');}">
<apex:outputLabel escape="true" id="Component386" rendered="{!$ObjectType.CustomObject1__c.fields.SupportDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.SupportDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component386}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component28"    value="{!record.SupportDay__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component553"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component553}');}">
<apex:outputLabel escape="true" id="Component551" rendered="{!$ObjectType.CustomObject1__c.fields.ProductGroupView__c.accessible}"  style="width:100px;color:#0000FF;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.CustomObject1__c.fields.ProductGroupView__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component551}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component552"    value="{!record.ProductGroupView__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component385"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component385}');}">
<apex:outputLabel escape="true" id="Component383" rendered="{!$ObjectType.CustomObject1__c.fields.SupportMember__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.SupportMember__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component383}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component37"    value="{!record.SupportMember__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.CustomObject1__c.fields.OrderProvisional1__c.accessible,$ObjectType.CustomObject1__c.fields.OrderProvisional1__c.inlineHelpText,null)}" id="Component518"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component518}');}">
<apex:outputLabel escape="true" id="Component515" rendered="{!$ObjectType.CustomObject1__c.fields.OrderProvisional1__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.OrderProvisional1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component515}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component516" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.OrderProvisional1__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component382"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component382}');}">
<apex:outputLabel escape="true" id="Component380" rendered="{!$ObjectType.CustomObject1__c.fields.RDDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.RDDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component380}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component34"    value="{!record.RDDay__c}" />
</apex:outputPanel>
</apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component517"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component517}');}">
<apex:outputLabel escape="true" id="Component513" rendered="{!$ObjectType.CustomObject1__c.fields.OrderProvisionalMemo1__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.OrderProvisionalMemo1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component513}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component514" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:229px;height:45px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.OrderProvisionalMemo1__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component492"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component492}');}">
<apex:outputLabel escape="true" id="Component490" rendered="{!$ObjectType.CustomObject1__c.fields.Sign__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.Sign__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component490}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component491" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Sign__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component539"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component539}');}">
<apex:outputLabel escape="true" id="Component537" rendered="{!$ObjectType.CustomObject1__c.fields.SalvageScheduledDate__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.SalvageScheduledDate__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component537}');"/>
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component538" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.SalvageScheduledDate__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component507"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component507}');}">
<apex:outputLabel escape="true" id="Component505" rendered="{!$ObjectType.CustomObject1__c.fields.RequestMemo__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.RequestMemo__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component505}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component506" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:229px;height:45px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.RequestMemo__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:outputPanel ></apex:outputPanel></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component5', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component39_Wrapper" styleClass="columns2"  >
<apex:pageBlockSection collapsible="false" columns="2" id="Component39" showHeader="true" title="解約内容詳細" >
<apex:outputPanel id="Component408_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component408" value="解約内容"  style="color:#000000;font-size:12pt;font-weight:Normal;" />
</apex:outputPanel>
<apex:outputPanel id="Component406_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component406" value="解約要因"  style="color:#000000;font-size:12pt;font-weight:Normal;" />
</apex:outputPanel>
<apex:outputPanel id="Component629_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="false" columns="1" id="Component629" showHeader="false" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component370"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component370}');}">
<apex:outputLabel escape="true" id="Component368" rendered="{!$ObjectType.CustomObject1__c.fields.endday__c.accessible}"  style="width:100px;color:#0000FF;font-size:1.0em;font-weight:Bold;" value="{!$ObjectType.CustomObject1__c.fields.endday__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component368}');"/>
<apex:outputPanel styleclass="fieldwrapper  nonDisplayDateFormat" style="display:block;text-align:left;" >
<apex:inputField id="Component369" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.endday__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component470"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component470}');}">
<apex:outputLabel escape="true" id="Component468" rendered="{!$ObjectType.CustomObject1__c.fields.ClauseDay__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.ClauseDay__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component468}');"/>
<apex:outputPanel styleclass="fieldwrapper  nonDisplayDateFormat" style="display:block;text-align:left;" >
<apex:inputField id="Component469" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:107px;height:14px;color:#0000FF;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.ClauseDay__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component486"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component486}');}">
<apex:outputLabel escape="true" id="Component484" rendered="{!$ObjectType.CustomObject1__c.fields.CancelType2__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.CancelType2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component484}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component485" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:107px;color:#0000FF;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.CancelType2__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component402"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component402}');}">
<apex:outputLabel escape="true" id="Component400" rendered="{!$ObjectType.CustomObject1__c.fields.CancelType__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.CancelType__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component400}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component401" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:144px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.CancelType__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.CustomObject1__c.fields.CancelMonthBilling__c.accessible,$ObjectType.CustomObject1__c.fields.CancelMonthBilling__c.inlineHelpText,null)}" id="Component559"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component559}');}">
<apex:outputLabel escape="true" id="Component557" rendered="{!$ObjectType.CustomObject1__c.fields.CancelMonthBilling__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.CancelMonthBilling__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component557}');"/>
<apex:outputPanel styleclass="fieldwrapper " style="display:block;text-align:left;" >
<apex:inputField id="Component558" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="true"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.CancelMonthBilling__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.CustomObject1__c.fields.RequestAmount__c.accessible,$ObjectType.CustomObject1__c.fields.RequestAmount__c.inlineHelpText,null)}" id="Component364"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component364}');}">
<apex:outputLabel escape="true" id="Component356" rendered="{!$ObjectType.CustomObject1__c.fields.RequestAmount__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.RequestAmount__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component356}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component357" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:right;"   value="{!record.RequestAmount__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.CustomObject1__c.fields.kaiyakuTotalAmount__c.accessible,$ObjectType.CustomObject1__c.fields.kaiyakuTotalAmount__c.inlineHelpText,null)}" id="Component367"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component367}');}">
<apex:outputLabel escape="true" id="Component362" rendered="{!$ObjectType.CustomObject1__c.fields.kaiyakuTotalAmount__c.accessible}"  style="width:100px;" value="解約総額" onclick="SkyEditor.touchToolTip('{!$Component.Component362}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component363" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:107px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:right;"   value="{!record.kaiyakuTotalAmount__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component375"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component375}');}">
<apex:outputLabel escape="true" id="Component371" rendered="{!$ObjectType.CustomObject1__c.fields.OrderNoChange__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.OrderNoChange__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component371}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component372" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.OrderNoChange__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component376"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component376}');}">
<apex:outputLabel escape="true" id="Component373" rendered="{!$ObjectType.CustomObject1__c.fields.OrderNoChange2__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.OrderNoChange2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component373}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component374" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:229px;height:25px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.OrderNoChange2__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.CustomObject1__c.fields.MemoPrint__c.accessible,$ObjectType.CustomObject1__c.fields.MemoPrint__c.inlineHelpText,null)}" id="Component510"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component510}');}">
<apex:outputLabel escape="true" id="Component508" rendered="{!$ObjectType.CustomObject1__c.fields.MemoPrint__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.MemoPrint__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component508}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component509" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="width:294px;height:95px;color:#0000FF;font-size:1.0em;font-weight:Normal;"   value="{!record.MemoPrint__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component629', {"isFirstSection":false,"isMarginRemove":true});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component628_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="false" columns="1" id="Component628" showHeader="false" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component521"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component521}');}">
<apex:outputLabel escape="true" id="Component519" rendered="{!$ObjectType.CustomObject1__c.fields.cancelReasonInServiceFlow__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.cancelReasonInServiceFlow__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component519}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component520" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.cancelReasonInServiceFlow__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component524"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component524}');}">
<apex:outputLabel escape="true" id="Component522" rendered="{!$ObjectType.CustomObject1__c.fields.cancelReasonForAP__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.cancelReasonForAP__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component522}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component523" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.cancelReasonForAP__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component527"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component527}');}">
<apex:outputLabel escape="true" id="Component525" rendered="{!$ObjectType.CustomObject1__c.fields.cancelReasonForCS__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.cancelReasonForCS__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component525}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component526" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.cancelReasonForCS__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component533"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component533}');}">
<apex:outputLabel escape="true" id="Component531" rendered="{!$ObjectType.CustomObject1__c.fields.externalCancelReason__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.externalCancelReason__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component531}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component532" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.externalCancelReason__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component530"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component530}');}">
<apex:outputLabel escape="true" id="Component528" rendered="{!$ObjectType.CustomObject1__c.fields.cancelReasonErrorDetail__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.cancelReasonErrorDetail__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component528}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component529" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:229px;height:45px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.cancelReasonErrorDetail__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  id="Component536"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component536}');}">
<apex:outputLabel escape="true" id="Component534" rendered="{!$ObjectType.CustomObject1__c.fields.cancelReasonFactorDetail__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.cancelReasonFactorDetail__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component534}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component535" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:229px;height:45px;color:#000000;font-size:1.0em;font-weight:Normal;text-align:left;"   value="{!record.cancelReasonFactorDetail__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component628', {"isFirstSection":false,"isMarginRemove":true});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component39', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component340_Wrapper" styleClass="columns1"  >
<apex:pageBlockSection collapsible="false" columns="1" id="Component340" showHeader="true" title="解約対象　注文商品" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.CustomObject1__c.fields.OrderItem_AutoCompletion__c.accessible,$ObjectType.CustomObject1__c.fields.OrderItem_AutoCompletion__c.inlineHelpText,null)}" id="Component706"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component706}');}">
<apex:outputLabel escape="true" id="Component704" rendered="{!$ObjectType.CustomObject1__c.fields.OrderItem_AutoCompletion__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.OrderItem_AutoCompletion__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component704}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component705" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.OrderItem_AutoCompletion__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:outputPanel id="Component477_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputText escape="false" id="Component477" value="※注文番号配下の注文商品を自動登録します　解除したい場合は自動補完チェックを外して下さい"  style="color:#FF00FF;font-size:1.0em;font-weight:Normal;" />
</apex:outputPanel>
</apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component340', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel><apex:outputPanel id="Component644_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="Component644" layout="block" styleClass="dataTableSet"  style="overflow:auto;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<table  class="tableOperator" id="Component644_header" >
<tr  >
<td  >
<apex:commandButton action="{!Component644.add}" id="Component644_addButton" immediate="false" onclick="disabledFieldItems(); if(mirrorFormSync('Component644_table','Component644_table_mirror',this)) return false;" oncomplete="enableFieldItems(); " reRender="Component644,messagesPanel" rendered="{!$ObjectType.SEOChange__c.createable && Component644.items.size < 500 && $ObjectType.SEOChange__c.fields.sinsei__c.createable}" status="Component644_addButton_status" value="{!customAddButtonLabel}"  >
</apex:commandButton><apex:actionStatus id="Component644_addButton_status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
</td><td  >
<apex:commandButton action="{!callRemove_Component644}" id="Component644_deleteButton" immediate="false" onclick="if(!selectDelete('Component644_table'))return false;if(mirrorFormSync('Component644_table','Component644_table_mirror',this)){arguments[0].preventDefault();return false; } disabledFieldItems();" oncomplete="enableFieldItems(); " reRender="Component644,messagesPanel" rendered="{!($ObjectType.SEOChange__c.deletable)}" status="Component644_deleteButton_status" value="{!label.customSelectionDeleteButtonLabel}"   >
</apex:commandButton><apex:actionStatus id="Component644_deleteButton_status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
</td><td  >
<apex:outputPanel rendered="{!$ObjectType.SEOChange__c.createable && Component644.items.size < 500 && $ObjectType.SEOChange__c.fields.sinsei__c.createable && $ObjectType.SEOChange__c.fields.OrderItem__c.createable}">
	<apex:commandButton id="Component644_openButton" value="注文商品選択"
		onclick="sve_openCustomLookupPage(event, '{!$Page.RequestPopUP}', this.id, 'Component644'); return false;" />
	<script>
		SkyEditor.setProperty(
			"LookupCallback.{!$Component.Component644_openButton}",
			createLookupSelectRecordsCallback({"Id":"OrderItem__c"}, "Component644")
		);
	</script>
</apex:outputPanel>
</td><td  >
<apex:outputPanel style="margin-left:20px;"  >
<apex:outputText value="{!rowCount}"  /><apex:outputText styleClass="recordCounter" value="{!IF(Component644.items.size >=500, (rowCountPrefix & ' ' & TEXT(Component644.items.size) & ' ' & rowCountSuffix), (':' & TEXT(Component644.items.size)))}"  /></apex:outputPanel></td></tr></table><apex:outputPanel layout="block" styleClass="tableWrapper"   >
<apex:pageBlockTable columnsWidth="30px,39px,,,,,,,,," headerClass="Component644_header" id="Component644_table" rows="500" value="{!Component644.items}" var="Component644_item"  >
<apex:column style="width:30px;" >
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:30px;display:block;" >
<apex:inputCheckbox onclick="applyChecked(event, this, 'Component644');" value="{!Component644.selected}"  >
</apex:inputCheckbox></apex:outputPanel></apex:facet><apex:inputCheckbox id="BulkSelectCheckbox" onclick="SkyEditor.MirrorForm.update('Component644_table', 'Component644_table_mirror', this);" styleClass="BulkSelectCheckbox" value="{!Component644_item.selected}"  >
</apex:inputCheckbox><script>
document.getElementById('{!$Component.BulkSelectCheckbox}').setAttribute('rid','{!Component644_item.record.Id}');
</script></apex:column><apex:column style="width:39px;" >
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:39px;display:block;" >
</apex:outputPanel></apex:facet><apex:commandButton action="{!Component644_item.remove}" immediate="false" onclick="disabledFieldItems(); " oncomplete="enableFieldItems(); " reRender="Component644,messagesPanel" value="{!customDeleteRowButtonLabel}"    rendered="{!OR($ObjectType.SEOChange__c.deletable,AND($ObjectType.SEOChange__c.accessible,ISNULL(Component644_item.record.Id)))}" /></apex:column><apex:column id="Component645"  style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.SEOChange__c.fields.OrderItem__c.accessible}" >
<apex:actionRegion >
<table  border="0" cellpadding="0" cellspacing="0" class="wrapperTable" >
<tr>
<td  class="sveWrapperTableMainTd" >
<apex:outputPanel id="Component710"  >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component653" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')" required="false"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component644_item.record.OrderItem__c}">
<apex:actionSupport action="{!Component644_item.loadReferenceValues_Component653}" event="onchange" oncomplete="filterListSibling(jQuery('[id$=Component654]'),jQuery(document.getElementById('{!$Component.Component653}'))).change();SkyEditor.afterLookup('Component653');filterListSibling(jQuery('[id$=Component657]'),jQuery(document.getElementById('{!$Component.Component653}'))).change();SkyEditor.afterLookup('Component653');filterListSibling(jQuery('[id$=Component703]'),jQuery(document.getElementById('{!$Component.Component653}'))).change();SkyEditor.afterLookup('Component653');filterListSibling(jQuery('[id$=Component694]'),jQuery(document.getElementById('{!$Component.Component653}'))).change();SkyEditor.afterLookup('Component653');filterListSibling(jQuery('[id$=Component695]'),jQuery(document.getElementById('{!$Component.Component653}'))).change();SkyEditor.afterLookup('Component653');filterListSibling(jQuery('[id$=Component659]'),jQuery(document.getElementById('{!$Component.Component653}'))).change();SkyEditor.afterLookup('Component653');filterListSibling(jQuery('[id$=Component663]'),jQuery(document.getElementById('{!$Component.Component653}'))).change();SkyEditor.afterLookup('Component653');filterListSibling(jQuery('[id$=Component660]'),jQuery(document.getElementById('{!$Component.Component653}'))).change();SkyEditor.afterLookup('Component653');enableFieldItems();" onsubmit="SkyEditor.DOM.reflectLookupValue(this);" reRender="Component654,Component657,Component703,Component694,Component695,Component659,Component663,Component660,Component710" status="Component653_Status" /></apex:inputField>
</apex:outputPanel>
 <script type="text/javascript">
(function () {
  var id = '{!$Component.Component653}';
  var id_lkid = id + '_lkid';
  var ua = navigator.userAgent,
      isIPad = /\(iPad; /.test(ua),
      isIPhone = /\(iPhone; /.test(ua);

  jQuery(document.getElementById(id))
    .keydown(function(event) {
      if (event.keyCode === 13) {
          event.preventDefault();       }
    })
    .change(function(event) {
      customDisabledFieldItems();
        stopLinkClick();
    });

    jQuery(document.getElementById(id_lkid))
    .change(function() {
      customDisabledFieldItems();
        stopLinkClick();
    })
    .blur(function() {
      if (this.tagName !== 'SELECT') {
        return;
      }
      jQuery(this).change();
    });
  
  function stopLinkClick() {
    var id_lkwgt = id + '_lkwgt';
    document.getElementById(id_lkwgt).onclick=false;
    jQuery(document.getElementById(id_lkwgt))
      .on('click', SkyEditor.DOM.stopEvent).attr('disabled', 'disabled');
  }
  AutoCompleteInputElement.prototype.displaySuggestions = function () {};
})();
</script></apex:outputPanel></td><td  >
<apex:actionStatus id="Component653_Status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
</td></tr>
</table></apex:actionRegion><apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.SEOChange__c.fields.OrderItem__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component646"  style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.SEOChange__c.fields.ProductName2__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#0000FF;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component654"    value="{!Component644_item.record.ProductName2__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.SEOChange__c.fields.ProductName2__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component647"  style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.SEOChange__c.fields.Amount2__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#0000FF;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component657"    value="{!Component644_item.record.Amount2__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="契約金額"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component702"  style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.SEOChange__c.fields.CancelableAmount__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#0000FF;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component703"    value="{!Component644_item.record.CancelableAmount__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.SEOChange__c.fields.CancelableAmount__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component693"  style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.SEOChange__c.fields.Item2_ServiceDate__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#0000FF;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component694"    value="{!Component644_item.record.Item2_ServiceDate__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.SEOChange__c.fields.Item2_ServiceDate__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component692"  style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.SEOChange__c.fields.Item2_EndData__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#0000FF;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component695"    value="{!Component644_item.record.Item2_EndData__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.SEOChange__c.fields.Item2_EndData__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component650"  style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.SEOChange__c.fields.KeywordType1__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component659"    value="{!Component644_item.record.KeywordType1__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.SEOChange__c.fields.KeywordType1__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component662"  style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.SEOChange__c.fields.Keyword2__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component663"    value="{!Component644_item.record.Keyword2__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="キーワード"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component651"  style="color:#000000;text-align:left;vertical-align:middle;height:30px;"   rendered="{!$ObjectType.SEOChange__c.fields.URL2__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component660"    value="{!Component644_item.record.URL2__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="URL"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column></apex:pageBlockTable>

<script type="text/javascript">
(function () {
if(jQuery("table[id$='Component644_table'] tbody tr").length > 0){
	var table, sortOptions, toolbox, filterOptions, pager, pagerOptions;
	table = document.getElementById("Component644_table") || document.getElementById("{!$Component.Component644_table}");
	sortOptions = {headers: { 0:{sorter: false}, 1:{sorter: false}, 2:{sorter: "text"}, 3:{sorter: "text"}, 4:{sorter: "currency"}, 5:{sorter: "currency"}, 6:{sorter: "Date"}, 7:{sorter: "Date"}, 8:{sorter: "text"}, 9:{sorter: "text"}, 10:{sorter: "text"}}};
	filterOptions = {inlineFilter: {}};
	SkyEditor.TableSorter.initialize(table, {
		rowsPerRecord: 1,
		sort: sortOptions,
		filter: filterOptions,
		pager: pagerOptions
	});
}
})();
</script>
</apex:outputPanel><apex:outputPanel id="Component644_table_mirror" style="display:none;">
<apex:actionRegion >
	<apex:repeat rows="500" value="{! Component644.items}" var="Component644_table_mirrorFormItem">
		<apex:inputCheckbox id="BulkSelectCheckbox" styleClass="BulkSelectCheckbox" value="{! Component644_table_mirrorFormItem.selected}" />
	</apex:repeat>
	<apex:commandButton id="Component644_table_mirrorFormButton" value="Send" rerender="Component644_table_mirror" oncomplete="jQuery(SkyEditor.reSubmitTarget['{! $Component.Component644_table_mirrorFormButton}']).click();"/>
</apex:actionRegion>
</apex:outputPanel>
<apex:inputTextArea id="Component644_hiddenValue" value="{!Component644.hiddenValue}" style="display:none;" rendered="{!$ObjectType.SEOChange__c.createable && $ObjectType.SEOChange__c.fields.sinsei__c.createable}"></apex:inputTextArea>
<apex:commandButton id="Component644_importByJSON" action="{!Component644.importByJSON}" style="display:none;" reRender="Component644" rendered="{!$ObjectType.SEOChange__c.createable && $ObjectType.SEOChange__c.fields.sinsei__c.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('Component644');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=Component644]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
<apex:outputPanel id="Component419_Wrapper">
<apex:outputPanel >
<table  border="1" cellpadding="0" cellspacing="0" columnCount="1" columnsWidth="115" id="Component419" rowsHeight="32"  style="width:115px;border-collapse:collapse;border:1px solid #FFFFFF;">
<tr  >
<td  id="Component420"  style="width:113px;height:30px;text-align:left;vertical-align:top;border:1px none #FFFFFF;">
&nbsp;</td></tr></table>
</apex:outputPanel>
</apex:outputPanel><apex:outputPanel id="Component664_Wrapper" styleClass="columns3"  >
<apex:pageBlockSection collapsible="false" columns="3" id="Component664" showHeader="true" title="サポート入力欄" >
<apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.CustomObject1__c.fields.ManualSetting_CancelTotalAmount__c.accessible,$ObjectType.CustomObject1__c.fields.ManualSetting_CancelTotalAmount__c.inlineHelpText,null)}" id="Component674"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component674}');}">
<apex:outputLabel escape="true" id="Component672" rendered="{!$ObjectType.CustomObject1__c.fields.ManualSetting_CancelTotalAmount__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.ManualSetting_CancelTotalAmount__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component672}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component673" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.ManualSetting_CancelTotalAmount__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck1__c.accessible,$ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck1__c.inlineHelpText,null)}" id="Component680"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component680}');}">
<apex:outputLabel escape="true" id="Component678" rendered="{!$ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck1__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component678}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component679" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Skip_OrderItemCheck1__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck3__c.accessible,$ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck3__c.inlineHelpText,null)}" id="Component686"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component686}');}">
<apex:outputLabel escape="true" id="Component684" rendered="{!$ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck3__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck3__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component684}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component685" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Skip_OrderItemCheck3__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.CustomObject1__c.fields.ManualSetting_CancelMonthRequestAmount__c.accessible,$ObjectType.CustomObject1__c.fields.ManualSetting_CancelMonthRequestAmount__c.inlineHelpText,null)}" id="Component677"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component677}');}">
<apex:outputLabel escape="true" id="Component675" rendered="{!$ObjectType.CustomObject1__c.fields.ManualSetting_CancelMonthRequestAmount__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.ManualSetting_CancelMonthRequestAmount__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component675}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component676" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.ManualSetting_CancelMonthRequestAmount__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck2__c.accessible,$ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck2__c.inlineHelpText,null)}" id="Component683"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component683}');}">
<apex:outputLabel escape="true" id="Component681" rendered="{!$ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck2__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck2__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component681}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component682" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Skip_OrderItemCheck2__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem><apex:pageBlockSectionItem labelStyleClass="sve_pbSectionItem"  helpText="{!IF($ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck4__c.accessible,$ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck4__c.inlineHelpText,null)}" id="Component689"   onLabelclick="if(SkyEditor.isAndroid){SkyEditor.touchToolTip('{!$Component.Component689}');}">
<apex:outputLabel escape="true" id="Component687" rendered="{!$ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck4__c.accessible}"  style="width:100px;" value="{!$ObjectType.CustomObject1__c.fields.Skip_OrderItemCheck4__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component687}');"/>
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component688" onblur="skyeditor_onBlur(this, 'pink')" onfocus="skyeditor_onFocus(this, 'pink')"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!record.Skip_OrderItemCheck4__c}">
</apex:inputField>
</apex:outputPanel>
 </apex:pageBlockSectionItem></apex:pageBlockSection>
<script type="text/javascript">
	decorateSectionHeader('Component664', {"isFirstSection":false,"isMarginRemove":false});
	if(SkyEditor.isSalesforce1()){
		var imgUrl = "{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/helpimg.png')}"
		SkyEditor.sveHelpImageForSalesforce1(imgUrl, jQuery('.sve_pbSectionItem .helpButton img.helpOrb'));
	}
</script></apex:outputPanel></apex:pageBlock>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >

<apex:outputPanel styleclass="" style="" >
<apex:relatedList id="Component143" rendered="{!$ObjectType.CombinedAttachment.fields.ParentId.accessible}" list="CombinedAttachments" pageSize="5"  />
<script type="text/javascript">
	var id = "{!$Component.Component143}";
	SkyEditor.s1_relatedList(id, 'CombinedAttachments'); 
</script>
</apex:outputPanel>
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>