<apex:page standardController="contract_products__c"  extensions="SVE_contract_products"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="{!p_standardStylesheets}" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/31.0/connection.js"></script>
<script src="/soap/ajax/31.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "contract_products__c";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<!--[if IE 9 ]> 
<style>
.dataTableSet {margin-bottom:auto;}
</style><![endif]--> </head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.tablesorter.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/addons/pager/jquery.tablesorter.pager.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/tableSortPageingSetting.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/js/jquery.layout.min.js')}" />
<script type="text/javascript">
jQuery(document).ready(function(){
SkyEditor.searchConditionFromTo = getDateFieldsValue();
SkyEditor.searchConditionItem = getSearchItemsValue();
});
SkyEditor.defaultConditionObj = {"Component6":"","Component8":"","Component10":"","Component12":"","Component16":"","Component82":"","Component84":""};

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/skyeditor2_searchTemplate.css')}"/>
<apex:form id="sve_form1" styleClass="sve_form1"  >
<div id="saveDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="saveDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><input type="text" id="conditionName" size="20" /></td></tr>
        <tr><td colspan="2" style="text-align:center;"><input type="button" id="conditionSave" value="{!Label.SaveConditionButtonSave}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<div id="readDialog" style="display:none;">
    <table style="font-size:small;">
        <tr><td id="readDialogConditionNameLabel">{!Label.ConditionLabelName}</td><td><select id="searchConditionList" /></td><td><input type="button" id="deleteCondition" value="{!Label.ReadConditionButtonDelete}" /></td></tr>
        <tr><td colspan="3"><input type="button" id="setCondition" value="{!Label.ReadConditionSetConditions}" /></td></tr>
    </table>
    <div class="messageBox" style="color:#CC0000; text-align:center; margin-top:10px;"><span class="mText"></span></div>
</div>
<script type="text/javascript">
</script>
<apex:outputPanel id="Component1_Wrapper" styleClass="">
<apex:pageBlock id="Component1" mode="detail" title="検索"  >
<apex:pageBlockButtons location="bottom"  >
<apex:commandButton action="{!doSearch}" id="Component41" value="{!customSearchButtonLabel}"  style="width:66px;" /><apex:commandButton id="Component42" onclick="clearSearchConditionsForPagererender();return false;" reRender="messagesPanel" value="{!Label.canvasClearButton}"  style="width:66px;" /><script>
jQuery('.pbBottomButtons').css('margin-top',0);
</script><apex:outputText id="sve_saveAlertText" value="{!customSaveWarningLabel}"  style="color:#CC0000;font-size:1.0em;font-weight:Normal;" /></apex:pageBlockButtons><apex:pageBlockSection collapsible="true" columns="1" id="Component43" title="{!customSearchSectionTitle}"  >
<apex:facet name="header"  >
<apex:outputPanel >
<apex:outputText value="{!customSearchSectionTitle}"  /><input  class="btn" id="saveBtn" type="button" value="{!customRegistCriteriaButtonLabel}" /><input  class="btn" id="readBtn" type="button" value="{!customLoadCriteriaButtonLabel}" /></apex:outputPanel></apex:facet><apex:outputPanel id="Component44"  >
<fieldset  >
<table  border="0" cellpadding="0"  style="font-size:12px;">
<tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.contract_products__c.fields.conpany_del_del__c.createable}" >
																		<apex:outputLabel escape="true" id="Component5"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.contract_products__c.fields.conpany_del_del__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component5}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.contract_products__c.fields.conpany_del_del__c.createable}" >
		<apex:selectList id="Component6_operator" value="{!Component6_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_contract_products_c_conpany_del_del_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component6" value="{!Component6_val.conpany_del_del__c}" required="false" styleClass="conditionItem"   style="width:107px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component6}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.contract_products__c.fields.torihikishikkou_no__c.createable}" >
																		<apex:outputLabel escape="true" id="Component7"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.contract_products__c.fields.torihikishikkou_no__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component7}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.contract_products__c.fields.torihikishikkou_no__c.createable}" >
		<apex:selectList id="Component8_operator" value="{!Component8_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_contract_products_c_torihikishikkou_no_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component8" value="{!Component8_val.torihikishikkou_no__c}" required="false" styleClass="conditionItem"   style="width:107px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component8}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.contract_products__c.fields.kikan__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component9"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.contract_products__c.fields.kikan__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component9}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.contract_products__c.fields.kikan__c.accessible}" >
		<apex:selectList id="Component10_operator" value="{!Component10_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_contract_products_c_kikan_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component10" value="{!Component10_val.SkyEditor2__Date__c}" required="false" styleClass="conditionItem"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component10}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.contract_products__c.fields.kikan_end__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component11"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.contract_products__c.fields.kikan_end__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component11}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.contract_products__c.fields.kikan_end__c.accessible}" >
		<apex:selectList id="Component12_operator" value="{!Component12_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_contract_products_c_kikan_end_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component12" value="{!Component12_val.SkyEditor2__Date__c}" required="false" styleClass="conditionItem"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component12}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.contract_products__c.fields.include_tax1__c.accessible}" >
<apex:outputLabel escape="true" id="Component14"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.contract_products__c.fields.include_tax1__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component14}');"/>
</apex:outputPanel>
</td>
<td>
	<apex:outputPanel styleClass="searchDateBox"   rendered="{!$ObjectType.contract_products__c.fields.include_tax1__c.accessible}" >
		<apex:inputField id="Component13_from" value="{!Component13_from.SkyEditor2__Text__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:right;ime-mode:disabled;" />
		<label style="font-weight:bold;" class="kara">{!Label.To}&nbsp;</label>
		<apex:inputField id="Component13_to" value="{!Component13_to.SkyEditor2__Text__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:right;ime-mode:disabled;" />
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.contract_products__c.fields.pay_rule__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component15"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.contract_products__c.fields.pay_rule__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component15}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.contract_products__c.fields.pay_rule__c.accessible}" >
		<apex:selectList id="Component16_operator" value="{!Component16_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_contract_products_c_pay_rule_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component16" value="{!Component16_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component16}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.contract_products__c.fields.pay_day__c.accessible}" >
<apex:outputLabel escape="true" id="Component18"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.contract_products__c.fields.pay_day__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component18}');"/>
</apex:outputPanel>
</td>
<td>
	<apex:outputPanel styleClass="searchDateBox"   rendered="{!$ObjectType.contract_products__c.fields.pay_day__c.accessible}" >
		<apex:inputField id="Component17_from" value="{!Component17_from.SkyEditor2__Date__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:center;ime-mode:disabled;" />
		<label style="font-weight:bold;" class="kara">{!Label.To}&nbsp;</label>
		<apex:inputField id="Component17_to" value="{!Component17_to.SkyEditor2__Date__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:center;ime-mode:disabled;" />
	<label>{!Label.nullSearchLabel}</label>
	<apex:inputCheckbox id="Component17_isNull_op" value="{!Component17_isNull_op.isEnable}" required="false" style="text-align:center;" styleClass="searchDateIsNull"/>
	<script type="text/javascript">
		SkyEditor.adjustDatePicker('{!$Component.Component17_isNull_op}');
	</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.contract_products__c.fields.payday__c.accessible}" >
<apex:outputLabel escape="true" id="Component20"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.contract_products__c.fields.payday__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component20}');"/>
</apex:outputPanel>
</td>
<td>
	<apex:outputPanel styleClass="searchDateBox"   rendered="{!$ObjectType.contract_products__c.fields.payday__c.accessible}" >
		<apex:inputField id="Component19_from" value="{!Component19_from.SkyEditor2__Date__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:center;ime-mode:disabled;" />
		<label style="font-weight:bold;" class="kara">{!Label.To}&nbsp;</label>
		<apex:inputField id="Component19_to" value="{!Component19_to.SkyEditor2__Date__c}" required="false" styleClass="searchDateFieldItems"  style="width:6em;text-align:center;ime-mode:disabled;" />
	<label>{!Label.nullSearchLabel}</label>
	<apex:inputCheckbox id="Component19_isNull_op" value="{!Component19_isNull_op.isEnable}" required="false" style="text-align:center;" styleClass="searchDateIsNull"/>
	<script type="text/javascript">
		SkyEditor.adjustDatePicker('{!$Component.Component19_isNull_op}');
	</script>
	</apex:outputPanel>
</td></tr><tr  >
<td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.contract_products__c.fields.bugyo_check__c.accessible}" >
																	<apex:outputLabel escape="true" id="Component81"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.contract_products__c.fields.bugyo_check__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component81}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.contract_products__c.fields.bugyo_check__c.accessible}" >
		<apex:selectList id="Component82_operator" value="{!Component82_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_contract_products_c_bugyo_check_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component82" value="{!Component82_val.SkyEditor2__Checkbox__c}" required="false" styleClass="conditionItem"   style="color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component82}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td><td class="searchItemLabelCol">
<apex:outputPanel rendered="{!$ObjectType.contract_products__c.fields.cost_department__c.accessible}" >
																			<apex:outputLabel escape="true" id="Component83"  style="color:#000000;font-size:1.0em;font-weight:Bold;margin-left:20px;margin-right:4px;" value="{!$ObjectType.contract_products__c.fields.cost_department__c.label}" onclick="SkyEditor.touchToolTip('{!$Component.Component83}');"/>
	</apex:outputPanel>
</td>
<td class="searchItemDataCol">
	<apex:outputPanel styleClass="searchItemBox"   rendered="{!$ObjectType.contract_products__c.fields.cost_department__c.accessible}" >
		<apex:selectList id="Component84_operator" value="{!Component84_op.value}" size="1" styleClass="operatorSelect ">
			<apex:selectOptions value="{!operatorOptions_contract_products_c_cost_department_c}" />
		</apex:selectList>
		<apex:outputPanel >
			<apex:inputField id="Component84" value="{!Component84_val.SkyEditor2__Text__c}" required="false" styleClass="conditionItem"   style="width:107px;height:14px;color:#000000;font-size:1.0em;"  />
		</apex:outputPanel>
		<script type="text/javascript">
			jQuery(function(){
				var id = "{!$Component.Component84}";
				jQuery(document.getElementById(id)).change(function(event) {
					changeOperator(this.id);
				});
			});
		</script>
	</apex:outputPanel>
</td></tr></table></fieldset></apex:outputPanel></apex:pageBlockSection>
</apex:pageBlock>
</apex:outputPanel></apex:form><apex:form id="sve_form2" styleClass="sve_form2"  >
<apex:outputPanel id="Component2_Wrapper" styleClass="">
<apex:pageBlock id="Component2" mode="detail" title=" "  >
<apex:pageBlockButtons location="top"  >
<apex:commandButton action="{!doSave}" id="Component76" value="{!customSaveButtonLabel}"  style="width:50px;"   rendered="{!OR($ObjectType.contract_products__c.createable,$ObjectType.contract_products__c.updateable)}" />
</apex:pageBlockButtons><apex:outputPanel id="Component3_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="Component3" layout="block" styleClass="dataTableSet"  style="overflow:auto;">
	<apex:actionRegion >
<script>SkyEditor.selectedRecords = {};</script>
<table  class="tableOperator" id="Component3_header" >
<tr  >
<td  >
<apex:commandButton action="{!Component3.add}" id="Component3_addButton" immediate="false" onclick="if(mirrorFormSync('Component3_table','Component3_table_mirror',this)) return false;" reRender="Component3,messagesPanel" rendered="{!$ObjectType.contract_products__c.createable && Component3.items.size < 500}" value="{!customAddButtonLabel}"  >
</apex:commandButton><apex:actionStatus id="Component3_addButton_status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
</td><td  >
<apex:commandButton action="{!Component3.cloneRows}" id="Component3_cloneButton" onclick="if(!selectDelete('Component3_table'))return false;if(mirrorFormSync('Component3_table','Component3_table_mirror',this))return false;" reRender="Component3,messagesPanel" rendered="{!$ObjectType.contract_products__c.createable && Component3.items.size < 500}" value="{!label.customCloneButtonLabel}"   >
</apex:commandButton>
<apex:actionStatus id="Component3_cloneButton_status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
</td><td  >
<input  class="btn" id="Component3_bulkEditButton" onclick="jQuery('#Component3_table_editDialog').dialog('open');" type="button" value="{!label.customBulkEditButtonLabel}" /></td><td  >
<div  id="Component3__pager" layout="block" class="pager" style="margin-left:20px; text-align:center;">
 <table cellpadding="0" cellspacing="0" border="0">
 <tr>
 <td>
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/first.png')}" class="first"/>
 </td>
 <td> 
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/prev.png')}" class="prev"/>
 </td>
 <td>
 <input type="text" class="pagedisplay" readonly="readonly" />
 </td>
 <td>
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/next.png')}" class="next"/>
 </td>
 <td>
 <img src="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/3_7/css/addons/pager/icons/last.png')}" class="last"/>
 </td>
 <td>
 <select class="pagesize">
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="25">25</option>
  <option value="50">50</option>
  <option value="100">100</option>
 </select>
 </td>
 </tr>
 </table>
<script>
	if (typeof LookupHoverDetail === 'function') {
		LookupHoverDetail.prototype.show = function () {};
	}
</script>
</div></td><td  >
<input type="text" class="filterValue" placeholder="{!label.TableFilterPlaceholder}" /></td><td  >
<apex:outputPanel style="margin-left:20px;"  >
<apex:outputText value="{!rowCount}"  /><apex:outputText styleClass="recordCounter" value="{!IF(Component3.items.size >=500, (rowCountPrefix & ' ' & TEXT(Component3.items.size) & ' ' & rowCountSuffix), (':' & TEXT(Component3.items.size)))}"  /></apex:outputPanel></td></tr></table><apex:outputPanel layout="block" styleClass="tableWrapper"   >
<apex:pageBlockTable columnsWidth="30px,39px,,,,,,,,,,,,,,,," id="Component3_table" rows="500" value="{!Component3.items}" var="Component3_item"  >
<apex:column style="width:30px;" >
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:30px;display:block;" >
<apex:inputCheckbox onclick="applyChecked(event, this, 'Component3');" value="{!Component3.selected}"  >
</apex:inputCheckbox></apex:outputPanel></apex:facet><apex:inputCheckbox id="BulkSelectCheckbox" onclick="SkyEditor.MirrorForm.update('Component3_table', 'Component3_table_mirror', this);" styleClass="BulkSelectCheckbox" value="{!Component3_item.selected}"  >
</apex:inputCheckbox><script>
document.getElementById('{!$Component.BulkSelectCheckbox}').setAttribute('rid','{!Component3_item.record.Id}');
</script></apex:column><apex:column style="width:39px;" >
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="width:39px;display:block;" >
</apex:outputPanel></apex:facet><apex:commandButton action="{!Component3_item.doDeleteItem}" immediate="false" onclick="if(!confirm('{!Label.customDeleteWarningLabel}')){return false;}" reRender="Component3,messagesPanel" value="{!customDeleteRowButtonLabel}"    rendered="{!OR($ObjectType.contract_products__c.deletable,AND($ObjectType.contract_products__c.accessible,ISNULL(Component3_item.record.Id)))}" /></apex:column><apex:column id="Component47"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.torihikishikkou_no__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:75px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component46"    value="{!Component3_item.record.torihikishikkou_no__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="取引執行番号"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component49"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.Name.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:75px;color:#000000;font-size:1.0em;font-weight:Normal;text-decoration:underline;display:block;"  onclick="jQuery(this).find('a').attr('target','_blank')	">
			<apex:outputLink value="/{!Component3_item.record.id}"
		 target="_blank" 		onclick="return SkyEditor.navigateToSobjectByNameLink('{!Component3_item.record.id}',true);" >
							<apex:outputField id="Component48"    value="{!Component3_item.record.Name}" />
			</apex:outputLink>
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="契約商品名"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component55"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.conpany_del_del__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:100px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component54"    value="{!Component3_item.record.conpany_del_del__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.contract_products__c.fields.conpany_del_del__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component57"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.denpyo__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component56" required="false"  style="width:49px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component3_item.record.denpyo__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.contract_products__c.fields.denpyo__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component59"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.kikan__c.accessible}" >
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component58" required="false"  style="width:74px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component3_item.record.kikan__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="計上月"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component79"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.payday__c.accessible}" >
<apex:outputPanel styleclass=" nonDisplayDateFormat" style="" >
<apex:inputField id="Component78" required="false"  style="width:74px;height:14px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component3_item.record.payday__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.contract_products__c.fields.payday__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component69"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.pay_day__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:60px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component68"    value="{!Component3_item.record.pay_day__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.contract_products__c.fields.pay_day__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component61"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.include_tax1__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:60px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component60"    value="{!Component3_item.record.include_tax1__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.contract_products__c.fields.include_tax1__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component71"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.pay_rule__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:60px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component70"    value="{!Component3_item.record.pay_rule__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.contract_products__c.fields.pay_rule__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component86"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.cost_department__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:90px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component85"    value="{!Component3_item.record.cost_department__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.contract_products__c.fields.cost_department__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component88"  style="color:#000000;text-align:center;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.bugyo_check__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component87" required="false"  style="color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component3_item.record.bugyo_check__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="伝票フラグ"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component90"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.left_bugyo_maintitle__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component89" required="false"  style="width:94px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component3_item.record.left_bugyo_maintitle__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.contract_products__c.fields.left_bugyo_maintitle__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component92"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.left_bugyo_subtitle__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component91" required="false"  style="width:94px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component3_item.record.left_bugyo_subtitle__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.contract_products__c.fields.left_bugyo_subtitle__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component94"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.right_bugyo_maintitle__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component93" required="false"  style="width:94px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component3_item.record.right_bugyo_maintitle__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.contract_products__c.fields.right_bugyo_maintitle__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component96"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.right_bugyo_subtitle__c.accessible}" >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component95" required="false"  style="width:94px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component3_item.record.right_bugyo_subtitle__c}">
</apex:inputField>
</apex:outputPanel>
 <apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.contract_products__c.fields.right_bugyo_subtitle__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column><apex:column id="Component75"  style="color:#000000;text-align:left;vertical-align:middle;"   rendered="{!$ObjectType.contract_products__c.fields.order_products__c.accessible}" >
<apex:outputPanel styleclass="fieldwrapper " style="width:150px;color:#000000;font-size:1.0em;font-weight:Normal;display:block;" >
<apex:outputField id="Component74"    value="{!Component3_item.record.order_products__c}" />
</apex:outputPanel>
<apex:facet name="header"  >
<apex:outputPanel layout="inline"  style="text-align:left;display:block;" >
<apex:outputText value="{!$ObjectType.contract_products__c.fields.order_products__c.label}"  style="color:#000000;" /></apex:outputPanel></apex:facet></apex:column></apex:pageBlockTable>

<script type="text/javascript">
(function () {
if(jQuery("table[id$='Component3_table'] tbody tr").length > 0){
	var table, sortOptions, toolbox, filterOptions, pager, pagerOptions;
	table = document.getElementById("Component3_table") || document.getElementById("{!$Component.Component3_table}");
	sortOptions = {headers: { 0:{sorter: false}, 1:{sorter: false}, 2:{sorter: "text"}, 3:{sorter: "text"}, 4:{sorter: "text"}, 5:{sorter: "text"}, 6:{sorter: "Date"}, 7:{sorter: "Date"}, 8:{sorter: "Date"}, 9:{sorter: "currency"}, 10:{sorter: "text"}, 11:{sorter: "text"}, 12:{sorter: "text"}, 13:{sorter: "text"}, 14:{sorter: "text"}, 15:{sorter: "text"}, 16:{sorter: "text"}, 17:{sorter: "text"}}};
	filterOptions = {inlineFilter: {}};
	pager = document.getElementById("Component3__pager");
	pagerOptions = {
		container: jQuery(pager),
		size: 100
	};
	SkyEditor.TableSorter.initialize(table, {
		rowsPerRecord: 1,
		sort: sortOptions,
		filter: filterOptions,
		pager: pagerOptions
	});
}
})();
</script>
</apex:outputPanel><apex:outputPanel id="Component3_table_mirror" style="display:none;">
<apex:actionRegion >
	<apex:repeat rows="500" value="{! Component3.items}" var="Component3_table_mirrorFormItem">
		<apex:inputCheckbox id="BulkSelectCheckbox" styleClass="BulkSelectCheckbox" value="{! Component3_table_mirrorFormItem.selected}" />
	</apex:repeat>
	<apex:commandButton id="Component3_table_mirrorFormButton" value="Send" rerender="Component3_table_mirror" oncomplete="jQuery(SkyEditor.reSubmitTarget['{! $Component.Component3_table_mirrorFormButton}']).click();"/>
</apex:actionRegion>
</apex:outputPanel>
<script>
ObscureUnusedCondition();
</script><apex:inputTextArea id="Component3_hiddenValue" value="{!Component3.hiddenValue}" style="display:none;" rendered="{!$ObjectType.contract_products__c.createable}"></apex:inputTextArea>
<apex:commandButton id="Component3_importByJSON" action="{!Component3.importByJSON}" style="display:none;" reRender="Component3" rendered="{!$ObjectType.contract_products__c.createable}" />
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('Component3');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=Component3]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
</apex:pageBlock>
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
<div style="border:solid 1px #CCC; display:none;" id="Component3_table_editDialog">
  <apex:form id="Component104">
    <apex:panelGrid columns="2">
      <apex:outputLabel >{!label.customFieldSelectionLabel}</apex:outputLabel>
      <apex:actionRegion >
        <apex:selectList id="Component3_table_selecter" value="{!Component3_table_selectval}" size="1">
          <apex:selectOption itemValue="" itemLabel="{!label.customSelectOptionNoneLabel}" />
          <apex:selectOption itemValue="Component56_dedit" itemLabel="{!$ObjectType.contract_products__c.fields.denpyo__c.label}" rendered="{!AND($ObjectType.contract_products__c.fields.denpyo__c.createable)}" />
          <apex:selectOption itemValue="Component58_dedit" itemLabel="{!$ObjectType.contract_products__c.fields.kikan__c.label}" rendered="{!AND($ObjectType.contract_products__c.fields.kikan__c.createable)}" />
          <apex:selectOption itemValue="Component78_dedit" itemLabel="{!$ObjectType.contract_products__c.fields.payday__c.label}" rendered="{!AND($ObjectType.contract_products__c.fields.payday__c.createable)}" />
          <apex:selectOption itemValue="Component87_dedit" itemLabel="{!$ObjectType.contract_products__c.fields.bugyo_check__c.label}" rendered="{!AND($ObjectType.contract_products__c.fields.bugyo_check__c.createable)}" />
          <apex:selectOption itemValue="Component89_dedit" itemLabel="{!$ObjectType.contract_products__c.fields.left_bugyo_maintitle__c.label}" rendered="{!AND($ObjectType.contract_products__c.fields.left_bugyo_maintitle__c.createable)}" />
          <apex:selectOption itemValue="Component91_dedit" itemLabel="{!$ObjectType.contract_products__c.fields.left_bugyo_subtitle__c.label}" rendered="{!AND($ObjectType.contract_products__c.fields.left_bugyo_subtitle__c.createable)}" />
          <apex:selectOption itemValue="Component93_dedit" itemLabel="{!$ObjectType.contract_products__c.fields.right_bugyo_maintitle__c.label}" rendered="{!AND($ObjectType.contract_products__c.fields.right_bugyo_maintitle__c.createable)}" />
          <apex:selectOption itemValue="Component95_dedit" itemLabel="{!$ObjectType.contract_products__c.fields.right_bugyo_subtitle__c.label}" rendered="{!AND($ObjectType.contract_products__c.fields.right_bugyo_subtitle__c.createable)}" />
        </apex:selectList>
      </apex:actionRegion>
      <apex:outputLabel >{!label.customValueLabel}</apex:outputLabel>
      <apex:outputPanel >
        <div id="Component56_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component56_dedit" value="{!Component3_table_Conversion.denpyo__c}" rendered="{!AND($ObjectType.contract_products__c.fields.denpyo__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
        <div id="Component58_dedit_div">
          <apex:outputPanel >
            <apex:OutputPanel rendered="{!AND($ObjectType.contract_products__c.fields.kikan__c.createable)}">
              <apex:inputField id="Component58_dedit" value="{!Component3_table_Conversion.kikan__c}" required="false" />
              <script type="text/script">jQuery("[id$='Component58_dedit']").removeAttr("onfocus");jQuery("input[id$='Component58_dedit']")[0].onfocus = function(){};</script>
            </apex:OutputPanel>
          </apex:outputPanel>
        </div>
        <div id="Component78_dedit_div">
          <apex:outputPanel >
            <apex:OutputPanel rendered="{!AND($ObjectType.contract_products__c.fields.payday__c.createable)}">
              <apex:inputField id="Component78_dedit" value="{!Component3_table_Conversion.payday__c}" required="false" />
              <script type="text/script">jQuery("[id$='Component78_dedit']").removeAttr("onfocus");jQuery("input[id$='Component78_dedit']")[0].onfocus = function(){};</script>
            </apex:OutputPanel>
          </apex:outputPanel>
        </div>
        <div id="Component87_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component87_dedit" value="{!Component3_table_Conversion.bugyo_check__c}" rendered="{!AND($ObjectType.contract_products__c.fields.bugyo_check__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
        <div id="Component89_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component89_dedit" value="{!Component3_table_Conversion.left_bugyo_maintitle__c}" rendered="{!AND($ObjectType.contract_products__c.fields.left_bugyo_maintitle__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
        <div id="Component91_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component91_dedit" value="{!Component3_table_Conversion.left_bugyo_subtitle__c}" rendered="{!AND($ObjectType.contract_products__c.fields.left_bugyo_subtitle__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
        <div id="Component93_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component93_dedit" value="{!Component3_table_Conversion.right_bugyo_maintitle__c}" rendered="{!AND($ObjectType.contract_products__c.fields.right_bugyo_maintitle__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
        <div id="Component95_dedit_div">
          <apex:outputPanel >
            <apex:inputField id="Component95_dedit" value="{!Component3_table_Conversion.right_bugyo_subtitle__c}" rendered="{!AND($ObjectType.contract_products__c.fields.right_bugyo_subtitle__c.createable)}" required="false" />
          </apex:outputPanel>
        </div>
      </apex:outputPanel>
    </apex:panelGrid>
    <apex:outputPanel layout="block" style="margin-top:20px;text-align:center;">
      <input type="button" class="btn" value="{!label.customEditButtonLabel}" onclick="setTableValue('Component3_table','Component3_table_editDialog')" />
      <input type="button" class="btn" value="{!label.customBulkEditWindowCloseButtonLabel}" onclick="closeBulkEditDialog('Component3_table','Component3_table_editDialog')" />
    </apex:outputPanel>
  </apex:form>
</div><script type="text/javascript">jQuery('#Component3_table_editDialog').dialog({autoOpen: false});openBulkEditDialog('Component3_table','Component3_table_editDialog');
jQuery(escapeID('#{!$Component.Component104.Component3_table_selecter}')).change(function() {
    var divs = jQuery('#Component56_dedit_div,#Component58_dedit_div,#Component78_dedit_div,#Component87_dedit_div,#Component89_dedit_div,#Component91_dedit_div,#Component93_dedit_div,#Component95_dedit_div')
 
    if (divs.length){
        divs.hide();
    }else{
        return;
   }
    var selectItem = jQuery('#'+jQuery(this).find('option:selected').attr('value')+'_div');
	   if (jQuery(selectItem).length){
    selectItem.show();
    }
}).change();</script><script type="text/javascript"></script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>