<apex:page standardController="Opportunity"  extensions="syoudan_ContactPerson_view"  applyBodyTag="{!p_applyHtmlTag}" applyHtmlTag="{!p_applyHtmlTag}" cache="{!p_cache}" contentType="{!p_contentType}" docType="{!p_docType}" expires="{!p_expires}" language="{!p_language}" renderAs="{!renderAs}" rendered="{!p_rendered}" setup="{!p_setup}" showChat="{!p_showChat}" showHeader="{!p_showHeader}" sidebar="{!p_sidebar}" standardStylesheets="{!p_standardStylesheets}" wizard="{!p_wizard}">
<head>
<script src="/soap/ajax/42.0/connection.js"></script>
<script src="/soap/ajax/42.0/apex.js"></script>
<script type="text/javascript">
	jQuery.noConflict();
	beenFocused = true;
	
	if (typeof SkyEditor === "undefined") {
		SkyEditor = {};
	}
	SkyEditor.messages = {
		REQUIRED_FIELD_MISSING: "{!Label.RequiredFieldMissing}",
		UNDOCUMENTED: "{!Label.Undocumented}",
		DELETEERROR: "{!Label.DeleteError}",
		SAVESUCCESS: "{!Label.SaveSuccess}",
		CONFIRMMESSAGE: "{!Label.ConfirmMessage}",
		UPDATEMESSAGE: "{!Label.UpdateMessage}",
		CONDITIONSEARCHERROR: "{!Label.ConditionSearchError}",
		INVALIDSESSION: "{!Label.InvalidSession}",
		ERRORMESSAG: "{!Label.ErrorMessage}",
		NOTSELECTERROR: "{!Label.NotSelectError}",
		NOTROWSELECTERROR: "{!Label.NotRowSelectError}",
		DELETECONFIRM: "{!Label.DeleteConfirm}",
		BULKEDITDIALOGTITLE: "{!Label.customBulkEditButtonLabel}",
		REPORTOBJECTNOTFOUND: "{!Label.ReportObjectNotFound}",
		DATEFORMATERROE: "{!Label.DateFormatError}",
		NUMBERFORMATERROE: "{!Label.NumberFormatError}",
		NUMBERVALUEENPTY: "{!Label.NumberValueEmpty}",
		CANVASCHECK: "{!Label.CanvasCheck}",
		REWRITECHECK: "{!Label.RewriteCheck}",
		QUERY_PAGING_CONFIRMATION: "{!Label.QueryPagingConfirmation}",
		PAGE_NOT_SUPPORTED_ON_S1: "{!JSENCODE(Label.PageNotSupportedOnS1)}",
		PRICEBOOK_CHANGE:"{!JSENCODE(Label.pricebookChange)}",
		LIGHT_DATATABLE_FILTER:"{!JSENCODE(Label.TableFilterPlaceholder)}",
		LIGHT_DATATABLE_DETAIL:"{!JSENCODE(Label.showDetailPage)}",
		LIGHT_DATATABLE_DELETE:"{!JSENCODE(Label.customDeleteButtonLabel)}",
		LIGHT_DATATABLE_ADD:"{!JSENCODE(Label.customAddButtonLabel)}",
		LIGHT_DATATABLE_ROWCOUNT:"{!JSENCODE(Label.rowCount)}",
		REMOTEDATAERROR:"{!JSENCODE(Label.RemoteDataError)}",
		BULKEDITNOEDITABLEFIELD:"{!Label.BulkEditNoEditableFieldMessage}"
	};
	SkyEditor.labels = {
		CANVASTITLE: "{!Label.CanvasTitle}",
		CheckAllText: "{!Label.CheckAllText}",
		UnCheckAllText: "{!Label.UnCheckAllText}",
		NoneSelectedText: "{!Label.NoneSelectedText}",
		SelectedText: "{!Label.SelectedText}",
 		OptionLabelNon: "{!Label.None}",
		SelectButtonLabel: "{!label.SelectRecord}",
		SearchButtonLabel: "{!customSearchButtonLabel}",
		closeButton:"{!label.customBulkEditWindowCloseButtonLabel}",
		cancelButton:"{!customCancelButtonLabel}"
	};
		
	SkyEditor.SessionId = "{!$Api.Session_ID}";
	SkyEditor.CurrentPageName = "{!$CurrentPage.Name}";
	SkyEditor.UserId = "{!$User.Id}";
	SkyEditor.UserLanguage = "{!userLanguage}";
	SkyEditor.namespace = "SkyEditor2";
	SkyEditor.PageMode = "{!mode}";
	SkyEditor.RecordId = "{!record.Id}";
	SkyEditor.mainObject = "Opportunity";
	SkyEditor.setProperty && SkyEditor.setProperty("labels.Picklist.none", "{!label.none}");
	SkyEditor.canvasSetting = {};
	SkyEditor.originCanvasSetting = {};
	SkyEditor.penImages = {
							"2":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen2.gif')}",
							"3":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen3.gif')}",
							"4":"{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/images/pen4.gif')}"
						  };
	SkyEditor.canvasFlag = {};
	SkyEditor.isShowDetailPanel = {!sve_detailPageName != null};
	SkyEditor.isPageInit = {!isPageInit};
	
	SkyEditor.searchConditionFromTo="";
	SkyEditor.searchConditionItem="";
	SkyEditor.Mod.Sidebar.ModifiedPinMethod();
	sforce.connection.sessionId = "{!$Api.SESSION_ID}";
	SkyEditor.afterScriptLoaded();
</script>


<style>
{!HTMLENCODE(pdfStyleString)}
</style><style>
.Component88_header th{ 
height:22px; padding: 0px !important;}

</style><!--[if IE 9 ]> 
<style>
.dataTableSet {margin-bottom:auto;}
</style><![endif]--> </head>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery-ui-1.8.19.custom.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_tablesorter.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/jquery.multiselect.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/skyeditor2_styles.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/css/pure-grids-nr-min.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'json2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-1.7.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery-ui-1.8.19.custom.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.math.1.0.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.tablesorter.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/addons/pager/jquery.tablesorter.pager.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/tableSortPageingSetting.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.bgiframe.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.multiselect.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/skyeditor2_core.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SkyEditor2__skyEditor2, 'skyeditor2/9_0/js/jquery.layout.min.js')}" />
<script type="text/javascript">

</script>
<script type="text/javascript" import="true">

</script>

<apex:outputPanel id="messagesPanel">
<apex:pageMessages id="sveErrMsgs" rendered="{!errorMessages == ''}"/>
<apex:pageMessage summary="{!errorMessages}" severity="error" strength="2" escape="false" rendered="{!errorMessages != ''}"/>
<apex:pageMessage summary="{!infoMessages}" severity="info" strength="2" escape="false" rendered="{!infoMessages != ''}"/>
</apex:outputPanel>

<img src="/img/loading32.gif" id="SkyeditorLoagingImage" style="display:none;"/>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;" ><tr><td>
<apex:outputPanel rendered="{! NOT(hidePageBody)}" id="pagePanel" styleClass="base" layout="block">
<apex:outputPanel style="position:relative;" >
</apex:outputPanel><apex:form id="sve_form1" styleClass="sve_form1"  >
<apex:outputPanel id="Component88_Wrapper" layout="{!IF(p_isPdf==true,'block','')}" style="">
<apex:outputPanel id="Component88" layout="block" styleClass="dataTableSet"  style="overflow:auto;width:Auto;">
	<apex:actionRegion >


<table  class="tableOperator" id="Component88_header" >
<tr  >
<td  >
<apex:commandButton action="{!Component88.add}" id="Component88_addButton" immediate="false" onclick="if(mirrorFormSync('Component88_table','Component88_table_mirror',this)) return false;" reRender="Component88,messagesPanel" rendered="{!$ObjectType.AccountCustomer__c.createable && Component88.items.size < 500 && $ObjectType.AccountCustomer__c.fields.Opportunity_customer__c.createable}" value="{!customAddButtonLabel}"  >
</apex:commandButton><apex:actionStatus id="Component88_addButton_status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
</td><td  >
<apex:outputPanel style="margin-left:20px;"  >
<apex:outputText value="{!rowCount}"  /><apex:outputText styleClass="recordCounter" value="{!IF(Component88.items.size >=500, (rowCountPrefix & ' ' & TEXT(Component88.items.size) & ' ' & rowCountSuffix), (':' & TEXT(Component88.items.size)))}"  /></apex:outputPanel></td></tr></table><apex:outputPanel layout="block" styleClass="tableWrapper"   >
<table  border="1" class="pageblockTableStyle list tablesorter" id="Component88_table" onRowMouseOut="skyeditorRowOut(this)" onRowMouseOver="skyeditorRowOver(this)" var="Component88_item" >
<!-- this is a multirowtable -->
<thead class="rich-table-thead Component88_header">
	<tr >
        		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    				    			    				<th  colspan="1" rowspan="2" >
</th>							        	    				    			    				<th  colspan="1" id="Component89" rowspan="2"  style="width:136px;color:#000000;vertical-align:middle;">
<apex:outputPanel layout="block"  style="width:136px;text-align:left;vertical-align:middle;display:block;" >
<apex:outputText rendered="{!$ObjectType.AccountCustomer__c.fields.CustomerName__c.accessible}" value="{!$ObjectType.AccountCustomer__c.fields.CustomerName__c.label}"  style="color:#000000;" /></apex:outputPanel></th>							        	    				    			    				<th  colspan="1" id="Component91" rowspan="2"  style="width:113px;color:#000000;vertical-align:middle;">
<apex:outputPanel layout="block"  style="width:113px;text-align:left;vertical-align:middle;display:block;" >
<apex:outputText rendered="{!$ObjectType.AccountCustomer__c.fields.account__c.accessible}" value="{!$ObjectType.AccountCustomer__c.fields.account__c.label}"  style="color:#000000;" /></apex:outputPanel></th>							        	    				    			    				<th  colspan="1" id="Component93" rowspan="2"  style="width:113px;color:#000000;vertical-align:middle;">
<apex:outputPanel layout="block"  style="width:113px;text-align:left;vertical-align:middle;display:block;" >
<apex:outputText rendered="{!$ObjectType.AccountCustomer__c.fields.department__c.accessible}" value="{!$ObjectType.AccountCustomer__c.fields.department__c.label}"  style="color:#000000;" /></apex:outputPanel></th>							        	    				    			    				<th  colspan="1" id="Component95" rowspan="2"  style="width:113px;color:#000000;vertical-align:middle;">
<apex:outputPanel layout="block"  style="width:113px;text-align:left;vertical-align:middle;display:block;" >
<apex:outputText rendered="{!$ObjectType.AccountCustomer__c.fields.Title__c.accessible}" value="{!$ObjectType.AccountCustomer__c.fields.Title__c.label}"  style="color:#000000;" /></apex:outputPanel></th>							        	    				    			    				<th  colspan="1" id="Component97" rowspan="2"  style="width:113px;color:#000000;vertical-align:middle;">
<apex:outputPanel layout="block"  style="width:113px;text-align:left;vertical-align:middle;display:block;" >
<apex:outputText rendered="{!$ObjectType.AccountCustomer__c.fields.yakuwari__c.accessible}" value="{!$ObjectType.AccountCustomer__c.fields.yakuwari__c.label}"  style="color:#000000;" /></apex:outputPanel></th>							        	    				    			    				<th  colspan="1" id="Component99" rowspan="2"  style="width:113px;color:#000000;vertical-align:middle;">
<apex:outputPanel layout="block"  style="width:113px;text-align:left;vertical-align:middle;display:block;" >
<apex:outputText rendered="{!$ObjectType.AccountCustomer__c.fields.Mail__c.accessible}" value="{!$ObjectType.AccountCustomer__c.fields.Mail__c.label}"  style="color:#000000;" /></apex:outputPanel></th>							        	    				    			    				<th  colspan="1" id="Component101" rowspan="1"  style="width:116px;color:#000000;vertical-align:middle;">
<apex:outputPanel layout="block"  style="width:116px;text-align:left;vertical-align:middle;display:block;" >
<apex:outputText rendered="{!$ObjectType.AccountCustomer__c.fields.Report1__c.accessible}" value="{!$ObjectType.AccountCustomer__c.fields.Report1__c.label}"  style="color:#000000;" /></apex:outputPanel></th>							        	    				    			    				<th  colspan="1" id="Component103" rowspan="1"  style="width:147px;color:#000000;vertical-align:middle;">
<apex:outputPanel layout="block"  style="width:147px;text-align:left;vertical-align:middle;display:block;" >
<apex:outputText rendered="{!$ObjectType.AccountCustomer__c.fields.PartnerReport__c.accessible}" value="{!$ObjectType.AccountCustomer__c.fields.PartnerReport__c.label}"  style="color:#000000;" /></apex:outputPanel></th>							        	    				    						        	    				    						        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        		</tr>
	<tr >
        		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    				    						        	    				    						        	    				    						        	    				    						        	    				    						        	    				    						        	    				    						        	    				    						        	    				    						        	    				    			    				<th  colspan="1" id="Component102" rowspan="1"  style="width:116px;color:#000000;vertical-align:middle;">
<apex:outputPanel layout="block"  style="width:116px;text-align:left;vertical-align:middle;display:block;" >
<apex:outputText rendered="{!$ObjectType.AccountCustomer__c.fields.ReportSend1__c.accessible}" value="{!$ObjectType.AccountCustomer__c.fields.ReportSend1__c.label}"  style="color:#000000;" /></apex:outputPanel></th>							        	    				    			    				<th  colspan="1" id="Component104" rowspan="1"  style="width:147px;color:#000000;vertical-align:middle;">
<apex:outputPanel layout="block"  style="width:147px;text-align:left;vertical-align:middle;display:block;" >
<apex:outputText rendered="{!$ObjectType.AccountCustomer__c.fields.PartnerReport_c__c.accessible}" value="{!$ObjectType.AccountCustomer__c.fields.PartnerReport_c__c.label}"  style="color:#000000;" /></apex:outputPanel></th>							        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        		</tr>
</thead>
<tbody class="Component88_row" >
<apex:repeat value="{!Component88.items}" var="Component88_item">
	<tr>
        		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				    								<td  colspan="1" rowspan="2"  style="width:41px;">
	<!-- this is a multirowtableColumn -->
<apex:commandButton action="{!Component88_item.remove}" immediate="false" reRender="Component88,messagesPanel" value="{!customDeleteRowButtonLabel}"    rendered="{!OR($ObjectType.AccountCustomer__c.deletable,AND($ObjectType.AccountCustomer__c.accessible,ISNULL(Component88_item.record.Id)))}" /></td>							        	    				    								<td  colspan="1" rowspan="2"  style="text-align:left;vertical-align:middle;height:22px;">
	<!-- this is a multirowtableColumn -->
<apex:actionRegion >
<table  border="0" cellpadding="0" cellspacing="0" class="wrapperTable" >
<tr>
<td  class="sveWrapperTableMainTd" >
<apex:outputPanel id="Component150"  >
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component117" required="false"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component88_item.record.CustomerName__c}">
<apex:actionSupport action="{!Component88_item.loadReferenceValues_Component117}" event="onchange" oncomplete="filterListSibling(jQuery('[id$=Component108]'),jQuery(document.getElementById('{!$Component.Component117}'))).change();SkyEditor.afterLookup('Component117');filterListSibling(jQuery('[id$=Component109]'),jQuery(document.getElementById('{!$Component.Component117}'))).change();SkyEditor.afterLookup('Component117');filterListSibling(jQuery('[id$=Component110]'),jQuery(document.getElementById('{!$Component.Component117}'))).change();SkyEditor.afterLookup('Component117');filterListSibling(jQuery('[id$=Component112]'),jQuery(document.getElementById('{!$Component.Component117}'))).change();SkyEditor.afterLookup('Component117');enableFieldItems();" onsubmit="SkyEditor.DOM.reflectLookupValue(this);" reRender="Component108,Component109,Component110,Component112,Component150" status="Component117_Status" /></apex:inputField>
</apex:outputPanel>
 <script type="text/javascript">
(function () {
  var id = '{!$Component.Component117}';
  var id_lkid = id + '_lkid';
  var ua = navigator.userAgent,
      isIPad = /\(iPad; /.test(ua),
      isIPhone = /\(iPhone; /.test(ua);

  jQuery(document.getElementById(id))
    .keydown(function(event) {
      if (event.keyCode === 13) {
          event.preventDefault();       }
    })
    .change(function(event) {
      customDisabledFieldItems();
        stopLinkClick();
    });

    jQuery(document.getElementById(id_lkid))
    .change(function() {
      customDisabledFieldItems();
        stopLinkClick();
    })
    .blur(function() {
      if (this.tagName !== 'SELECT') {
        return;
      }
      jQuery(this).change();
    });
  
  function stopLinkClick() {
    var id_lkwgt = id + '_lkwgt';
    document.getElementById(id_lkwgt).onclick=false;
    jQuery(document.getElementById(id_lkwgt))
      .on('click', SkyEditor.DOM.stopEvent).attr('disabled', 'disabled');
  }
  AutoCompleteInputElement.prototype.displaySuggestions = function () {};
})();
</script></apex:outputPanel></td><td  >
<apex:actionStatus id="Component117_Status">
  <apex:facet name="start">
    <apex:image url="/img/loading.gif" style="width:16px; height:16px; margin:auto; border:0; vertical-align:middle;" />
  </apex:facet>
</apex:actionStatus>
</td></tr>
</table></apex:actionRegion></td>							        	    				    								<td  colspan="1" rowspan="2"  style="text-align:left;vertical-align:middle;height:22px;">
	<!-- this is a multirowtableColumn -->
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component107"    value="{!Component88_item.record.account__c}" />
</apex:outputPanel>
</td>							        	    				    								<td  colspan="1" rowspan="2"  style="text-align:left;vertical-align:middle;height:22px;">
	<!-- this is a multirowtableColumn -->
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component108"    value="{!Component88_item.record.department__c}" />
</apex:outputPanel>
</td>							        	    				    								<td  colspan="1" rowspan="2"  style="text-align:left;vertical-align:middle;height:22px;">
	<!-- this is a multirowtableColumn -->
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component109"    value="{!Component88_item.record.Title__c}" />
</apex:outputPanel>
</td>							        	    				    								<td  colspan="1" rowspan="2"  style="text-align:left;vertical-align:middle;height:22px;">
	<!-- this is a multirowtableColumn -->
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component110"    value="{!Component88_item.record.yakuwari__c}" />
</apex:outputPanel>
</td>							        	    				    								<td  colspan="1" rowspan="2"  style="text-align:left;vertical-align:middle;height:22px;">
	<!-- this is a multirowtableColumn -->
<apex:outputPanel styleclass="fieldwrapper " style="color:#000000;font-size:1.0em;font-weight:Normal;" >
<apex:outputField id="Component112"    value="{!Component88_item.record.Mail__c}" />
</apex:outputPanel>
</td>							        	    				    								<td  colspan="1" rowspan="1"  style="text-align:left;vertical-align:middle;height:22px;">
	<!-- this is a multirowtableColumn -->
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component123" required="false"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component88_item.record.Report1__c}">
</apex:inputField>
</apex:outputPanel>
 </td>							        	    				    								<td  colspan="1" rowspan="1"  style="text-align:left;vertical-align:middle;height:22px;">
	<!-- this is a multirowtableColumn -->
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component125" required="false"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component88_item.record.PartnerReport__c}">
</apex:inputField>
</apex:outputPanel>
 </td>							        	    				    						        	    				    						        		</tr>
	<tr>
        		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    		    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				        	    				    						        	    				    						        	    				    						        	    				    						        	    				    						        	    				    						        	    				    						        	    				    						        	    				    						        	    				    								<td  colspan="1" rowspan="1"  style="text-align:left;vertical-align:middle;height:22px;">
	<!-- this is a multirowtableColumn -->
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component124" required="false"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component88_item.record.ReportSend1__c}">
</apex:inputField>
</apex:outputPanel>
 </td>							        	    				    								<td  colspan="1" rowspan="1"  style="text-align:left;vertical-align:middle;height:22px;">
	<!-- this is a multirowtableColumn -->
<apex:outputPanel styleclass="" style="" >
<apex:inputField id="Component126" required="false"  style="width:107px;color:#000000;font-size:1.0em;font-weight:Normal;"   value="{!Component88_item.record.PartnerReport_c__c}">
</apex:inputField>
</apex:outputPanel>
 </td>							        		</tr>
</apex:repeat>
</tbody>
</table>

<script type="text/javascript">
(function () {
if(jQuery("table[id$='Component88_table'] tbody tr").length > 0){
	var table, sortOptions, toolbox, filterOptions, pager, pagerOptions;
	table = document.getElementById("Component88_table") || document.getElementById("{!$Component.Component88_table}");
	sortOptions = {headers: { 0:{sorter: false}, 1:{sorter: "text"}, 2:{sorter: "text"}, 3:{sorter: "text"}, 4:{sorter: "text"}, 5:{sorter: "text"}, 6:{sorter: "text"}, 7:{sorter: "text"}, 8:{sorter: "text"}, 9:{sorter: "text"}, 10:{sorter: "text"}}};
	filterOptions = {inlineFilter: {}};
	SkyEditor.TableSorter.initialize(table, {
		rowsPerRecord: 2,
		sort: sortOptions,
		filter: filterOptions,
		pager: pagerOptions
	});
}
})();
</script>
</apex:outputPanel><apex:inputTextArea id="Component88_hiddenValue" value="{!Component88.hiddenValue}" style="display:none;" rendered="{!$ObjectType.AccountCustomer__c.createable && $ObjectType.AccountCustomer__c.fields.Opportunity_customer__c.createable}"></apex:inputTextArea>
<apex:commandButton id="Component88_importByJSON" action="{!Component88.importByJSON}" style="display:none;" reRender="Component88" rendered="{!$ObjectType.AccountCustomer__c.createable && $ObjectType.AccountCustomer__c.fields.Opportunity_customer__c.createable}"/>
<script type="text/javascript">
jQuery(document).ready(function () {
  if (typeof aggregateCalc_all === 'function') {
    aggregateCalc_all('Component88');
  }
});

if(SkyEditor.disableDetailPanel()){
	jQuery('[id$=Component88]').find('.SVE_DetailPanelBtn').remove();
}
</script>
	</apex:actionRegion>
</apex:outputPanel>
</apex:outputPanel>
<apex:outputPanel id="Component151" layout="block"  >
<apex:commandButton action="{!doSave}" id="Component147" value="取引先担当者更新"  style="width:167px;"   rendered="{!OR($ObjectType.Opportunity.createable,$ObjectType.Opportunity.updateable)}" />
</apex:outputPanel></apex:form><apex:outputPanel style="position:relative;" >
</apex:outputPanel><script type="text/javascript">
function aggregateCalc_all(triggerId) {
}
</script>
</apex:outputPanel>
</td></tr></table>
<div id="CustomLookupForSFoneDialog" style="display:none;" >
    <apex:pageBlock >
        <div id="CustomLookUpForSFoneConditons">
        </div> 
        <div id="CustomLookUpForSFoneTextConditons" style="clear:left;">
        </div><br style="clear:left;" />
    </apex:pageBlock>
    <apex:pageBlock >
        <apex:pageBlockButtons location="top" styleClass="CustomLookUpForSFoneButtons">
        </apex:pageBlockButtons>
        <div style="height:480px; overflow-y:scroll;" >
            <table class="list" id="CustomLookUpForSFoneListTable" cellspacing="0" cellpadding="0" border="0" >
                <thead class="CustomLookUpForSFoneListHeader">
                </thead>
                <tbody class="CustomLookUpForSFoneListBody"> 
                </tbody>
            </table>
        </div>
    </apex:pageBlock>
</div>
</apex:page>